<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <div class="col-sm-12">
    <div class="panel p-5">
            <h3 class="text-center py-5">Options Legion Academy Signup</h3>
            <form class="mx-auto" [formGroup]="profileForm" id="js-login" novalidate="" (ngSubmit)="callFactorySignUpAPI()" *ngIf="ready">
              <div class="form-group row">
                <label class="col-xl-12 form-label" for="password">Choose Your Password</label>
                <div class="col-12 pr-1">
                  <app-form-error-wrapper [control]="profileForm.controls['password']" [controlName]="'Password'">
                    <input type="text" id="password" class="form-control" placeholder="Enter your Password"
                      formControlName="password" />
                  </app-form-error-wrapper>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-12 mx-auto">
                  <button id="js-login-btn" type="submit" class="btn btn-block btn-success btn-lg mt-3" [disabled]="!profileForm.valid">
                   Proceed
                  </button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
