<app-binary-sub-header [title]="pageTitle" [icon]="pageIcon"></app-binary-sub-header>
<div class="alert alert-success">
    <div class="d-flex align-items-center">
    <div class="alert-icon">
        <span class="icon-stack icon-stack-sm">
        <i class="fab fa-bitcoin text-default"></i>
        </span>
    </div>
    <div class="flex-1">
        <span class="h5">Important!</span>
        <ul>
        <li>Coins will be deposited after 12 network confirmations.</li>
        </ul>
    </div>
    </div>
</div>
<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fal fa-credit-card mr-1"></i>Withdraw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-3"><i
                class="fab fa-bitcoin mr-1"></i>Withdraw with Crypto Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i
                class="fal fa-money-bill-alt mr-1"></i>My Withdrawals</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                      <div *ngIf="hasErrors">
                        <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                      </div>
                      <form [formGroup]="withdrawalForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalForm.controls['amount']" [controlName]="'Amount'">
                            <label class="form-label" for="amount">Amount</label>
                            <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                            <app-form-error-wrapper [control]="withdrawalForm.controls['reference']" [controlName]="'reference'">
                              <label class="form-label" for="reference">Description</label>
                              <input type="text" id="reference" class="form-control" placeholder="Description..." formControlName="reference"/>
                            </app-form-error-wrapper>
                          </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button type="submit" class="btn btn-block btn-danger btn-lg mt-3" (click)="withdrawNowAsync()" [disabled]="!withdrawalForm.valid">
                              Submit Now
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
            <app-binary-withdrawals></app-binary-withdrawals>
          </div>
          
          <!--Crypto Start--->
          <div class="tab-pane fade" id="js_pill_border_icon-3" role="tabpanel">
            <div class="row">
              <div class="col-xl-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                        <form [formGroup]="withdrawalWithCrypto" *ngIf="ready">
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['first_name']" [controlName]="'First Name'">
                                  <label class="form-label" for="first_name">First Name</label>
                                  <input type="text" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['last_name']" [controlName]="'Last Name'">
                                  <label class="form-label" for="last_name">Last Name</label>
                                  <input type="text" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['wallet_address']" [controlName]="'Wallet address'">
                                <label class="form-label" for="wallet_address">Tether Wallet Address</label>
                                <input type="text" id="wallet_address" class="form-control" placeholder="Tether Wallet address" formControlName="wallet_address"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['amount']" [controlName]="'Amount'">
                                <label class="form-label" for="amount">Amount</label>
                                <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="row no-gutters">
                              <div class="col-md-4 ml-auto text-left">
                                <button type="submit" class="btn btn-block btn-danger btn-lg mt-3" (click)="withdrawWithCryptoAsync()" [disabled]="!withdrawalWithCrypto.valid">
                                  Submit Now
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Crypto End-->
        </div>
      </div>
    </div>
  </div>
</div>
