<form class="form-horizontal" [formGroup]="validateForm" (ngSubmit)="validate()" novalidate>
  <div class="row">
    <div class="col-12">
      <div *ngIf="hasErrors">
        <div class="alert alert-danger">{{ httpError }}</div>
      </div>
      <label for="token">One-Time Password</label>
      <app-form-error-wrapper [control]="validateForm.controls['token']" [controlName]="'OTP'">
        <input type="text" class="form-control" name="token" id="token" formControlName="token"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          maxlength="6" />
      </app-form-error-wrapper>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <button type="submit" class="btn-lg btn-block shadow-0 btn btn-primary" [disabled]="!validateForm.valid || isLoading">
        Proceed
      </button>
    </div>
  </div>
</form>
