<div class="row">
  <div class="col-sm-12">
      <div id="panel-1" class="panel">
          <div class="panel-hdr">
              <h2>
                  Withdrawals History <span class="fw-300"><i>Overview</i></span>
              </h2>
              <div class="panel-toolbar">
                  <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                  <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              </div>
          </div>
          <div class="panel-container show">
              <div class="panel-content">
                  <!-- datatable start -->
                  <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                      <thead>
                          <tr>
                              <th>Date</th>
                              <th>Amount</th>
                              <th>Reference</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let withdrawal of withdrawals">
                              <td>{{withdrawal.date | date }}</td>
                              <td>{{withdrawal.amount | currency}}</td>
                              <td>{{withdrawal.reference}}</td>
                          </tr>
                          <tr *ngIf="!withdrawals?.length">
                            <td colspan="3">
                                <div class="text-center">No records</div>
                            </td>
                         </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Reference</th>
                          </tr>
                      </tfoot>
                  </table>
                  <!-- datatable end -->
              </div>
          </div>
      </div>
  </div>
</div>
