<div class="page-wrapper">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                    <img src="./assets/theme/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                    <span class="page-logo-text text-default mr-1" style="color: #333333">Options Legion</span>
                </a>
            </div>
            <span class="text-default opacity-60 ml-auto mr-2 hidden-sm-down">
                Dont have an account yet?
            </span>
            <a [routerLink]="['/client/register']" class="btn-link text-success ml-auto ml-sm-0">
                Create Account
            </a>
        </div>
      </div>
      <div class="flex-1">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col col-md-6 col-lg-7 hidden-sm-down">
                <h1 class="fw-300 m-0 l-h-n">
                    <span class="text-contrast">Binary Options</span>
                    <small class="fw-300 m-0 l-h-n">
                        Welcome to the largest expert guide to binary options and binary trading online.
                    </small>
                </h1>
                <p class="mt-4 fw-300 m-0">
                    A Legion binary option is a fast and extremely simple financial instrument which allows investors to speculate on whether the price of an asset will go up or down in the future, for example the stock price of Google, the price of Bitcoin, the USD/GBP exchange rate, or the price of gold. The time span can be as little as 60 seconds, making it possible to trade hundreds of times per day across any global market.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
              <h1 class="text-default fw-300 mb-3 d-sm-block d-md-none">
                Secure login
              </h1>
              <div class="card p-4 rounded-plus bg-faded">
                <div *ngIf="hasErrors">
                  <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                </div>
                <form id="js-login" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                  <div class="form-group">
                    <label class="form-label" for="username">Email Address</label>
                    <app-form-error-wrapper [control]="loginForm.controls['email']" [controlName]="'Email'">
                      <input class="form-control" type="text" formControlName="email" placeholder="Email" />
                    </app-form-error-wrapper>
                    <div class="help-block">Your unique email to app</div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <app-form-error-wrapper [control]="loginForm.controls['password']" [controlName]="'Password'">
                      <input class="form-control" type="password" formControlName="password" placeholder="Password" />
                    </app-form-error-wrapper>
                    <div class="help-block">Your password</div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-lg-12 pr-lg-1 my-2">
                      <button type="submit" class="btn btn-success btn-block btn-lg">SIGN IN NOW</button>
                    </div>
                  </div>
                  <p class="text-center mt-1">OR</p>
                  <div class="row no-gutters">
                    <div class="col-lg-12 pr-lg-1">
                      <a href="/client/register" class="btn btn-default btn-block btn-lg">CREATE ACCOUNT</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-default">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
