<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
    <div class="row">
        <div class="col-xl-12">
            <h2 class="fw-300 m-0 l-h-n mt-4 text-center">
                Options Legion Registeration
                <small class="h3 fw-300 mt-3 mb-5 text-default opacity-60 hidden-sm-down">
                    Enjoy on your mobile, desktop or tablet.
                    <br>It is ready to go wherever you go!
                </small>
            </h2>
        </div>
        <div class="offset-sm-3 col-sm-6 ml-auto mr-auto">
            <div class="card p-4 rounded-0">
                <div *ngIf="hasErrors">
                  <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                </div>
                <form id="js-login" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
                    <div class="form-group row">
                        <label class="col-xl-12 form-label" for="fname">Your first and last name</label>
                        <div class="col-6 pr-1">
                          <app-form-error-wrapper [control]="signupForm.controls['first_name']" [controlName]="'First Name'">
                            <input type="text" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name">
                          </app-form-error-wrapper>
                        </div>
                        <div class="col-6 pl-1">
                          <app-form-error-wrapper [control]="signupForm.controls['last_name']" [controlName]="'Last Name'">
                            <input type="text" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name">
                          </app-form-error-wrapper>
                        </div>
                    </div>
                    <div class="form-group">
                      <app-form-error-wrapper [control]="signupForm.controls['email']" [controlName]="'Email'">
                        <label class="form-label" for="email">Email will be needed for verification and account recovery</label>
                        <input type="email" id="email" class="form-control" placeholder="Email for verification" formControlName="email">
                        <div class="help-block">Your email will also be your username</div>
                      </app-form-error-wrapper>
                    </div>
                    <div class="form-group">
                      <app-form-error-wrapper [control]="signupForm.controls['password']" [controlName]="'Password'">
                        <label class="form-label" for="userpassword">Password: </label>
                        <input type="password" id="password" class="form-control" placeholder="minimm 8 characters" formControlName="password">
                        <span toggle="#password" class="fal fa-fw fa-eye field-icon toggle-password"></span>
                        <div class="help-block">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</div>
                      </app-form-error-wrapper>
                    </div>
                    <div class="form-group">
                      <app-form-error-wrapper [control]="signupForm.controls['password_confirmation']" [controlName]="'Confirm Password'">
                        <label class="form-label" for="password_confirmation">Confirm Password: </label>
                        <input type="password" id="password_confirmation" class="form-control" placeholder="minimm 8 characters" formControlName="password_confirmation">
                        <span toggle="#password_confirmation" class="fal fa-fw fa-eye field-icon toggle-password"></span>
                      </app-form-error-wrapper>
                    </div>
                    <div class="form-group">
                      <app-form-error-wrapper [control]="signupForm.controls['referral']" [controlName]="'Referral'">
                        <label class="form-label" for="referral">Referral: </label>
                        <input type="text" id="referral" class="form-control" placeholder="Referral" formControlName="referral">
                      </app-form-error-wrapper>
                    </div>
                    <div class="form-group demo">
                        <div class="custom-control custom-checkbox">
                          <app-form-error-wrapper [control]="signupForm.controls['terms']" [controlName]="'Terms & Conditions'">
                            <input type="checkbox" class="custom-control-input" id="terms" formControlName="terms">
                            <label class="custom-control-label" for="terms"> I agree to <a href="https://server.optionslegion.com/downloads/Terms_and_Conditions_Options_Legion.pdf" target="_blank">Terms & Conditions</a></label>
                          </app-form-error-wrapper>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4 ml-auto text-right">
                            <button id="js-login-btn" type="submit" *ngIf="!isLoading" [disabled]="!signupForm.valid" class="btn btn-block btn-view-packages shadow-0 rounded-0 btn-lg mt-3">Sign Up</button>
                            <button id="js-login-btn" type="submit" *ngIf="isLoading" [disabled]="isLoading" class="btn btn-block btn-danger btn-lg mt-3">Please Wait...</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
