h1 {
  font-size: 46px;
  font-weight: bold;
  color: white;
  margin-top: 70px;
  margin-left: 45px;
}

span {
  color: #ffc947;
}

@media screen and (min-width: 768px) {
  .background {
    height: 450px;
    background: url(/assets/images/award_bg.jpg) no-repeat;
    background-size: cover;
  }
  span {
    color: #ffc947;
  }
}

@media screen and (min-width: 1920px) {
  .background {
    height: 550px;
    background: url(/assets/images/award_bg.jpg) no-repeat;
    background-size: cover;
  }
  span {
    color: #ffc947;
  }
}

@media screen and (max-width: 767px) {
  .background {
    height: 600px;
    background: url(/assets/images/award_bg.jpg) no-repeat;
    background-position-x: 86%;
  }
  h1 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    margin-left: 23px;
  }
  span {
    color: #ffc947;
  }
}

.timer,
.timer-done,
.timer-loop {
  font-size: 36px;
  color: red;
  font-weight: bold;
}
.jst-hours {
  float: left;
}
.jst-minutes {
  float: left;
}
.jst-seconds {
  float: left;
}
.jst-clearDiv {
  clear: both;
}
.jst-timeout {
  color: red;
}

@media screen and (max-width: 705px) {
  h3 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Poppins';
  }

  #mins,
  #secs {
    margin-left: -8px;
  }

  #hours {
    margin-left: -15px;
  }

  #days {
    margin-left: -5px;
  }
}

.counter {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Poppins';
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
