<app-sub-header [title]="pageTitle" [showIncomes]="true" [icon]="pageIcon"></app-sub-header>
<div class="container-fluid">
  <div class="text-center justify-content-center align-self-center"></div>

<div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="border-radius: 20px !important;">
      <div class="col-lg-12 col-md-6 col-sm-12 p-0" >
        <img src="/assets/images/TEXT-TWO.jpg" class="img w-100" alt="">
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let path of imagePath">
      <img src="{{path.path}}" class="img w-100" alt="">
    </div>
  </div>
</div>