<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card p-4 rounded-0">
                        <h1 class="mb-0 mt-2 text-default text-center">
                            Password assistance
                            <small class="h3 fw-300 mt-3 mb-5 opacity-60 hidden-sm-down">
                                Enter the email address associated with your OptionsLegion account.
                            </small>
                        </h1>
                        <div *ngIf="hasErrors">
                            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                          </div>
                        <form id="js-login" [formGroup]="resetPasswordForm" (ngSubmit)="requestPasswordResetEmail()">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label" for="email">Email</label>
                                    <app-form-error-wrapper [control]="resetPasswordForm.controls['email']" [controlName]="'Email'">
                                      <input class="form-control" type="email" formControlName="email" placeholder="email@example.com" />
                                    </app-form-error-wrapper>
                                    <div class="help-block">Your password</div>
                                </div>
                                <div class="invalid-feedback">No, you missed this one.</div>
                                <div class="help-block">We will email you the instructions</div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success shadow-0 rounded-0 btn-lg btn-block">Recover Password</button>
                                </div>
                            </div>
                        </form>
                        <div class="my-4">
                            <h4>Has your email or mobile number changed?</h4>
                            <p class="text-default">If you no longer use the email address associated with your Optionslegion account, you may contact Customer Service for help restoring access to your account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>