.loginbtn {
  border: 1px solid black;
  background-color: #000000;
}

.field-icon {
  float: right;
  margin-right: 8px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.product {
  h1 {
    height: 80px;
  }

  .description {
    height: 130px;
  }
}

.page-sidebar {
  padding: 5px 0.625rem;
}
.nav-menu {
  margin-left: 0px !important;
}

.page-logo {
  padding: 7px 0 0 0;
}

.page-logo img {
  width: 110px;
}

@media only screen and (max-width: 992px) {
  .page-wrapper .page-sidebar .primary-nav {
    height: 500px;
  }
}

.product {
  h1 {
    height: 80px;
  }

  @media only screen and (min-width: 576px) {
    .description {
      min-height: 150px;
    }
  }

  @media only screen and (max-width: 992px) {
    .btn {
      margin-top: 20px;
    }
  }
}

.page-sidebar {
  padding: 5px 0.625rem;
}
.nav-menu {
  margin-left: 0px !important;
}

.btn-view-packages {
  background-color: #eb3237;
  color: #fff;
  border: 1px solid #eb3237;
  padding: 10px 30px;
  font-family: 'Poppins';
  letter-spacing: 1px;
}

#line {
  border-bottom: 2px solid #eb3237;
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: auto;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  font-family: 'Poppins';
}

h2,
h3 {
  font-weight: 300;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-weight: 300;
  font-size: 15px;
}

.navbar-nav {
  li {
    margin-top: 7px;
    a {
      color: #fff;
      padding-top: 7px;
    }
  }
}

button {
  font-weight: 500;
}

footer {
  font-weight: 300;
  font-size: 13px;

  ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none !important;
  }

  a[target]:not(.btn) {
    text-decoration: none !important;
    font-weight: normal !important;
  }
}

.debug {
  border: 1px solid red;
}

.logo {
  width: 100px;
}

.btn-red {
  background-color: #eb3237 !important;
  border: 1px solid #eb3237;
  color: #fff;
}

.bg-dark {
  background-color: #000000 !important;
}

.section-vp {
  padding-top: 40px;
  padding-bottom: 40px;
}

.poppins-b500 {
  font-family: 'Poppins';
  font-weight: 500;
}

.color-red {
  color: #eb3237;
}

.bullet-no {
  color: #eb3237;
  font-weight: 500;
  font-family: 'Poppins';
  padding-right: 20px;
}

.bg-lightblue {
  background-color: #edecec;
}

.footer-logo {
  width: 100px;
}

footer {
  p.intro {
    margin-top: 15px;
    line-height: 25px;
    font-size: 13px;
  }

  h5 {
    color: #7e7e7e;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .desktop-trading-screen-mb {
    height: 200px;
    background: url(assets/images/header-image-platform-preview.png) no-repeat;
    background-position-x: 200px;
    background-size: 200px;
    margin-top: -170px;
  }

  .desktop-trading-screen {
    display: none;
  }

  #protection-section {
    background: none !important;
  }

  #how-to-manage-risk-section {
    background: none !important;
  }

  #what-are-binary-options-section {
    background: none !important;
  }

  #binary-option-offer-section {
    background: none !important;
  }

  .arrow {
    height: 50px;
    margin-top: 30px;
    margin-right: 15px;
    background: url(assets/images/arrow.png) no-repeat;
    display: block;
  }
}

@media screen and (min-width: 350px) and (orientation: portrait) {
  .news-mobile {
    margin: 0 auto;
    img {
      width: 300px;
      margin-top: 0px;
    }
  }

  .navbar-nav {
    li {
      a {
        color: #fff;
      }
    }
  }

  .menu-button button {
    font-size: 14px;
    margin-top: 15px;
  }

  .navbar {
    padding: 0px;
  }

  #menu-bar {
    background-color: #000000;
  }

  #intro {
    h1 {
      font-size: 22px;
      margin-top: 75px;
    }

    h3 {
      font-size: 18px;
    }

    .desktop-trading-screen-mb {
      height: 160px;
      background: url(assets/images/header-image-platform-preview.png) no-repeat;
      background-position-x: 200px;
      background-size: 160px;
      margin-top: -140px;
    }
  }

  .desktop-trading-screen {
    display: none;
  }

  #binary-option-offer-section {
    background-size: 600px;
    background-position-y: 70px;
  }

  #protection-section {
    background-position-y: 150px;
    background-size: 400px 371px;
  }

  #how-to-manage-risk-section {
    background-position-y: 50px;
    background-size: 400px 371px;
  }

  #what-are-binary-options-section {
    background-position-y: -50px;
    background-size: 400px 583px;
  }

  .trading-app-mobile {
    display: none;
  }

  .arrow {
    height: 50px;
    margin-top: 30px;
    margin-right: 15px;
    background: url(assets/images/arrow.png) no-repeat;
    display: block;
  }
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .container-fluid {
    padding: 0px;
  }

  .menu-button {
    display: none;
  }

  #menu-bar {
    background-color: #000000;
  }

  .navbar {
    margin-top: 7px;
  }

  #intro {
    h1 {
      font-size: 36px;
      margin-top: 25px;
    }

    h3 {
      font-size: 24px;
    }
    .desktop-trading-screen-mb {
      display: none;
    }
  }

  .desktop-trading-screen {
    height: 500px;
    background: url(assets/images/header-image-platform-preview.png) no-repeat;
    background-size: 500px;
    margin-top: -110px;
    display: block;
  }

  #binary-option-offer-section {
    background: url(assets/images/bg.jpg) no-repeat;
    background-size: 600px;
    background-position-y: 70px;
  }

  #protection-section {
    background: url(assets/images/trading-chart-mobile.jpg) no-repeat;
    background-position-y: 150px;
    background-size: 300px;
  }

  #how-to-manage-risk-section {
    background: url(assets/images/guy-with-trading-desk.jpg) no-repeat;
    background-position-y: 50px;
    background-size: 300px;
  }

  #what-are-binary-options-section {
    background: url(assets/images/tablet-trading-app.png) no-repeat;
    background-position-y: -50px;
    background-size: 250px;
  }

  .trading-app-mobile {
    display: block;
  }

  .products {
    .box {
      border-radius: 20px;
      .card-body {
        padding: 30px;
        .intro {
          height: 280px;
        }
      }

      .arrow {
        height: 50px;
        margin-top: 30px;
        margin-left: 165px;
        background: url(assets/images/arrow.png) no-repeat;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .container-fluid {
    padding: 0px;
  }

  .menu-button {
    display: none;
  }

  #menu-bar {
    background-color: #000000;
  }

  .navbar-nav {
    li {
      margin-top: 0px;
      a {
        color: #fff;
        padding-top: 7px;
      }
    }
  }

  #intro {
    h1 {
      font-size: 36px;
      margin-top: 25px;
    }

    h3 {
      font-size: 24px;
    }
    .desktop-trading-screen-mb {
      display: none;
    }
  }

  .desktop-trading-screen {
    height: 500px;
    background: url(assets/images/header-image-platform-preview.png) no-repeat;
    background-size: 500px;
    margin-top: -110px;
    display: block;
  }

  #binary-option-offer-section {
    background: url(assets/images/bg.jpg) no-repeat;
    background-size: 600px;
    background-position-y: 70px;
  }

  #protection-section {
    background: url(assets/images/trading-chart-mobile.jpg) no-repeat;
    background-position-y: 150px;
    background-size: 400px 330px;
  }

  #how-to-manage-risk-section {
    background: url(assets/images/guy-with-trading-desk.jpg) no-repeat;
    background-position-y: 50px;
    background-size: 400px;
  }

  #what-are-binary-options-section {
    background: url(assets/images/tablet-trading-app.png) no-repeat;
    background-position-y: -50px;
    background-size: 400px;
  }

  .trading-app-mobile {
    height: 620px;
    background: url(assets/images/trading-app-mobile.png) top right no-repeat;
    background-size: 100%;
    position: absolute;
    right: -1px;
    width: 400px;
    top: -50px;
  }
}

@media screen and (min-width: 1920px) {
  #what-are-binary-options-section {
    background: url(assets/images/tablet-trading-app.png) no-repeat;
    background-position-y: -50px;
    background-size: 600px 778px;
  }

  .trading-app-mobile {
    height: 901px;
    background: url(assets/images/trading-app-mobile.png) top right no-repeat;
    position: absolute;
    right: -1px;
    width: 581px;
    top: -50px;
  }

  .products {
    .box {
      border-radius: 20px;
      .card-body {
        padding: 30px;
        .intro {
          height: 240px;
        }
      }

      .arrow {
        height: 50px;
        margin-top: 30px;
        margin-left: 205px;
        background: url(assets/images/arrow.png) no-repeat;
        display: block;
      }
    }
  }
}

// Apple iPhone XS Max Landscape Media Queries
@media only screen and (min-width: 896px) and (orientation: landscape) {
  #binary-option-offer-section {
    background: url(assets/images/bg.jpg) no-repeat;
    background-size: 600px;
    background-position-y: 70px;
  }

  #protection-section {
    background: url(assets/images/trading-chart-mobile.jpg) no-repeat;
    background-position-y: 150px;
    background-size: 300px;
  }

  #how-to-manage-risk-section {
    background: url(assets/images/guy-with-trading-desk.jpg) no-repeat;
    background-position-y: 50px;
    background-size: 300px;
  }

  #what-are-binary-options-section {
    background: url(assets/images/tablet-trading-app.png) no-repeat;
    background-position-y: -50px;
    background-size: 300px 389px;
  }
}


.silver {
    .page-sidebar {
        background-color: #6e7275;
    }
    .dashboard-item {
        border: 3px solid #6e7275;
    }


    .nav-menu li a {
        i {
            color: #fff;
        }
        color: #fff;
    }
}

.bronze {
    .page-sidebar {
        background-color: #bf824b;
    }
    .dashboard-item {
        border: 3px solid #bf824b;
    }
}

.gold {
    .page-sidebar {
        background-color: #FFC947;
    }
    .dashboard-item {
        border: 3px solid #FFC947;
    }
}


.diamond {
    .page-sidebar {
        background-color: #55e8f8;
    }
    .dashboard-item {
        border: 3px solid #55e8f8;
    }
}

.guest {
    .page-sidebar {
        background-color: #fff;
    }
    .dashboard-item {
        border: 3px solid #333;
    }
}

.node p {
  font-size: 100%;
}


.parent-node {
  background-color: #ea4335 !important;
  color: #fff;
  border-bottom: 5px solid #fbbc05 !important;
  p {
    line-height: 10px;
    padding: 0px;
    margin: 10px auto;
    text-align: center;
  }
  .node-name {
    text-align: center;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 110%;
  }
}

.direction-right {
  .node-name {
    text-align: center;
    font-size: 110%;
    font-weight: 500;
  }
  .node-id_nick {
    margin: 5px 0px;
  }
  border-bottom: 5px solid #34a853;
  background-color: #333 !important;
  color: #fff,
}

.direction-left {
  .node-name {
    text-align: center;
    font-weight: 500;
    font-size: 110%;
  }
  .node-id_nick {
    margin: 5px 0px;
  }
  border-bottom: 5px solid #4285f4;
  background-color: #333 !important;
  color: #fff,
}
