<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-6">
            <img src="./assets/theme/img/logo.svg" class="logo my-2 pl-2" />
          </div>
          <div class="col-6 col-md-6 text-right menu-button">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              MENU
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" id="menu-bar">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <nav class="navbar navbar-expand-sm">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/news']">News</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/foundation']">Foundation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" [routerLink]="['/faq']">FAQ</a></li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://blog.optionslegion.com">Blog</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="col-sm-4">
                <div class="text-right">
                  <a [routerLink]="['/login']"
                    class="loginbtn btn btn-sm btn-outline-light my-2 text-white mr-2 rounded-0">Login</a>
                  <a [routerLink]="['/register']" style="background-color: #eb3237 !important"
                    class="btn btn-sm btn-red my-2 text-white rounded-0">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="container-fluid bg-dark text-white">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="container section-vp">
        <div class="row">
          <div class="col-12 col-sm-4">
            <img src="./assets/images/logo-footer.png" class="footer-logo" />
            <p class="intro">
              We provide trading solutions to our worldwide customers to trade
              in foreign exchange, crypto coins and bullion metals like gold and
              silver.
            </p>
          </div>
          <div class="col-12 col-sm-4">
            <div class="row">
              <div class="col">
                <h5>QUICK LINKS</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <ul class="list-unstyled">
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/about']">About</a></li>
                  <li><a [routerLink]="['/news']">News</a></li>
                  <li><a [routerLink]="['/faq']">FAQ</a></li>
                  <li><a [routerLink]="['/foundation']">Foundation</a></li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-unstyled">
                  <li><a style="text-decoration: none !important; text-decoration-line: none !important;" href="https://server.optionslegion.com/downloads/PRIVACY_POLICY_Options_Legion.pdf" target="_blank">Privacy Policy</a></li>
                  <li><a style="text-decoration: none !important; text-decoration-line: none !important;" href="https://server.optionslegion.com/downloads/Terms_and_Conditions_Options_Legion.pdf" target="_blank">Terms & Conditions</a></li>
                  <li><a style="text-decoration: none !important; text-decoration-line: none !important;"
                      href="https://blog.optionslegion.com">Blog</a></li>
                  <li><a [routerLink]="['contact']">Contact</a></li>
                  <li>
                    <a [routerLink]="['terms-and-conditions']">Terms of use</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <h5>SOCIAL MEDIA</h5>
            <a href="#">
              <img src="./assets/images/fb-icon.png" target="_blank" class="px-2" />
            </a>
            <a href="https://twitter.com/LegionOptions?s=08">
              <img src="./assets/images/twitter-icon.png" target="_blank" class="px-2" />
            </a>
            <a href="https://www.instagram.com/optionslegion/?igshid=1f209jwb75d1m">
              <img src="./assets/images/insta-icon.png" target="_blank" class="px-2" />
            </a>
            <a href="https://www.linkedin.com/in/options-legion-561a8b1a7">
              <img src="./assets/images/linkedin-icon.png" target="_blank" class="px-2" />
            </a>

            <p class="mt-2">
              &copy; Copyright 2018 - Options Legion<br />All rights reserved
            </p>

            <a href="https://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://optionslegion.com/login&x=6&y=5" target="_blank"><img src="./assets/images/positivessl_trust_seal_md_167x42.png"></a>


          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="alert-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ alert?.title }}
          <small class="m-0 text-muted">
            {{ alert?.sub_title }}
          </small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        {{ alert?.body }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ alert?.close_text }}
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ alert?.ok_text }}
        </button>
      </div>
    </div>
  </div>
</div>
