<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="card bg-default text-default text-center p-3">
            <blockquote class="blockquote">
                <div class="fa-4x text-danger">
                    <div><i class="fal fa-thumbs-up"></i></div>
                </div>
                    <h3 class="text-danger">Follow Us: </h3>
                    <div class="text-center social">
                        <a href="#">
                            <img src="./assets/theme/img/icons/Facebook-color.svg" target="_blank" width="50" class="px-2">
                        </a>
                        <a href="https://twitter.com/LegionOptions?s=08">
                            <img src="./assets/theme/img/icons/Twitter-color.svg" target="_blank" width="50" class="px-2">
                        </a>
                        <a href="https://www.instagram.com/optionslegion/?igshid=1f209jwb75d1m">
                            <img src="./assets/theme/img/icons/Instagram-color.svg" target="_blank" width="50" class="px-2">
                        </a>
                        <a href="https://www.linkedin.com/in/options-legion-561a8b1a7">
                            <img src="./assets/theme/img/icons/LinkedIn-color.svg" target="_blank" width="50" class="px-2">
                        </a>
                    </div>
            </blockquote>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card bg-default text-default text-center p-3">
            <blockquote class="blockquote mb-0">
                <div class="fa-4x d-inline l-h-n text-danger">
                    <div><i class="fal fa-ticket-alt"></i></div>
                </div>
                <h3 class="text-danger">Support Ticket</h3>
                <a routerLink="/portal/tickets" class="mt-1 btn btn-default btn-block btn-md">Open a Ticket</a>
            </blockquote>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card bg-default text-default text-center p-3">
            <blockquote class="blockquote mb-0">
                <div class="fa-4x d-inline l-h-n text-danger">
                    <div><i class="fal fa-map-marker"></i></div>
                    <h3>Address</h3>
                </div>
                <p>Krinou 3, 4103, Agios Athanasios Municipality, Lemesos Cyprus</p>
            </blockquote>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card bg-default text-default text-center p-3">
            <blockquote class="blockquote mb-0">
                <div class="fa-4x d-inline l-h-n text-danger">
                    <div><i class="fal fa-envelope"></i></div>
                    <h3>Email</h3>
                </div>
                <p>support@optionslegion.com</p>
            </blockquote>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card bg-default text-default text-center p-3">
            <blockquote class="blockquote mb-0">
                <div class="fa-4x d-inline l-h-n text-danger">
                    <div><i class="fal fa-mobile"></i></div>
                    <h3>Phone</h3>
                </div>
                <p>+357 96950976</p>
            </blockquote>
        </div>
    </div>
</div>
<div class="spacer"></div>
