<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fal fa-credit-card mr-1"></i>My Investments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" (click)="goToDepositWithPerfectMoney()"><i
                class="fal fa-money-bill-alt mr-1"></i>Make Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i
                class="fal fa-gift mr-1"></i>Packages</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
                <div class="col-sm-12">
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            <h2>
                                Investment History <span class="fw-300"><i>Overview</i></span>
                            </h2>
                            <div class="panel-toolbar">
                                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                  <app-loading *ngIf="loading"></app-loading>
                                  <table id="tbl-investments" class="table table-bordered table-hover table-striped w-100">
                                      <thead>
                                          <tr>
                                              <th>Date</th>
                                              <th>Method</th>
                                              <th>Amount</th>
                                              <th>Bonus</th>
                                              <th>Total</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let investment of investments">
                                              <td>{{investment.date}}</td>
                                              <td>{{investment.method_id}}</td>
                                              <td>${{investment.amount}}</td>
                                              <td>${{investment.bonus}}</td>
                                              <td>${{investment.total}}</td>
                                          </tr>
                                          <tr *ngIf="!investments?.length">
                                              <td colspan="5">
                                                  <div class="text-center">No records</div>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
            <!-- Packages Start -->

            <div class="container wrapper">
                <div class="box box_bronze my-5">
                    <div class="mt">
                        <ul class="m-0">
                            <li class="text-left">Monthly Income 4-5%</li>
                            <li class="text-left">Duration 24 months</li>
                            <li class="text-left">Referral Income 4%</li>
                            <li class="text-left">Binary Income 10%</li>
                            <li class="text-left">Capping Limit $1000</li>
                            <li class="text-left">Withdrawal Fee 4%</li>
                            <li class="text-center"><a href="javascript:;" (click)="selectPackage(1)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
                        </ul>
        
                    </div>
                </div>
                <div class="box box_silver my-5">
                    <div class="mt">
                        <ul class="m-0">
                            <li class="text-left">Monthly Income 5-6%</li>
                            <li class="text-left">Duration 24 months</li>
                            <li class="text-left">Referral Income 5%</li>
                            <li class="text-left">Binary Income 10%</li>
                            <li class="text-left">Capping Limit $3000</li>
                            <li class="text-left">Withdrawal Fee 4%</li>
                            <li class="text-center"><a href="javascript:;" (click)="selectPackage(2)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box box_gold my-5">
                    <div class="mt">
                        <ul class="m-0">
                            <li class="text-left">Monthly Income 6-7%</li>
                            <li class="text-left">Duration 24 months</li>
                            <li class="text-left">Referral Income 6%</li>
                            <li class="text-left">Binary Income 10%</li>
                            <li class="text-left">Capping Limit $5000</li>
                            <li class="text-left">Withdrawal Fee 4%</li>
                            <li class="text-center"><a href="javascript:;" (click)="selectPackage(3)" class="btn btn-light w-75 my-3 ">SELECT PLAN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box box_diamond my-5">
                    <div class="mt">
                        <ul class="m-0">
                            <li class="text-left">Monthly Income 7-8%</li>
                            <li class="text-left">Duration 24 months</li>
                            <li class="text-left">Referral Income 7%</li>
                            <li class="text-left">Binary Income 10%</li>
                            <li class="text-left">Capping Limit $7000</li>
                            <li class="text-left">Withdrawal Fee 4%</li>
                            <li class=" text-center"><a href="javascript:;" (click)="selectPackage(4)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Packages End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
