<ol class="breadcrumb page-breadcrumb">
  <li class="breadcrumb-item">Binary Platform</li>
  <li class="breadcrumb-item active">{{ title }}</li>
  <li class="position-absolute pos-top pos-right d-none d-sm-block">
    <span class="js-get-date mt-3"></span>
  </li>
</ol>
<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon {{ icon }}"></i
    ><span class="fw-300">{{ title }}</span>
  </h1>

  <div class="d-none d-md-block subheader-block d-lg-flex align-items-center border-faded border-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>INVESTED</small>
      </span>
      <span class="fw-500 fs-xl d-block color-danger">
        {{ profile?.summary.total_deposit_amount | currency }}
      </span>
    </div>
  </div>
  <div class="d-none d-md-block subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>WITHDRAWALS</small>
      </span>
      <span class="fw-500 fs-xl d-block color-default-300">
        {{ profile?.summary.total_withdraw_amount | currency }}
      </span>
    </div>
  </div>
  <div class="d-none d-md-block subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>PROFIT</small>
      </span>
      <span class="fw-500 fs-xl d-block color-danger-300">
        {{ profile?.summary.total_wins | currency }}
      </span>
    </div>
  </div>

  <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>AVAILABLE</small>
      </span>
      <span class="fw-500 fs-xl d-block color-success-500">
        {{ profile?.balance | currency }}
      </span>
    </div>
  </div>

  <div class="subheader-block d-lg-flex align-items-right border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3" *ngIf="!isDemo">
        <button (click)="switchToDemoAccount()" class="btn btn-md btn-danger waves-effect waves-themed">Try Demo</button>
    </div>

    <div class="d-inline-flex flex-column justify-content-center mr-3" *ngIf="isDemo">
        <button (click)="switchToRealAccount()" class="btn btn-md btn-success waves-effect waves-themed">Live Account</button>
    </div>

    <div class="d-inline-flex flex-column justify-content-center mr-3">
        <a routerLink="/binary/withdraw" class="btn btn-md btn-secondary waves-effect waves-themed">Withdraw</a>
    </div>

    <div class="d-inline-flex flex-column justify-content-center">
        <a routerLink="/binary/deposit" class="btn btn-md btn-success waves-effect waves-themed">Deposit</a>
    </div>
  </div>
</div>


<div class="modal fade" id="demo-account-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
