<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <!-- profile summary -->
      <div class="card mb-g rounded-top">
        <div class="row no-gutters row-grid">
          <div class="col-12">
            <div class="d-flex flex-column align-items-center justify-content-center p-4">
              <img src="/assets/images/user-icon-black.svg"  width="100" height="100"
                class="rounded-circle shadow-2 img-thumbnail mt-2" alt="" />
              <h5 class="mb-0 fw-700 text-center mt-3">
                {{ client?.profile.first_name }} {{ client?.profile.last_name }}
                <small class="text-muted mb-0">{{ client?.profile.city }},
                  {{ client?.profile.country }}</small>
              </h5>
              <h5 class="mb-0 fw-700 text-center mt-1">
                <span class="badge badge-danger badge-pill" *ngIf="client?.profile.kyc_verified === 0">KYC Not
                  Verified</span>
                <span class="badge badge-success badge-pill" *ngIf="client?.profile.kyc_verified === 1">KYC
                  Verified</span>
              </h5>
              <p class="text-muted mt-2 text-small text-center" *ngIf="client?.profile.kyc_verified === 0">
                Your KYC is not completed, please click the 'KYC' tab to start your KYC Process.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center py-3">
              <h5 class="mb-0 fw-700">
                $0
                <small class="text-muted mb-0">Total Profit</small>
              </h5>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center py-3">
              <h5 class="mb-0 fw-700">
                {{ client?.profile.balance | currency }}
                <small class="text-muted mb-0">Available Balance</small>
              </h5>
            </div>
          </div>
          <div class="col-12">
            <div class="p-3 text-center">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#password_change_model"
                class="btn-link font-weight-bold">Change Password</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card p-4 rounded-plus" *ngIf="ready">
        <div *ngIf="hasErrors">
          <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
        </div>
        <div class="alert alert-primary" *ngIf="showAlert">
          <p class="fw-500">Operation not permitted!</p>
          You cannot update your profile information, as your KYC has already
          been approved. Please contact us at
          <a href="mailto:support@optionslegion.com">support@optionslegion.com</a>
          if you want to update your profile information.
        </div>

        <!-- Tabs Start -->
        <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab-profile" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab-security" role="tab">Security</a>
          </li>
          <li class="nav-item" *ngIf="!client?.profile.kyc_verified">
            <a class="nav-link" data-toggle="tab" href="#tab-kyc" role="tab">KYC</a>
          </li>
        </ul>
        <div class="tab-content p-3">
          <div class="tab-pane fade" id="tab-kyc" role="tabpanel" aria-labelledby="tab-time">
            <div *ngIf="client?.profile.kyc_submitted">
              <div class="alert alert-success">
                Your KYC documents are submitted.
              </div>
            </div>
            <form [formGroup]="uploadForm" id="upload-file-form" novalidate="" *ngIf="showUploadDocuments && !client?.profile.kyc_submitted">
              <div *ngIf="hasErrors">
                <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
              </div>
              <div *ngIf="!submittingKYC">
                <div class="alert alert-success">
                  In order to complete your KYC, you need to submit one selfie holding your ID card or passport.
                </div>
                <div class="form-group">
                  <label class="form-label">Choose the document type <span style="color: red;">*</span></label>
                    <select id="document_type" name="document_type" class="cfm form-control"
                      (change)="onTypeSelected($event.target.value)" formControlName="document_type">
                      <option value=""></option>
                      <option value="Driving License">Driving License</option>
                      <option value="Passport">Passport</option>
                      <option value="ID">ID</option>
                      <option value="Utility Bill">Utility Bill</option>
                      <option value="ID Card">ID Card</option>
                      <option value="Selfie With ID Card">Selfie With ID Card</option>
                      <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                  <div [hidden]="hideDropZone">
                    <label class="form-label">Click below to choose your file: <span style="color: red;">*</span></label>
                    <app-upload-media [document_type]="selectedDocumentType" (mediaUploaded)="mediaHasBeenUploaded($event)"></app-upload-media>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="documentsUploaded && !submittedKyc">
              <div class="row mt-2">
                <div class="col">
                  <p class="text-bold">Your file(s) uploaded successfuly, would you like to upload another file?</p>
                </div>
              </div>
              <div class="row mt-2">
                  <div class="col-sm-12 col-md-6 mt-2">
                    <button class="btn btn-outline-default btn-block" (click)="uploadMoreDocuments()">Yes, Upload another document</button>
                  </div>
                  <div class="col-sm-12 col-md-6 mt-2">
                    <button class="btn btn-success btn-block shadow-0" (click)="submitKyc()">No, Submit documents for review</button>
                  </div>
              </div>
            </div>

            <a class="btn btn-outline-default waves-effect waves-themed mt-5" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
              View Your Documents
            </a>

            <div class="collapse mt-5" id="collapseExample">
              <div class="card card-body">
                <table class="table w-100">
                  <thead>
                    <tr>
                      <th>File</th>
                      <th>Document Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doc of KYCDocuments">
                      <td>
                        <a href="https://server.optionslegion.com/ClientsDocuments/{{doc.document_file}}" target="_blank">View</a>
                      </td>
                      <td>{{ doc.document_type }}</td>
                    </tr>
                    <tr *ngIf="KYCDocuments.length === 0">
                      <td colspan="2" class="text-center">No documents</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="tab-profile" role="tabpanel" aria-labelledby="tab-profile">
            <form [formGroup]="profileForm" id="js-login" novalidate="" (ngSubmit)="updateProfile()">
              <div class="form-group row">
                <label class="col-xl-12 form-label" for="fname">Your first and last name</label>
                <div class="col-6 pr-1">
                  <app-form-error-wrapper [control]="profileForm.controls['first_name']" [controlName]="'FirstName'">
                    <input type="text" id="first_name" class="form-control" placeholder="First Name"
                      formControlName="first_name" />
                  </app-form-error-wrapper>
                </div>
                <div class="col-6 pl-1">
                  <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Last Name'">
                    <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                      formControlName="last_name" />
                  </app-form-error-wrapper>
                </div>
              </div>
              <!-- <div class="form-group">
            <label class="form-label" for="emailverify">Email</label>
            <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Email'">
            <input type="email" id="email" class="form-control" placeholder="Email for verification"
               formControlName="email" />
            </app-form-error-wrapper>
         </div> -->
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-label">Mobile: </label>
                    <app-form-error-wrapper [control]="profileForm.controls['mobile']" [controlName]="'Mobile'">
                      <input type="text" class="form-control" formControlName="mobile" />
                    </app-form-error-wrapper>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-label">Phone: </label>
                    <input type="text" class="form-control" formControlName="phone" />
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Address: </label>
                <textarea class="form-control" formControlName="address"></textarea>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-label">City: </label>
                    <input type="text" class="form-control" formControlName="city" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="form-label">Country: </label>
                    <input type="text" class="form-control" formControlName="country" />
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-8"></div>
                <div class="col-md-4 ml-auto text-right">
                  <button id="js-login-btn" type="submit" class="btn btn-block shadow-0 btn-success btn-lg mt-3"
                    [disabled]="!profileForm.valid">
                    Save Changes
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="tab-security" role="tabpanel" aria-labelledby="tab-time">
            <div class="row">
              <div class="col-sm-12 p-0 m-0">
                <div class="card shadow-0">
                  <div class="card-body">
                    <h5 class="card-title">Two-Step Verification</h5>
                    <p class="card-text">
                      Use an Google Authenticator, or Email Codes
                    </p>
                    <p class="card-text">
                      Two-step verification helps to prevent unauthorized access
                      to your account by requiring a one-time password for every
                      login attempt. Enable this to further secure your account.
                    </p>

                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <a href="javascript:;" (click)="enable2FA('Google Authenticator')" style="color: #333">
                          <div class="card shadow-0">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-3">
                                  <span class="fa-3x d-inline l-h-n"><i class="fab fa-google"></i></span>
                                </div>
                                <div class="col-9">
                                  <h5 class="card-title">
                                    Google Authenticator
                                  </h5>
                                  <p class="card-text">
                                    Use app generated-codes
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-12 col-sm-6">
                        <a href="javascript:;" (click)="enable2FA('email')" style="color: #333">
                          <div class="card shadow-0">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-3">
                                  <span class="fa-3x d-inline l-h-n">
                                    <i class="fal fa-envelope"></i>
                                  </span>
                                </div>
                                <div class="col-9">
                                  <h5 class="card-title">Email Codes</h5>
                                  <p class="card-text">
                                    Use codes sent via email
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="qr-code my-3" *ngIf="scanQRCode">
                      <div class="card shadow-0">
                        <div class="offset-sm-4 col-12 col-sm-4 text-center" *ngIf="showQrCodeDisable">
                          <p>Your account is now protected with Google Two Factor Authentication.</p>
                          <p>You can disable it using following button:</p>
                          <button [disabled]="submitted" (click)="disableGoogle2FA()"
                            class="my-2 shadow-0 btn btn-md btn-block btn-primary">
                            Disable Google 2FA
                          </button>
                        </div>
                        <div *ngIf="!showQrCodeDisable">
                          <div class="card-body">
                            <h5 class="card-title fw-500">
                              Two-Step Verification - Authenticator App
                            </h5>
                            <p class="card-text">Use App generated codes</p>
                          </div>

                          <div class="row mt-5">
                            <div class="col-sm-12 text-center">
                              <img class="m-0 pl-4" src="{{ qrCode.qr_code }}" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="offset-sm-2 col-12 col-sm-8">
                              <p class="text-muted m-0 pl-4">
                                1. Scan this QR code with your Authenticator
                                app.
                              </p>
                              <p class="text-muted m-0 pl-4">
                                2. Enter the random number presented below.
                              </p>
                            </div>
                          </div>

                          <div class="row my-5">
                            <div class="offset-sm-4 col-12 col-sm-4 text-center">
                              <form [formGroup]="qrCodeForm" novalidate="" (ngSubmit)="enableGoogleAuthenticator2FA()">
                                <div *ngIf="hasErrors">
                                  <div class="alert alert-danger">{{ httpError }}</div>
                                </div>
                                <app-form-error-wrapper [control]="profileForm.controls['qr_code']"
                                  [controlName]="'code'">
                                  <input type="text" id="qr_code" class="form-control form-control-lg"
                                    placeholder="Code" formControlName="qr_code" />
                                </app-form-error-wrapper>

                                <input type="submit" [disabled]="submitted || !qrCodeForm.valid"
                                  class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="qr-code my-3" *ngIf="emailCode">
                      <div class="card shadow-0">
                        <div class="card-body">
                          <h5 class="card-title fw-500">
                            Two-Factor Authentication Via Email
                          </h5>
                        </div>
                        <div class="row my-5">
                          <div class="offset-sm-4 col-12 col-sm-4 text-center"
                            *ngIf="showEmailDisable == true; else elseBlock">
                            <p>Your account is now protected with Email Two Factor Authentication.</p>
                            <p>You can disable it using following button:</p>
                            <button [disabled]="submitted" (click)="disableEmail2FA()"
                              class="my-2 shadow-0 btn btn-md btn-block btn-primary">
                              Disable Email 2FA
                            </button>
                          </div>
                          <ng-template #elseBlock>
                            <div class="offset-sm-4 col-12 col-sm-4 text-center">
                              <form [formGroup]="emailForm" novalidate="" (ngSubmit)="enableEmail2FA()">
                                <div *ngIf="hasErrors">
                                  <div class="alert alert-danger">{{ httpError }}</div>
                                </div>
                                <app-form-error-wrapper [control]="emailForm.controls['code']" [controlName]="'code'">
                                  <input type="text" id="code" class="form-control form-control-lg" placeholder="Code"
                                    formControlName="code" />
                                </app-form-error-wrapper>

                                <input type="submit" [disabled]="submitted || !emailForm.valid"
                                  class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
                              </form>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tabs End -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="password_change_model" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="ready">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" id="change-password-form" novalidate="" (ngSubmit)="changePassword()">
          <div *ngIf="hasErrors">
            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
          </div>
          <div class="form-group">
            <label class="form-label">Old Password: </label>
            <app-form-error-wrapper [control]="changePasswordForm.controls['old_password']"
              [controlName]="'Old Password'">
              <input type="password" id="old_password" class="form-control" placeholder="minimm 8 characters"
                formControlName="old_password" required />
              <span toggle="#old_password" class="fal fa-fw fa-eye field-icon toggle-password"></span>
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <label class="form-label">Password: </label>
            <app-form-error-wrapper [control]="changePasswordForm.controls['password']" [controlName]="'Password'">
              <input type="password" id="password" class="form-control" placeholder="minimm 8 characters"
                formControlName="password" required />
              <span toggle="#password" class="fal fa-fw fa-eye field-icon toggle-password"></span>
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <label class="form-label">Confirm Password: </label>
            <app-form-error-wrapper [control]="changePasswordForm.controls['password_confirmation']"
              [controlName]="'Password'">
              <input type="password" id="confirm_password" class="form-control" placeholder="minimm 8 characters"
                formControlName="password_confirmation" required />
              <span toggle="#confirm_password" class="fal fa-fw fa-eye field-icon toggle-password"></span>
            </app-form-error-wrapper>
          </div>
          <div class="row no-gutters">
            <div class="col-md-12 ml-auto text-right">
              <button id="js-login-btn-1" type="submit" class="btn btn-block btn-success btn-lg mt-3"
                [disabled]="!changePasswordForm.valid">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
