<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <div class="col-sm-12">
    <div id="panel-1" class="panel" style="background-color: #f7f7f7;">
      <div class="panel-hdr">
        <h2>
            Genealogy <span class="fw-300"><i>Overview</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
            <div *ngIf="loading" class="text-center">
                <img src="./assets/theme/img/loader.gif" class="img-fluid">
            </div>
            <div class="chart" id="network-tree"></div>
        </div>
      </div>
    </div>
  </div>
</div>
