<div class="flex-1">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body p-4 rounded position-relative">
              <div class="d-flex align-items-center mb-g">
                <h1 class="fw-300 m-0 l-h-n">
                  <span class="text-contrast">
                    Webinars
                  </span>
                  <small class="fw-300 m-0 l-h-n">
                  </small>
                </h1>
              </div>
              <div class="row">
                  <div class="col-12">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                        </button>
                        <div class="d-flex align-items-center">
                            <div class="alert-icon">
                                <span class="icon-stack icon-stack-md">
                                    <i class="base-2 icon-stack-3x color-info-400"></i>
                                    <i class="base-10 text-white icon-stack-1x"></i>
                                    <i class="ni md-profile color-info-800 icon-stack-2x"></i>
                                </span>
                            </div>
                            <div class="flex-1">
                                <span class="h4">OptionsLegion Webinars</span>
                                <br>
                                We will announce the timing of the Webinars as soon as possible.
                            </div>
                        </div>
                    </div>
                    <img src="./assets/theme/img/webinars.jpeg" class="img-fluid">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  