<div class="page-wrapper" [ngClass]="getPackageClass()">
  <div class="page-inner">
    <!-- BEGIN Left Aside -->
    <aside [ngClass]="getSidebarClass()">
      <div class="page-logo">
        <a routerLink="/portal/dashboard" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
          <img src="./assets/theme/img/logo.svg" alt="Options Legion" aria-roledescription="logo"/>
        </a>
      </div>
      <app-sidebar></app-sidebar>
    </aside>
    <div class="page-content-wrapper">
      <!-- BEGIN Page Header -->
      <app-header ></app-header>
      <!-- BEGIN Page Content -->
      <!-- the #js-page-content id is needed for some plugins to initialize -->
      <main id="js-page-content" role="main" class="page-content">
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>
      </main>
      <!-- this overlay is activated only when mobile menu is triggered -->
      <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
      <!-- END Page Content -->
      <app-portal-footer></app-portal-footer>
        <div class="modal fade" id="alert-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">
                          {{alert?.title}}
                          <small class="m-0 text-muted" [innerHTML]='alert?.sub_title'></small>
                      </h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"><i class="fal fa-times"></i></span>
                      </button>
                  </div>
                  <div class="modal-body" [innerHTML]='alert?.body'>
                    
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" >{{alert?.close_text}}</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">{{alert?.ok_text}}</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
