<div class="row mt-4">
    <div class="col-12">
        <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2>
            My Trades <span class="fw-300"><i>Overview</i></span>
            </h2>
            <div class="panel-toolbar">
            <button
                class="btn btn-panel"
                data-action="panel-collapse"
                data-toggle="tooltip"
                data-offset="0,10"
                data-original-title="Collapse"
            ></button>
            <button
                class="btn btn-panel"
                data-action="panel-fullscreen"
                data-toggle="tooltip"
                data-offset="0,10"
                data-original-title="Fullscreen"
            ></button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
            <!-- datatable start -->
          <div class="table-responsive">

            <table id="dt-basic-example" class="table table-striped table-sm w-100">
                    <thead>
                        <tr>
                            <th>Opened at</th>
                            <th>Asset</th>
                            <th>Position</th>
                            <th>Amount</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let trade of trades">
                            <td>{{trade.open_time | date}}</td>
                            <td>{{trade.asset}}</td>
                            <td>{{trade.position}}</td>
                            <td>{{trade.trade_amount | currency}}</td>
                            <td><span class="{{tradeProfitClass(trade)}}">
                            {{(trade.closeing_time === null)? '--': trade.profit | currency}}</span></td>
                        </tr>
                        <tr *ngIf="!trades?.length">
                            <td colspan="5">
                                <div class="text-center">No records</div>
                            </td>
                         </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
