#line
{
  border-bottom: 2px solid  #EB3237;
  display: block;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: auto;
}

header{
font-weight: 600;
font-size: 36px;
font-family: 'Poppins';
}

h2, h3{
  font-weight: 300;
  font-size: 24px;
  font-family: 'Open Sans';
  color: #EB3237;
  font-weight: bold;
}


p{
  font-weight: 300;
  font-size: 15px;
  font-family: 'Open Sans';

}

button{
  font-weight: 500;
}

footer{
  font-weight: 300;
  font-size: 13px;
  font-family: 'Open Sans';
}
