<div class="p-3 rounded overflow-hidden position-relative text-white mb-g {{dashboardItem.background_class}}">
  <h3 class="d-block l-h-n m-0 fw-300 title">
    {{ dashboardItem.name }}
    <small class="l-h-n" style="font-size:1rem">This Month</small>
  </h3>
  <div class="row mt-2">
    <div *ngIf="dashboardItem.name == 'Total Clients'" class="col big-number m-0 l-h-n">{{dashboardItem.value }}</div>
    <div *ngIf="dashboardItem.name !== 'Total Clients'" class="col big-number m-0 l-h-n">{{dashboardItem.value | currency}}</div>
  </div>
  <i class="fal {{dashboardItem.icon}} position-absolute pos-right pos-bottom opacity-10 mb-n1 mr-n1" style="font-size:10rem"></i>
</div>
