.price-row {
    border: 1px solid #393d48;
    padding: 5px 0px;
    border-bottom: 0px;
}

.asset{
    font-weight: bold;
    padding-top: 7px;
    color: #c6cad5;
}

.btn-all-assets {
    border-radius: 0;
    background-color: #353c50 !important;
    color: #c6cad5;
}

.custom-scroll {
    background-color: #131722;
}

.btn-outline-danger {
    border-color: #ed5351;
    color: #ed5351;
}

.price{
    text-align: left;
    padding-top: 7px;
    color: #c6cad5;
}

.trade-now-btn{
    text-align: right;
}

.leverages{
    margin-top: -975px;
}

#assets-modal .modal-content{
    background-color: #262c41;
    color: #fff;
}

#assets-modal .modal-content .body{
    background-color: #1e222d;
}

#assets-modal .modal-content .asset-cof .row{
    color: #fff;
    padding: 7px;
}

#assets-modal .modal-content .asset-cof :hover {
    background-color: #28466c;
}

#assets-modal .modal-content .asset-cof .row .asset-name {
    text-align: left;
}

#assets-modal .modal-content .asset-cof .row .asset-value {
    text-align: right;
}
