<app-binary-sub-header [title]="pageTitle" [icon]="pageIcon"></app-binary-sub-header>
<div *ngIf="hasErrors">
  <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
</div>
<div class="row">
    <div class="col-12">
        <div id="panel-1" class="panel" data-panel-lock="false" data-panel-close="false" data-panel-fullscreen="false" data-panel-collapsed="false" data-panel-color="false" data-panel-locked="false" data-panel-refresh="false" data-panel-reset="false">
            <div class="panel-hdr">
                <h2>
                    Trading Assets
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content border-faded border-left-0 border-right-0 border-top-0">
                    <div class="row no-gutters" style="background-color: #1e222d;">
                        <div class="col-lg-4">
                            <button class="btn btn-all-assets btn-block" (click)="openAssets()">VIEW ALL ASSETS</button>
                            <div id="slimscroll" class="custom-scroll" style="height:450px;" 
                                    data-scrollHeight="500" 
                                    data-scrollSize="4px" 
                                    data-scrollPosition="right" 
                                    data-scrollColor="rgba(0,0,0,0.6)" 
                                    data-alwaysVisible="false" 
                                    data-distance="4px" 
                                    data-railVisible="false" 
                                    data-railColor="#fafafa">
                                <div class="forex-ticker px-2">
                                    <div class="row price-row" id="{{price.id}}" *ngFor="let price of feed">
                                        <div class="col-3 asset">{{price.name}}</div>
                                        <div class="col-5 price">{{price.price}}</div>
                                        <div class="col-4 trade-now-btn">
                                            <button class="btn btn-sm btn-outline-danger waves-effect waves-themed" [disabled]="!price.available" (click)="tradeNow(price);">Trade Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="position-relative pl-3">
                                <!-- TradingView Widget BEGIN -->
                                    <iframe id="tradingview_e9357" src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_e9357&amp;symbol=BITSTAMP%3ALTCUSD&amp;interval=1&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;details=1&amp;studies=%5B%5D&amp;theme=dark&amp;style=1&amp;timezone=Etc%2FUTC&amp;withdateranges=1&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=localhost&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=BITSTAMP%3ABTCUSD" style="width: 100%; height: 490px; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>
                    <app-binary-dashboard-trades-widget></app-binary-dashboard-trades-widget>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="open-trade-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Open Trade
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <app-binary-trade-dialogue></app-binary-trade-dialogue>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assets-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:;" (click)="loadAsset(asset)" class="asset-cof"  *ngFor="let asset of assets_1">
                                <div class="row">
                                    <div class="col-8 asset-name">{{asset.name}}</div>
                                    <div class="col-4 asset-value">{{asset.cofficient}}%</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:;" (click)="loadAsset(asset)" class="asset-cof" *ngFor="let asset of assets_2">
                                <div class="row">
                                    <div class="col-8 asset-name">{{asset.name}}</div>
                                    <div class="col-4 asset-value">{{asset.cofficient}}%</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>