<div id="panel-profits" class="panel panel-fixed-height">
  <div class="panel-hdr">
    <h2>
      Binary Income <span class="fw-300"><i>Overview</i></span>
    </h2>
    <div class="panel-toolbar">
      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Collapse"></button>
      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Fullscreen"></button>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <!-- datatable start -->
      <app-loading *ngIf="loading"></app-loading>
      <div class="table-responsive" *ngIf="!loading">
        <table id="tbl-binary-incomes" class="table table-bordered table-hover table-striped w-100">
          <thead>
            <tr>
              <td></td>
              <th>Date</th>
              <th>Balanced Amount</th>
              <th>%</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let income of binaryIncomes; let i = index;">
                <td>{{i+1}}</td>
              <td>{{ income.date }}</td>
              <td>{{ income.balanced_amount | currency }}</td>
              <td>{{ income.percentage }}%</td>
              <td>{{ income.income | currency }}</td>
            </tr>
            <tr *ngIf="!binaryIncomes?.length">
              <td colspan="4">
                <div class="text-center">No records</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
