<div id="dashboard-panel-1" class="panel">
  <div class="panel-hdr">
    <h2>
      <span class="fw-300">Latest</span>&nbsp;Deposits
    </h2>
    <div class="panel-toolbar">
      <button
        class="btn btn-panel"
        data-action="panel-collapse"
        data-toggle="tooltip"
        data-offset="0,10"
        data-original-title="Collapse"
      ></button>
      <button
        class="btn btn-panel"
        data-action="panel-fullscreen"
        data-toggle="tooltip"
        data-offset="0,10"
        data-original-title="Fullscreen"
      ></button>
      <button
        class="btn btn-panel"
        data-action="panel-close"
        data-toggle="tooltip"
        data-offset="0,10"
        data-original-title="Close"
      ></button>
    </div>
  </div>
  <div class="panel-container">
    <div class="panel-content">
      <app-loading *ngIf="loading" [height]="100"></app-loading>
      <table class="table table-hover table-striped w-100" *ngIf="!loading">
        <thead class="bg-default-200">
          <tr>
            <th width="40%">Client</th>
            <th>Method + Detail</th>
            <th>Amount</th>
            <th width="20%">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let deposit of deposits; let i = index" [id]="getRowId(deposit)">
            <td><p class="text-muted">
                    <a [routerLink]="['summary', deposit.client.id]">
                        OPL-{{deposit.client.id}}<br />
                        {{deposit.client.first_name + '  ' + deposit.client.last_name}}
                    </a>
                </p>
            </td>
            <td>{{deposit.method_id}} <br>
              {{deposit.details}}
            </td>
            <td>{{deposit.amount | currency}}</td>
            <td>{{deposit.created_at | date:'medium'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row pager">
        <div class="col-12 text-right">
          <ul class="pagination pagination-sm">
            <li class="page-item" *ngFor="let page of pages">
              <a (click)="gotoPage(page)" class="page-link" href="javascript:;">{{page}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


