<app-sub-header [showIncomes]="true" [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div *ngIf="hasErrors">
  <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
</div>
<div class="row mb-2">
  <app-dashboard-item [dashboardItem]="dashboardItem" class="col-sm-4 col-md-4 col-xl-4 my-2"
    *ngFor="let dashboardItem of dashboardItems"></app-dashboard-item>
</div>
<div class="row" *ngIf="ready">
  <div class="col-12 col-sm-6">
    <app-dashboard-referrals-widget (errorsEmitter)="handleErrors($event)" [network]="client?.profile?.network">
    </app-dashboard-referrals-widget>
  </div>
  <div class="col-12 col-sm-6">
    <app-dashboard-profits-widget></app-dashboard-profits-widget>
  </div>
</div>

<div class="modal fade" id="announcement-7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Important Update
        </h4>
        <button type="button" class="close" (click)="closeModal('#announcement-7')">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p style="line-height: 25px;">
          Dear Valued Users,
          <br>
          <br>
          We are excited to announce that the payment gateway has been finalized and that it will be launched by
          tomorrow.
          <br>
          We also want to inform you that following several investigations, it has come to our attention that there were
          numerous illegitimate KYC documents submitted (particularly from the countries of Turkey and The Islamic
          Republic of Iran). Therefore, we ask that you please send authentic documentation as we will submit them to
          KPMG and the British government for our annual audit.
          <br>
          <br>
          Starting today, all Legionnaires must submit a 5-second video holding a government-authorized ID next to their
          faces. Otherwise, those who don’t comply may risk suspension and/or the inability to make withdrawals.
          <br>
          <br>
          We apologize for the inconvenience this may cause and hope that you all understand.
          <br>
          <br>
          Yours truly,
          Options Legion Support Team
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg shadow-0"
          (click)="closeModal('#announcement-7')">OK</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="announcement-8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Important Update
        </h4>
        <button type="button" class="close" (click)="closeModal('#announcement-8')">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p style="line-height: 25px;">
          Dear Valued Users,
          We are excited to announce that the referral commission has increased.<br />
          From now on, the following deposits will yield the following commissions:<br />
          $500 - 4,999: 5%<br />
          $5,000 - 9,999: 6%<br />
          $10,000+: 7%<br />

          We hope this excites you as much as it excites us!<br /><br />

          <br>
          <br>
          Yours truly,
          Options Legion Support Team
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg shadow-0"
          (click)="closeModal('#announcement-8')">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="announcement-9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Important Update
        </h4>
        <button type="button" class="close" (click)="closeModal('#announcement-9')">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p style="line-height: 25px;">
          Dear Valued Users,
          <br>
          We are excited to announce to
          you all that our company will now expand under the name <b>OPL Financials KFT Limited</b> with a greater share capital of <b> £300</b>
          million.

          <br>
          <br>
          Cheers,
          <br>
          OPL Financials KFT Limited
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg shadow-0"
          (click)="closeModal('#announcement-9')">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="announcement-10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Important Update
        </h4>
        <button type="button" class="close" (click)="closeModal('#announcement-10')">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p style="line-height: 25px;">
          <b>Dear Legionnaires,</b>
          <br>
          <br>
            Options Legion wishes you all a happy new year filled health, wealth and love. We thank you for your continued patience
            in recent weeks and are glad to let you know that exciting news will be announced next week.
          <br>
          <br>
          Sit tight!
          <br>
          <br>
          Options Legion Support Team
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg shadow-0"
          (click)="closeModal('#announcement-10')">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="announcement-11" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Important Update
        </h4>
        <button type="button" class="close" (click)="closeModal('#announcement-11')">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p style="line-height: 25px;">
          <b>Dear Valued Users,</b>
          <br>
          <br>
          Our R&D team is working day and night to successfully launch a company token. This token will soon soon be
          listed on the largest crypto exchange platforms for you to make your necessary conversions.
          <br>
          <br>
          Yours truly,
          <br>
          Support Team
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg shadow-0"
          (click)="closeModal('#announcement-11')">OK</button>
      </div>
    </div>
  </div>
</div>
