<div class="row">
  <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
    <div class="card mb-g rounded-top" *ngIf="ready">
      <div class="row no-gutters row-grid" style="overflow: visible;">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center justify-content-center p-4">

            <img src="/assets/images/user-icon-black.svg" width="100" height="100"
              class="rounded-circle shadow-2 img-thumbnail mt-2" alt="" style="margin-top: -10%;" />
            <p class="text-muted text-center my-3">
              <span class="text-success">OPL-{{clientSummary.summary.profile.id}}</span><br />
              {{clientSummary.summary.profile.first_name}} {{clientSummary.summary.profile.last_name}}
              <br />
              {{ clientSummary.summary.profile.email }}
            </p>
            <h5 class="mb-0 fw-700 text-center mt-1">
              <span class="badge badge-danger badge-pill" *ngIf="clientSummary.summary.profile.kyc_verified === 0">KYC
                Not
                Verified</span>
              <span class="badge badge-success badge-pill" *ngIf="clientSummary.summary.profile.kyc_verified === 1">KYC
                Verified</span>
            </h5>
            <div class="text-center">
              <span class="mt-1 buttonAction">
                <div class="btn-group mt-2">
                  <button type="button" class="btn btn-outline-default">
                    Action
                  </button>
                  <button type="button" class="btn btn btn-outline-default dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu" style="z-index: 10000;">
                    <a class="dropdown-item" href="javascript:;"
                      (click)="markAsFeePaid(clientSummary.summary.profile)">Signup Fee Paid</a>
                    <a class="dropdown-item" href="javascript:;"
                      (click)="resetPassword(clientSummary.summary.profile)">Reset Password</a>
                    <a class="dropdown-item" href="javascript:;"
                      (click)="openSendEmailForm(clientSummary.summary.profile)">Send Email</a>
                    <a class="dropdown-item" href="javascript:;"
                      (click)="openDisable2FA(clientSummary.summary.profile)">Disable 2FA</a>
                    <a class="dropdown-item" href="javascript:;"
                      (click)="openDepositForm(clientSummary.summary.profile)">Add Deposit</a>
                    <a class="dropdown-item" href="javascript:;"
                      (click)="viewKYCDocuments(clientSummary.summary.profile)">Update KYC</a>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center py-3">
            <h5 class="mb-0 fw-700">
              {{clientSummary.summary.profile.total_deposits | currency}}
              <small class="text-muted mb-0">Total Deposits</small>
            </h5>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center py-3">
            <h5 class="mb-0 fw-700">
              {{clientSummary.summary.profile.total_withdrawals | currency}}
              <small class="text-muted mb-0">Total Withdrawals</small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-8 order-lg-2 order-xl-3 mb-3">
    <div class="card p-4 rounded-plus" *ngIf="ready">
      <form [formGroup]="clientForm" id="js-login" novalidate="" (ngSubmit)="updateProfile()">
        <div class="form-group row">
          <label class="col-xl-12 form-label" for="fname">Your first and last name</label>
          <div class="col-6 pr-1">
            <app-form-error-wrapper [control]="clientForm.controls['first_name']" [controlName]="'First Name'">
              <input type="text" id="first_name" class="form-control" placeholder="First Name"
                formControlName="first_name" />
            </app-form-error-wrapper>
          </div>
          <div class="col-6 pl-1">
            <app-form-error-wrapper [control]="clientForm.controls['last_name']" [controlName]="'Last Name'">
              <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                formControlName="last_name" />
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">Email: </label>
              <app-form-error-wrapper [control]="clientForm.controls['email']" [controlName]="'Email'">
                <input type="text" class="form-control" formControlName="email" />
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">Mobile: </label>
              <app-form-error-wrapper [control]="clientForm.controls['mobile']" [controlName]="'Mobile'">
                <input type="text" class="form-control" formControlName="mobile" />
              </app-form-error-wrapper>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label class="form-label">Address: </label>
          <textarea class="form-control" formControlName="address"></textarea>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">City: </label>
              <input type="text" class="form-control" formControlName="city" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="form-label">Country: </label>
              <input type="text" class="form-control" formControlName="country" />
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-12 col-md-2 offset-md-10 text-right">
            <button id="js-login-btn" type="submit" class="btn btn-block shadow-0 btn-success mt-3"
              [disabled]="!clientForm.valid">
              Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card mb-g">
      <div class="text-center" *ngIf="loading">
        <app-loading></app-loading>
      </div>
      <div class="row row-grid no-gutters" *ngIf="ready">
        <div class="col-12">
          <div class="p-3">
            <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-referrals" role="tab">Referrals</a>
              </li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-deposits" role="tab">Deposits</a>
              </li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-withdrawals"
                  role="tab">Withdrawals</a></li>
            </ul>
            <div class="tab-content p-3">
              <div class="tab-pane fade active show" id="tab-referrals" role="tabpanel" aria-labelledby="tab-referrals">
                <table class="datatable table table-hover table-striped w-100" id="{{dataTableName}}">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Status</th>
                      <th>Direction</th>
                      <th>Referral Type</th>
                      <th>Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="loading">
                      <td colspan="5">
                        <p class="text-muted text-center">
                          <app-loading></app-loading>
                        </p>
                      </td>
                    </tr>
                    <td colspan="7" *ngIf="clientSummary.summary.referrals.data.length ===0 && ready">
                      <h1 style="font-size:26px; margin-top:10px" class="text-center text-danger">
                        Record Not Found
                      </h1>
                    </td>
                    <tr *ngFor="let referral of clientSummary.summary.referrals.data; let i = index">
                      <td>{{i+1}}</td>
                      <td> <span class="{{typeClass(referral)}}">{{referral.status}}</span></td>
                      <td>{{referral.direction}}</td>
                      <td>{{referral.referral_type}}</td>
                      <td>{{referral.created_at | date: 'medium'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tab-deposits" role="tabpanel" aria-labelledby="tab-deposits">
                <table class="datatable table table-hover table-striped w-100" id="{{dataTableName}}">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Method</th>
                      <th>Amount</th>
                      <th>Bonus</th>
                      <th>Total</th>
                      <th>Details</th>
                      <th>Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="loading">
                      <td colspan="5">
                        <p class="text-muted text-center">
                          <app-loading></app-loading>
                        </p>
                      </td>
                    </tr>
                    <td colspan="7" *ngIf="clientSummary.summary.deposits.data.length ===0 && ready">
                      <h1 style="font-size:26px; margin-top:10px" class="text-center text-danger">
                        Record Not Found
                      </h1>
                    </td>
                    <tr *ngFor="let deposit of clientSummary.summary.deposits.data; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{deposit.method_id}}</td>
                      <td>{{deposit.amount | currency}}</td>
                      <td>{{deposit.bonus | currency}}</td>
                      <td>{{deposit.total | currency}}</td>
                      <td>{{deposit.details}}</td>
                      <td>{{deposit.created_at | date: 'medium'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tab-withdrawals" role="tabpanel" aria-labelledby="tab-withdrawals">
                <table class="datatable table table-hover table-striped w-100" id="{{dataTableName}}">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Method</th>
                      <th>Fee</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Created Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="loading">
                      <td colspan="5">
                        <p class="text-muted text-center">
                          <app-loading></app-loading>
                        </p>
                      </td>
                    </tr>
                    <td colspan="7" *ngIf="clientSummary.summary.withdrawals.data.length ===0 && ready">
                      <h1 style="font-size:26px; margin-top:10px" class="text-center text-danger">
                        Record Not Found
                      </h1>
                    </td>
                    <tr *ngFor="let withdrawals of clientSummary.summary.withdrawals.data; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{withdrawals.method}}</td>
                      <td>{{withdrawals.fee | currency}}</td>
                      <td>{{withdrawals.amount | currency}}</td>
                      <td> <span class="{{typeWithdrawalClass(withdrawals)}}">{{withdrawals.status}}</span></td>
                      <td>{{withdrawals.created_at | date:'medium'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="disable-2fa-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Disable Two Factor Authentication
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div *ngIf="alreadyDisabled">
          <p class="text-danger">Email 2fa is already disabled</p>
        </div>
        <div *ngIf="alreadyGoogleDisabled">
          <p class="text-danger">Google 2fa is already disabled</p>
        </div>
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-danger shadow-0 mr-3" (click)="disableEmail2FA(activeProfile)">
              <i class="fal fa-times"></i> Disable Email 2FA
            </button>
            <button class="btn btn-danger shadow-0" (click)="disableGoogle2FA(activeProfile)">
              <i class="fal fa-times"></i> Disable Google 2FA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="client-deposit-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Add Deposit
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" *ngIf="depositFormReady">
        <form [formGroup]="depositForm">
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['first_name']" [controlName]="'First Name'">
              <label class="form-label" for="first_name">First Name</label>
              <input type="text" id="first_name" class="form-control" placeholder="First Name"
                formControlName="first_name" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['last_name']" [controlName]="'Last Name'">
              <label class="form-label" for="last_name">Last Name</label>
              <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                formControlName="last_name" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['email']" [controlName]="'Email'">
              <label class="form-label" for="email">Email</label>
              <input type="text" id="wire_email" class="form-control" placeholder="Email" formControlName="email" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['type']" [controlName]="'Type'">
                <label class="form-label" for="type">Deposit Type</label>
                <select formControlName="type" class="form-control">
                  <option value="INVESTMENT">Investment</option>
                  <option value="SUBSCRIPTION_FEE">Subscription Fee</option>
                </select>
              </app-form-error-wrapper>
            </div>
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['method_id']" [controlName]="'Method'">
                <label class="form-label" for="method">Method</label>
                <select formControlName="method_id" class="form-control">
                  <option value="WIRE_TRANSFER">Wire Transfer</option>
                  <option value="PERFECT_MONEY">Perfect Money</option>
                  <option value="CRYPTO">Crypto Tether</option>
                </select>
              </app-form-error-wrapper>
            </div>
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['amount']" [controlName]="'Amount'">
                <label class="form-label" for="amount">Amount</label>
                <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount" />
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>Transaction Details: </label>
              <textarea formControlName="details" class="form-control" name="details"></textarea>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-4 ml-auto text-left">
              <button type="submit" (click)="saveDeposit()" class="btn btn-block btn-success btn-md mt-2"
                [disabled]="!depositForm.valid">
                Deposit Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="client-send-email-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Send Email
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" *ngIf="sendEmailFormReady">
        <form [formGroup]="sendEmailForm">
          <div class="form-group">
            <app-form-error-wrapper [control]="sendEmailForm.controls['to']" [controlName]="'To'">
              <label class="form-label" for="to">To <span class="help">*</span></label>
              <input type="text" id="to" class="form-control" placeholder="To" formControlName="to" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="sendEmailForm.controls['cc']" [controlName]="'CC'">
              <label class="form-label" for="cc">CC</label>
              <input type="text" id="cc" class="form-control" placeholder="Add the comma seperated Email Addresses"
                formControlName="cc" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="sendEmailForm.controls['bcc']" [controlName]="'BCC'">
              <label class="form-label" for="bcc">BCC</label>
              <input type="text" id="bcc" class="form-control" placeholder="Add the comma seperated Email Addresses"
                formControlName="bcc" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="sendEmailForm.controls['subject']" [controlName]="'subject'">
              <label class="form-label" for="subject">Subject <span class="help">*</span></label>
              <input type="text" id="subject" class="form-control" placeholder="Add the comma seperated Email Addresses"
                formControlName="subject" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>Email: </label>
              <div>
                <textarea formControlName="email_body" class="summernote" name="email_body"></textarea>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-4 ml-auto text-left">
              <button type="submit" (click)="sendEmail()" class="btn shadow-0 btn-block btn-success btn-md mt-2"
                [disabled]="!sendEmailForm.valid">
                Send Email
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="client-kyc-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Client KYC Documents
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-right">
            <button class="btn btn-danger shadow-0 mr-3" (click)="changeKYCStatus(activeProfile, 'Failed')">
              <i class="fal fa-times"></i> Disapprove KYC
            </button>
            <button class="btn btn-success shadow-0" (click)="changeKYCStatus(activeProfile, 'Approved')">
              <i class="fal fa-check"></i> Approve KYC
            </button>
          </div>
        </div>
        <table id="dt-client-kyc" class=" my-4 table table-bordered table-hover table-striped w-100">
          <thead>
            <tr>
              <th>Document Type</th>
              <th>File</th>
              <th>Submitted On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of KYCDocuments">
              <td>{{ doc.document_type }}</td>
              <td>
                <a href="https://server.optionslegion.com/ClientsDocuments/{{
                    doc.document_file
                  }}" target="_blank">View</a>
              </td>
              <td>{{ doc.created_at | date: 'medium' }}</td>
            </tr>
            <tr *ngIf="KYCDocuments.length === 0">
              <td colspan="3" class="text-center">No documents</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
