<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>


<div class="row">
    <div class="col-sm-12">
        <div id="panel-1" class="panel accounts-panel">
            <div class="panel-hdr">
                <h2 class="generics-title">
                    {{pageTitle}} <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="table-responsive my-3">
                        <table *ngIf="!loading" id="dt-clients" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>CLIENT</th>
                                <th>AMOUNT WITHDREW</th>
                                <th>PERCENTAGE</th>
                                <th>COMMISSION AMOUNT</th>
                                <th>NOTE</th>
                                <th>DATE</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let commission of commissions">
                                <td>
                                  <p class="pt-3">{{commission.id}}</p>
                                </td>
                                <td>{{commission.client?.first_name}} {{commission.client?.last_name}}
                                  <div><small>Client ID: {{commission.client_id}}</small></div>
                                </td>
                                <td>
                                  {{commission.amount_withdrew | currency}}
                                </td>
                                <td>{{commission.percentage}}</td>
                                <td>{{commission.commission_amount | currency}}</td>
                                <td>{{commission.note }}</td>
                                <td>{{commission.created_at | date: 'medium' }}</td>
                              </tr>
                              <tr *ngIf="!commissions?.length">
                                <td colspan="7">
                                  <div class="text-center">No records</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
