<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card p-4 rounded-plus bg-faded">
                        <h1 class="mb-0 mt-2 text-default text-center">
                            Password reset
                            <small class="h3 fw-300 mt-3 mb-5 opacity-60 hidden-sm-down">
                                Choose your new password.
                            </small>
                        </h1>
                        <div *ngIf="hasErrors">
                            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                          </div>
                        <form id="js-login" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label" for="password">Password</label>
                                    <app-form-error-wrapper [control]="resetPasswordForm.controls['password']" [controlName]="'Password'">
                                      <input class="form-control" type="password" formControlName="password" />
                                    </app-form-error-wrapper>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="password_confirmation">Confirm Password</label>
                                    <app-form-error-wrapper [control]="resetPasswordForm.controls['password_confirmation']" [controlName]="'Confirm Password'">
                                      <input class="form-control" type="password" formControlName="password_confirmation" />
                                    </app-form-error-wrapper>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!resetPasswordForm.valid">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>