<app-binary-sub-header [title]="pageTitle" [icon]="pageIcon"></app-binary-sub-header>
<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
          <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fab fa-bitcoin mr-1"></i>Deposit with Crypto Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i
                class="fal fa-credit-card mr-1"></i>Deposit With Perfect Money</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-3"><i
                class="fal fa-money-bill-alt mr-1"></i>My Deposits</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
                <div class="col-12">
                  <div id="panel-1" class="panel">
                    <div class="panel-container show">
                      <div class="panel-content">
                        <div class="alert alert-success">
                            <div class="d-flex align-items-center">
                                <div class="alert-icon">
                                    <span class="icon-stack icon-stack-sm">
                                        <i class="fab fa-bitcoin text-default"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <span class="h5">Important!</span>
                                    <ul>
                                        <li>Coins will be deposited after 12 network confirmations.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="text-center">
                                            <p class="text-muted">TRC20 Address</p>
                                            <img src='https://chart.googleapis.com/chart?cht=qr&chl=0x3b95880b44bC84CAdf07605F7F8e0584d4DA4A64&chs=180x180&choe=UTF-8&chld=L|2' alt='Tether TRC 20 Wallet Address'>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="fw-700 pb-0 mb-0 mt-3">TRC20 Address: </p>
                                        <p class="fs-xl my-2">TAYZAfmaEWtphHKh1JN1khxGC4QrUwvKX1</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 push-md-3">
                                        <p class="fw-700 pb-0 mb-0 mt-3">Send only USDT to this deposit address.</p>
                                        <p>Sending coin or token other than USDT to this address may result in the loss of your deposit.</p>
                                    </div>
                                    <div class="col-md-3 pull-md-9">
                                        <div class="text-right pr-5">
                                            <img src="./assets/theme/img/tether-usdt-logo.png" width="50">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                      <div *ngIf="hasErrors">
                        <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                      </div>
                      <form ngNoForm action="https://perfectmoney.com/api/step1.asp" method="POST"
                        id="perfectmoney_step_1" novalidate>
                        <input type="hidden" name="PAYEE_ACCOUNT" value="U22873506">
                        <input type="hidden" name="PAYEE_NAME" value="OptionsLegion">
                        <input type="hidden" id="form_payment_id" name="PAYMENT_ID" value=""><BR>
                        <input type="hidden" id="form_payment_amount" name="PAYMENT_AMOUNT" value=""><BR>
                        <input type="hidden" name="PAYMENT_UNITS" value="USD">
                        <input type="hidden" name="STATUS_URL" value="">
                        <input type="hidden" name="PAYMENT_URL" id="payment_url" value="">
                        <input type="hidden" name="PAYMENT_URL_METHOD" value="GET">
                        <input type="hidden" name="NOPAYMENT_URL" id="no_payment_url" value="">
                        <input type="hidden" name="NOPAYMENT_URL_METHOD" value="GET">
                        <input type="hidden" name="SUGGESTED_MEMO" value="">
                        <input type="hidden" name="BAGGAGE_FIELDS" value="">
                        <input type="hidden" name="PAYMENT_METHOD" value="Pay Now!">
                      </form>
                      <form [formGroup]="perfectMoneyForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['first_name']"
                            [controlName]="'First Name'">
                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" id="first_name" class="form-control" placeholder="First Name"
                              formControlName="first_name" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['last_name']"
                            [controlName]="'Last Name'">
                            <label class="form-label" for="last_name">Last Name</label>
                            <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                              formControlName="last_name" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['email']"
                            [controlName]="'Email'">
                            <label class="form-label" for="email">Email</label>
                            <input type="text" id="wire_email" class="form-control" placeholder="Email"
                              formControlName="email" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['payment_amount']"
                            [controlName]="'Amount'">
                            <label class="form-label" for="payment_amount">Amount</label>
                            <input type="number" id="payment_amount" class="form-control" placeholder="Amount"
                              formControlName="payment_amount" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button type="submit" class="btn btn-block btn-danger btn-lg mt-3"
                              (click)="createPerfectMoneyRequest()" [disabled]="!perfectMoneyForm.valid">
                              Deposit Now
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-3" role="tabpanel">
              <app-binary-deposits></app-binary-deposits>
          </div>
        </div>
      </div>
    </div>
  </div>
