/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute;
    display: block; visibility: hidden; background: #fff;
    padding: 8px 10px; border-radius: 5px;
    height: 155px;
    width: 145px;
}
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 3px; height: 3px; display: block; border: 1px solid black; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }
.Treant > .right-peer{ background-color:#28a745; color: #fff; border: 2px solid #fff;}
.Treant > .left-peer{ background-color:#17a2b8; color: #fff ; border: 2px solid #fff;}
.Treant > p { padding: 0px; margin: 0 !important }
.node-name {margin: 0; padding: 0;}
.node-balance {margin: 0}
.node-deposits {margin: 0}
.node-left_balance {margin: 0}
.node-right_balance {margin: 0}
.node-downline {margin: 0}
.node-id_nick {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
}

