<div class="flex-1">
  <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body p-4 rounded position-relative">
            <div class="d-flex align-items-center mb-g">
              <h1 class="fw-300 m-0 l-h-n">
                <span class="text-contrast">
                  Foundation
                </span>
                <small class="fw-300 m-0 l-h-n">
                </small>
              </h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Legion International Foundation is a nonpartisan, private charitable foundation that advances ideas and supports 
                       institutions to promote a better world.</p>
                    <p>For more than 2 years, we have supported efforts to advance education for all, 
                       preserve the environment, improve lives and livelihoods in developing countries, promote the health and economic 
                       well-being of women, support vibrant performing arts, strengthen Bay Area communities and make the philanthropy 
                       sector more effective.
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
