.subheader {
    background-color: #000;
    color: #fff;
    border-radius: 10px;

    .subheader-title {
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .subheader-title {
        margin-left: 0px;
        font-size: 14px;
    }

    .user-badge {
      width: 90px;
      margin-left: 5px;
    }

    .page-breadcrumb {
      margin: 0;
    }

    .subheader-m {
      margin-top: 20px
    }
}

@media screen and (min-width: 769px) {
    .subheader-title {
        margin-left: 20px;
        font-size: 22px;
    }

    .subheader-m {
      margin-top: 50px
    }

    .user-badge {
      width: 130px;
      margin-left: 20px;
    }
}

