<ol class="breadcrumb page-breadcrumb">
  <li class="breadcrumb-item pt-3">Portal</li>
  <li class="breadcrumb-item pt-3 active">{{ title }}</li>
  <li class="position-absolute pos-top pos-right">
    <img class="user-badge" *ngIf="profile?.badge == 'Awarded'" src="..//..//..//assets/images/awarded-badge.svg"/>
    <img class="user-badge" *ngIf="profile?.badge == 'Rewarded'" src="..//..//..//assets/images/rewarded-badge.svg"/>
    <div *ngIf="profile?.badge == 'All'">
      <img class="user-badge" src="..//..//..//assets/images/rewarded-badge.svg"/>
      <img class="user-badge" src="..//..//..//assets/images/awarded-badge.svg"/>
    </div>
  </li>
</ol>
<div class="subheader p-2 subheader-m">
  <h1 class="subheader-title d-none d-sm-block">
    <i class="subheader-icon {{ icon }}"></i
    ><span class="fw-300">{{ title }}</span>
  </h1>
  <div class="subheader-block d-lg-flex align-items-center ml-xs-4">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>TOTAL DEPOSITS</small>
      </span>
      <span class="fw-500 fs-xl d-block">
        {{ profile?.total_deposits | currency }}
      </span>
    </div>
  </div>
  <div
    class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-1 pl-1"
  >
  </div>
  <div
    class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-1 pl-1"
  >
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <span class="fw-300 fs-xs d-block opacity-100">
        <small>DAILY INCOME RATE</small>
      </span>
      <span class="fw-500 fs-xl d-block">
        {{ profile?.roi_rate | currency }}<small>/day</small>
      </span>
    </div>
  </div>
  <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-1 pl-1">
  <div class="d-inline-flex flex-column justify-content-center mr-3">
    <span class="fw-300 fs-xs d-block opacity-100">
      <small>DAILY INCOME</small>
    </span>
    <span class="fw-500 fs-xl d-block">
      {{ profile?.daily_roi | currency }}
    </span>
  </div>
</div>


  <div
    class="mobile-hide subheader-block d-lg-flex align-items-right border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3"
  >
    <div class="d-inline-flex flex-column justify-content-center mr-3">
      <a
        routerLink="/portal/add_funds"
        class="btn shadow-0 btn-md btn-danger rounded-0"
        >Deposit</a
      >
    </div>
  </div>
  <!-- <div class="subheader-block d-lg-flex align-items-right border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
    <div class="d-inline-flex flex-column justify-content-center mr-3">
        <a target="_blank" href="https://drive.google.com/file/d/1Dn6T8FzIKgW7jKyP-AS0eYkfdqTlrIR3/view?usp=sharing" class="btn btn-lg btn-outline-danger waves-effect waves-themed">Packages</a>
    </div>
  </div> -->
</div>

<div class="mobile-show" *ngIf="showIncomes">
  <div class=" d-flex my-3">
    <div class="col align-items-left border-faded  border-top-0 border-left-0 border-bottom-0">
      <p class="p-0 m-0 text-left text-uppercase">Right Capital</p>
      <p class="p-0 text-left fw-500">{{ rightIncome | currency }}</p>
    </div>
    <div class="col align-items-right border-faded border-0">
      <p class="p-0 m-0 text-right text-uppercase">Left Capital</p>
      <p class="p-0 text-right fw-500">{{ leftIncome | currency }}</p>
    </div>
  </div>
</div>
