.card-view {
  background-color: #eb3237;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins';
}
.card-view-header {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins';
}

.card-view-paragraph {
  color: #000000;
  font-size: 13px;
}
