<div class="container-fluid" id="intro">
  <div
    class="row no-gutter"
    style="height: 200px; background: url(/assets/images/homepage-bg.jpg); background-size: cover;"
  >
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <h1 class="text-white">
              Welcome<br />
              to OptionsLegion<br />
            </h1>
            <h3 class="text-white">The future of investment</h3>
            <div class="desktop-trading-screen-mb"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 section-vp">
            <p>
              OPL FINANCIALS Kft
            </p>
            <br />
            <p>
              We provide trading solutions to our worldwide customers to trade
              in foreign exchange, crypto coins and bullion metals like gold and
              silver. Our team of professionals is experienced in achieving the
              set goals and making good profits on their trades. Read More
            </p>
            <a
              [routerLink]="['/packages']"
              class="btn btn-danger btn-view-packages shadow-0 rounded-0"
              >View Packages</a
            >
          </div>
          <div class="col-12 col-sm-12 col-md-6 desktop-trading-screen"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-lightblue products">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 box">
            <div class="card">
              <div class="card-header card-view">
                <img src="./assets/images/icon-1.png" class="mx-1" />
                Investment Platform
              </div>
              <div class="card-body">
                <div class="intro">
                  <h5 class="card-title card-view-header">
                    The most Intelligent investment in the world
                  </h5>
                  <p class="card-text card-view-paragraph">
                    Diversify your capital investment and start gaining real
                    passive income every day. <br /><br />
                    Create your own online business through our platforms and
                    services, cutting-edge technologyon the intemet. Legion
                    offer programmed commercial solution. achievable profit over
                    time and profitable platforms within versatility and
                    security of crypto currency.
                  </p>
                  <br /><br />
                </div>
                <div><a routerLink="/packages" class="arrow"></a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 box">
            <div class="card">
              <div class="card-header card-view">
                <img src="./assets/images/icon-2.png" class="mx-1" />
                Binary Options
              </div>
              <div class="card-body">
                <div class="intro">
                  <h5 class="card-title card-view-header">
                    The most Intelligent investment in the world
                  </h5>
                  <p class="card-text card-view-paragraph">
                    A Legion binary option is a fast and extremely simple
                    financial instrument which allows investors to speculate on
                    whether the price of an asset will go up or down in the
                    future, <br /><br />
                    for example the stock price of Google, the price of Bitcoin,
                    the GBP/USD exchange rate, or the price of gold. The time
                    span can be as little as 60 seconds, making it possible to
                    trade hundreds of Ames per co day across any global market.
                  </p>
                </div>
                <div><a routerLink="/login" class="arrow"></a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 box">
            <div class="card">
              <div class="card-header card-view">
                <img src="./assets/images/icon-3.png" class="mx-1" /> Expert
                Legion
              </div>
              <div class="card-body">
                <div class="intro">
                  <h5 class="card-title card-view-header">
                    The easiest and the best way to make money in crypto
                    industry
                  </h5>
                  <p class="card-text card-view-paragraph">
                    Take up to 16636 ETH now! Payment is made immediately and no
                    waiting is required. Safe and secured, no hacking is
                    possible.
                  </p>
                </div>
                <div>
                  <a href="https://expertlegion.com/" class="arrow"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="container  section-vp">
        <div class="row">
          <div class="col-12">
            <h2 class="poppins-b500 color-red">BINARY OPTIONS</h2>
            <h6 class="font-weight-bold text-white">
              A Very Simple yet Powerful Trading strategies<br /><br />
              <hr id="line" />
              <br />
            </h6>
            <p class="text-white">
              Binary system asks the user a very simple yes or no question,
              "Will this market be above this price at a given time or not'? If
              the answer is "yes" then the trader will buy and if the answer is
              "no" then the trader will sell. Once the trade expires, based on
              the outcome, the user will either get the trade value of $100 and
              if they guessed wrong, they earn nothing. In addition, the trader
              can never lose more than they paid.
              <br /><br />
              Options Legion binary options offer their customers much more
              flexibility. For one thing, the user has the ability to leave a
              trade at any time up until the expiration of the trade; either to
              lock in profits or minimize the loss. A simple 4-step process
              allows the customer to apply intuition and discipline of
              traditional trading while utilizing all available data. Options
              Legion also allows their clients to trade crypto currencies from
              one account which guarantees Ibelted risk.
            </p>
            <a
              [routerLink]="['/register']"
              type="button"
              class="btn btn-outline-light btn-md text-white rounded-0"
            >
              Start Your Investment
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="what-are-binary-options-section">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="offset-md-5 col-md-7 justify-content-end">
            <h2 class="dispaly-2 mr-5">
              WHAT ARE BINARY OPTIONS?
            </h2>
            <br />
            <hr id="line" />
            <br />
            <p class="mr-5">
              Every binary option is valued at $100. Given the current market
              situation, each trader answers the same binary question, "Will
              this market be higher than this price at a set time?"- If the
              answer is yes, the customer buys, if the answer is no, the
              customer sells.
              <br />
              <br />
              When the trade is completed, if the customer guessed correctly,
              they receive the full $100, if they guessed incorrectly, they
              receive nothing. In a binary system, the customer can never lose
              more than they paid for the option.
            </p>
            <br /><br />
            <h3>A BINARY OPTION CONSISTS OF THREE ELEMENTS</h3>
            <h4 class="mr-5 text-dark font-weight-bold">
              Binary options are short term financial instruments based on a
              simple yes or no question. It is comprised of three elements:<br /><br />
            </h4>
            <hr id="line" />
            <br />
            <p class="mr-5">
              1. Underlying Market - The price of a binary option is set based
              on the underlying market in which it resides. Options Legion deals
              only in digital currencies and our market is crypto currencies.
              <br />
              <br />
              2. Strike Price - The strike price is the level at which the
              trader believes the market will be positioned when the trade
              expires. Each binary option has its own unique strike price.
              <br />
              <br />
              3. Expiration Date and Time - The expiration of a trade is the
              point at which the binary option ends. At this time, the customer
              either receives their profit or forfeits their investment.
              <br />
              <br />
              Example: Bitcoin > 6240.00 (4:15PM) <br />
              This binary options identifies the market, strike price and
              expiration time.
              <br />
              Market: Bitcoin (crypto currency) <br />Strike Price: $6420/BTC
              <br />
              Expiration time: 4:15PM today <br />
              In this example, if the Bitcoin is priced higher than $6420 at
              4:15PM today, the buyer of a binary option would receive $100; if
              the Bitcoin is priced lower than $6420 at 4:15PM today, they would
              receive nothing.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="poppins-b500 color-red">
              A BINARY OPTION CONSISTS OF THREE ELEMENTS<br />
            </h3>
            <h5 class=" text-white">
              Binary options focus on one trade at a time with the trader
              answering a straightforward yes or no question. For example:<br /><br />
              <hr id="line" />
              <br />
            </h5>
            <div class="p-0">
              <p class="text-white">
                <span style="color:  #EB3237;">&#9642;</span> Will the price of
                Bitcoin be higher or lower than $6420 at 4:15PM today? Yes or
                no?
              </p>
              <p class="text-white">
                <span style="color:  #EB3237;">&#9642;</span> Will the Ethereum
                be higher or lower than $5000 at 1PM today? Yes or no?
              </p>
              <p class="text-white">
                <span style="color:  #EB3237;">&#9642;</span> Will the ETH/LTC
                exchange rate be higher or lower than 3.61183 at 6AM today? Yes
                or no?
              </p>
              <p class="text-white">
                If the customer believes the answer is "yes" then they will buy
                the binary option; if they believe the answer is "no" they will
                sell the binary option. Once the option expires, whoever is
                correct, either the buyer or the seller will receive the full
                $100 option value.
                <br />
                Options Legion also allows its users to withdraw prior to the
                expiration time without penalty. As the underlying market rises
                and declines, traders might determine their trade is no longer
                correct and withdraw from the trade. Responding to the
                underlying market, the customer can trade their option just as
                they would any other trading instrument: buy low and sell high.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="binary-option-offer-section">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-2 section-vp">
            <h2>
              Binary Options Offer Unique Trading Advantages<br /><br />
              <hr id="line" />
              <br />
            </h2>
            <p class="justify-content">
              Binary options are an inexpensive way to learn the crypto currency
              market.<br />
              A new trader might start with a binary option below $100. <br />
              Users determine their maximum risk and reward up front. If a
              trader buys a binary for $30 and hopes it<br />
              will expire at $100, they only risk $30 but could profit $70. The
              user can never lose more than they spent<br />
              on the binary option, even if the market completely crashes.
              <br />
              The built-in profit target also allows users to plan their exit
              strategy as well. The trader can hold the<br />
              option until it expires or exit early and take the profit. For
              example:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-4">
            <p class="justify-content-center text-left ">
              A trader purchased a binary option for $20 with the hopes that it
              would expire at $60, <br />
              targeting a profit of $40. As the market rises and falls, the
              buyer might see the price <br />
              hit at $60 poor to the expiration time and sell immediately, thus
              taking their target <br />
              profit early.
              <br />
              Contrarily, if the customer sold a binary option for $60 and the
              current value is $80, <br />
              that seller can now withdraw from the trade with a loss of only
              $20 vs a possibly $60 <br />
              when the trade expires.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="col-12">
            <h2 class="poppins-b500 color-red">
              HOW TO TRADE BINARY OPTIONS<br /><br />
              <hr id="line" />
              <br />
            </h2>
            <p class="text-white">
              There are 4 steps to trade binary options: <br />
              <span class="bullet-no">1.</span> Pick a trade<br />
              <span class="bullet-no">2.</span> Identify a strike price and
              expiration time<br />
              <span class="bullet-no">3.</span> Buy or Sell the selected
              option<br />
              <span class="bullet-no">4.</span> Manage trade until withdrawal or
              expiration <br />
              Customers make use of the same strategies as trend trading: trend
              lines, indicators, moving averages, Fibonacci, support an d
              resistance. These challenges still affect binary option trading
              but because the amount of the potential loss is limite d, ifs far
              less risky than other trading methods.
              <br /><br />
              <br />
            </p>
            <h2 class="poppins-b500 color-red">
              HBENEFITS OF BINARY OPTIONS WITH OPTIONS LEGION<br /><br />
              <hr id="line" />
            </h2>
            <p class="text-white" style="line-height: 2.5;">
              <span class="bullet-no">&#9642;</span> Options Legion binary
              options offer customers the ability to profit in flat, trending
              and volatile markets alike, thus offering limited risk.<br />
              <span class="bullet-no">&#9642;</span> Options Legion allows
              customers to know both their potential profit and loss before
              making the trade which eliminates the need feet margin call.<br />
              <span class="bullet-no">&#9642;</span> If the market does not
              favor the client's position, the loss is limited to initial entry
              value; no additional loss can be incurred. <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="protection-section">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="offset-md-5 col-md-7 justify-content-end">
            <h2 class="dispaly-2 mr-5">
              PROTECTION BETTER THAN A STOP-LOSS<br /><br />
            </h2>
            <hr id="line" />
            <br />
            <p class="mr-5">
              Most traders utilize the safety net known as a "stop-loss" to
              mitigate losses in a fast moving market that is moving against
              their position. The goal is to prevent the loss of more than the
              investor has in their account which would lead to a margin call
              from the broker to cover the difference. This is not a fail-safe
              method, which is why brokers' disclaimers discuss the possibility
              of "unlimited risk."
              <br />
              <br />
              Traditional trading requires perfect timing; enter at the wrong
              time and position and even with the best information and tools,
              the trader might not benefit from their knowledge. Binary options
              limit the risk while rewarding the trader for their knowledge and
              skills. Regardless of what the market does, the risk of loss is
              predetermined. The trader will not be stopped out before they
              profit either.
            </p>
            <br /><br />
            <h3>NEVER GET STOPPED OUT AGAIN</h3>
            <br /><br />
            <hr id="line" />
            <br />
            <p>
              Traders using traditional methods face uncertainty which could
              lead to significant loss. The typical way to manage the potential
              of this kind of loss is with a stop-loss order. A stop-loss order
              forces an end to trading when the loss reaches a predetermined
              threshold. In a fast moving market, the stop-loss order could also
              eliminate the ability to react to an uptick and potentially loss
              profit as well.
              <br />
              <br />
              Option Legion has binary options which include both built-in
              floors and ceiling levels; our traders know the possible loss and
              profit beforehand. Assuming that the customer does not withdraw
              the trade stays active until the expiration. There is no automatic
              stopped out, regardless of whether the market declines during the
              duration of the trade. This allows the trader to remain in the
              trade and ride out the ups and downs without losing opportunity
              due to the built-in floor restriction.
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-lightblue" style="position: relative">
  <div class="row">
    <div class="col">
      <div class="trading-app-mobile"></div>
      <div class="container section-vp">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="">
              OPPORTUNITIES IN FLAT MARKETS
              <br /><br />
              <hr id="line" />
              <br />
            </h2>
            <p class=" p-0">
              The basic principle of successful trading is to buy low and sell
              high. The market needs to move in order to generate meaningful
              profit because the difference between the purchase price and sales
              value provides the proceeds from the trade to the investor.
              Options Legion binary options allow customers to realize a
              significant profit even in a market that is barely moving at all.
              Even if the price of the binary option at the expiration time is
              merely 1 tick higher, the buyer will realize the same profit as if
              the market was 1000 ticks higher. The all-or-nothing outcome means
              that the underlying market does not need to move significantly
              higher to make large profits.
            </p>
            <br />
            <h2 class="">MARGIN TRADING</h2>
            <p class=" p-0">
              Margin trading is a method of trading using funds involving
              borrowed funds. This allows the trader to invest money they don't
              actually have in their personal account. Options Legion offers
              margin trading with a 1:2 and 1:3 leverages on BTC/USD, BTC/EUR,
              ETH/BRC and ETH/USD pairs. We are working to allow mom options in
              the near future as well. Fees associated with margin trading are
              available on our website.
              <br />
              <br />
              Why Should One Margin Trade with Options Legion?<br />
              <span style="color:  #EB3237;">&#9642;</span>Funds may be borrowed
              automatically <br />
              <span style="color:  #EB3237;">&#9642;</span>Funds can be
              simultaneously borrowed and placed in position
              <br />
              <span style="color:  #EB3237;">&#9642;</span>No extra account
              links necessary <br />
              <span style="color:  #EB3237;">&#9642;</span>No margin accounts to
              set up to allow trades using leverage
              <br />
              <span style="color:  #EB3237;">&#9642;</span>Negative balance
              protection <br />
              <span style="color:  #EB3237;">&#9642;</span>Our unique
              risk-preventing system ensures margin trading cannot move account
              balance to negative values <br />
              <span style="color:  #EB3237;">&#9642;</span> Multiple leverages
              available <br />
              <span style="color:  #EB3237;">&#9642;</span>Open position with
              1:2 or 1:3 leverage depending on needs
              <br />
              <span style="color:  #EB3237;">&#9642;</span>Guaranteed stop loss
              <br />
              <span style="color:  #EB3237;">&#9642;</span>The platform reserves
              part of the order book to be closed at the price, without a gmater
              loss than the stop loss indicates. <br />
              <span style="color:  #EB3237;">&#9642;</span>Efficient rollover
              fee <br />
              <span style="color:  #EB3237;">&#9642;</span> Rollover fee is only
              charged when the position is opened; is not charged for the first
              4 hours. <br />
            </p>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW -->

<div class="container-fluid" id="how-to-manage-risk-section">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="offset-md-5 col-md-7 justify-content-end">
            <h2 class="dispaly-2 ">
              HOW TO MANAGE RISKS<br /><br />
              <hr id="line" />
              <br />
            </h2>
            <p class="text-left">
              Leveraged trades can be extremely risky and better left to
              experienced traders. The loss can exceed the deposit
              exponentially. For example, if the trade is a I everaged trade of
              1:5 is $1000, the deposit is $200. If the asset drops by only 20%,
              then the deposit has already been forfeited, and the trader could
              find themselves owing $800 more at the expiration time.
              <br />
              <br />
              Conventional wisdom recommends that only experienced traders
              attempt trading on margin. An understanding of the technical
              analysis and full knowledge of the underlying market is critical
              to making good decisions. Enacting a thorough plan, the client can
              minimize the risk of loss. Options Legion provides a platform
              which allows customers with little understanding of neither market
              nor technical knowledge to make informed margin trading with a
              very short learning curve.
            </p>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW END -->

<div class="container-fluid bg-lightblue">
  <div class="row">
    <div class="col">
      <div class="container section-vp">
        <div class="row">
          <div class="col-12">
            <h2>
              BUT CAN YOU REALLY WIN?
              <br />
              <hr id="line" />
              <br />
            </h2>
            <p>
              The biggest factor in winning at Binary Options is LUCK. But YES,
              you can really win. The thing brokers will not tell you is that
              you will have to put in a lot of effort and research if you want
              to win consistently. And even then, luck is the most powerful
              variable.
              <br />
              <br />
              Like in sports betting, if you want to win you will have to have a
              great knowledge about the sport in question and about the teams
              that are playing. You will have to understand the game, the
              strengths and weaknesses of the teams, and the skills of the
              players. You will have to know about historical performance,
              fitness levels, injuries, and dozens of other variables. Even
              then, things might not go your way.
              <br />
              <br />
              If you factor in all these variables then you probably will win in
              the long run. It's exactly the same in binary options trading.
              There are countless variables and risks that you will have to
              consider in order to accurately predict the future development of
              an asset.
              <br />
              <br />
              Issues like time of the year, state of the economy, political
              developments, economic performance of key market makers, recent
              business news and events are constantly influencing the movement
              of stock prices and commodities.
              <br />
              <br />
              In order to be able to accurately predict the movement of an
              asset, you will have to be up to date with all of this info. Also,
              in order to be successful you will have to understand a variety of
              technical data as well, such as being able to read charts, use
              technical indicators, understand statistic calculations, and much
              more.
              <br />
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
