<!-- <div class="flex-1">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
      <div class="row">
          <div class="col-12">
              <div class="card mb-4">
                  <div class="card-body p-4 rounded position-relative">
                      <div class="d-flex align-items-center mb-g">
                          <h1 class="fw-300 m-0 l-h-n">
                              <span class="text-contrast">
                                  Welcome to OptionsLegion
                              </span>
                              <small class="fw-300 m-0 l-h-n">
                                  The future of investment
                              </small>
                          </h1>
                      </div>
                      <div class="row">
                          <div class="col-lg-12">
                              <p>Options Legion is a legal financial and investment company registered in Cyprus.</p>
                              <p>We provide trading solutions to our worldwide customers to trade in foreign exchange,
                                  crypto coins and bullion metals like gold and silver. Our team of professionals is experienced in achieving
                                  the set goals and making good profits on their trades.
                              </p>
                              <p>
                                  We are made up of several expert, educated, experienced and skilled teams in market analysis.
                                  The expansiveness of markets, our large volume of capital and expertise helps us to secure and guaranty the return of our investors at the lowest possible risk.
                                  Not only it is experienced, it is well ahead of their competitors in gaining insight into new technological innovations and
                                  predicting the future course of the trading market.
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="card h-100 rounded overflow-hidden position-relative product">
                  <div class="card-body p-4">
                      <div class="d-flex align-items-center mb-g">
                          <img src="./assets/theme/img/binary-options.png" class="mr-3" width="48">
                          <h1 class="fw-300 m-0 l-h-n">
                              <span class="text-contrast">Investment Platform</span>
                              <small class="fw-300 m-0 l-h-n">
                                  The most Intelligent investment in the world
                              </small>
                          </h1>
                      </div>
                      <div class="col">
                          <div class="description">
                              Diversify your capital investment and start gaining real passive income every day.
                              Create your own online business through our platforms and services, cutting-edge technology on the internet.
                              Legion offer programmed commercial solutions to achieve stable profit over time and profitable platforms within versatility and security of crypto currency.
                          </div>
                          <a routerLink="/client/packages" class="btn btn-block btn-success btn-lg">START YOUR INVESTMENT</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 mb-4">
              <div class="card h-100 rounded overflow-hidden product">
                  <div class="card-body p-4">
                      <div class="d-flex align-items-center mb-g">
                          <img src="./assets/theme/img/binary-trade.png" class="mr-3" width="48">
                          <h1 class="fw-300 m-0 l-h-n">
                              <span class="text-contrast">Binary Options</span>
                              <small class="fw-300 m-0 l-h-n">
                                  Welcome to the largest expert guide to binary options and binary trading online.
                              </small>
                          </h1>
                      </div>
                      <div class="col">
                          <div class="description">
                              A Legion binary option is a fast and extremely simple financial instrument which allows investors to speculate on whether the price of an asset will go up or down in the future, for example the stock price of Google, the price of Bitcoin, the GBP/USD exchange rate, or the price of gold. The time span can be as little as 60 seconds, making it possible to trade hundreds of times per day across any global market.
                          </div>
                          <a routerLink="/login" class="btn btn-block btn-danger btn-lg">START YOUR FIRST TRADE</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100 rounded overflow-hidden product">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center mb-g">
                        <img src="./assets/theme/img/eth.jpg" class="mr-3" width="48">
                        <h1 class="fw-300 m-0 l-h-n">
                            <span class="text-contrast">Expert Legion</span>
                            <small class="fw-300 m-0 l-h-n">
                                The easiest and best way to make money in crypto industry.
                            </small>
                        </h1>
                    </div>
                    <div class="col">
                        <div class="description">
                            Easy way to earn with expert legion. Take up to 16636 ETH now! Payment is made immediately and no waiting is required. Safe and secured; no hacking is possible
                        </div>
                        <a href="https://expertlegion.com/" class="btn btn-block btn-info btn-lg">START NOW</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
              <h1 class="fw-300 m-0 text-center">
                  <span class="text-contrast">Market Overview</span>
                  <small class="fw-300 m-0 l-h-n">
                      Trade Stocks, Forex, Options and Crypto
                  </small>
              </h1>
              <div class="tradingview-widget-container mt-5">
                  <iframe scrolling="no" allowtransparency="true" frameborder="0" src='https://s.tradingview.com/embed-widget/market-overview/?locale=en#{"colorTheme":"light","dateRange":"12m","showChart":true,"largeChartUrl":"","isTransparent":false,"width":"800","height":"660","plotLineColorGrowing":"rgba(33, 150, 243, 1)","plotLineColorFalling":"rgba(33, 150, 243, 1)","gridLineColor":"rgba(240, 243, 250, 1)","scaleFontColor":"rgba(120, 123, 134, 1)","belowLineFillColorGrowing":"rgba(33, 150, 243, 0.12)","belowLineFillColorFalling":"rgba(33, 150, 243, 0.12)","symbolActiveColor":"rgba(33, 150, 243, 0.12)","tabs":[{"title":"Indices","symbols":[{"s":"OANDA:SPX500USD","d":"S&P 500"},{"s":"OANDA:NAS100USD","d":"Nasdaq 100"},{"s":"FOREXCOM:DJI","d":"Dow 30"},{"s":"INDEX:NKY","d":"Nikkei 225"},{"s":"INDEX:DEU30","d":"DAX Index"},{"s":"OANDA:UK100GBP","d":"FTSE 100"}],"originalTitle":"Indices"},{"title":"Commodities","symbols":[{"s":"CME_MINI:ES1!","d":"E-Mini S&P"},{"s":"CME:6E1!","d":"Euro"},{"s":"COMEX:GC1!","d":"Gold"},{"s":"NYMEX:CL1!","d":"Crude Oil"},{"s":"NYMEX:NG1!","d":"Natural Gas"},{"s":"CBOT:ZC1!","d":"Corn"}],"originalTitle":"Commodities"},{"title":"Bonds","symbols":[{"s":"CME:GE1!","d":"Eurodollar"},{"s":"CBOT:ZB1!","d":"T-Bond"},{"s":"CBOT:UB1!","d":"Ultra T-Bond"},{"s":"EUREX:FGBL1!","d":"Euro Bund"},{"s":"EUREX:FBTP1!","d":"Euro BTP"},{"s":"EUREX:FGBM1!","d":"Euro BOBL"}],"originalTitle":"Bonds"},{"title":"Forex","symbols":[{"s":"FX:EURUSD"},{"s":"FX:GBPUSD"},{"s":"FX:USDJPY"},{"s":"FX:USDCHF"},{"s":"FX:AUDUSD"},{"s":"FX:USDCAD"}],"originalTitle":"Forex"}],"utm_source":"localhost","utm_medium":"widget_new","utm_campaign":"market-overview"}' style="box-sizing: border-box; height: calc(628px); width: 1140px;"></iframe>
              </div>
          </div>
      </div>
      <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-default">
        <app-footer></app-footer>
      </div>
    </div>
  </div> -->
