<div id="panel-referrals" class="panel panel-fixed-height">
  <div class="panel-hdr">
    <h2>
      Referral Income <span class="fw-300"><i>Overview</i></span>
    </h2>
    <div class="panel-toolbar">
      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Collapse"></button>
      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Fullscreen"></button>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <app-loading *ngIf="loading"></app-loading>
      <div class="table-responsive" *ngIf="!loading">
        <table id="tbl-referrals" class="table table-bordered table-hover table-striped w-100">
          <thead>
            <tr>
              <th width="150">Name</th>
              <th width="100">Deposit</th>
              <th width="100">Income</th>
              <th>Direction</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let income of referralIncome;">
              <td width="40%">
                {{ income.first_name }} {{ income.last_name }}
              </td>
              <td width="20%">{{ income.amount_deposited | currency }}</td>
              <td width="20%">{{ income.income | currency }}</td>
              <td>
                <div class="text-center" *ngIf="income.direction == 'Left'">
                  <span class="badge badge-info badge-pill shadow-0">Left</span>
                </div>
                <div class="text-center" *ngIf="income.direction == 'Right'">
                  <span class="badge badge-success badge-pill shadow-0">Right</span>
                </div>
              </td>
            </tr>
            <tr *ngIf="!referralIncome?.length">
              <td colspan="4">
                <div class="text-center">No records</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <button class="btn btn-success btn-pills btn-block waves-effect waves-themed shadow-0"
            (click)="createReferral('1')">Click here to copy right link <i class="fal fa-angle-right"></i>
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-info btn-pills btn-block waves-effect waves-themed shadow-0" (click)="createReferral('2')"><i
              class="fal fa-angle-left"></i> Click here to copy left link
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="new_referral"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your New Referral is ready</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form id="js-login" novalidate="" *ngIf="referral">
          <div class="form-group">
            <label class="form-label">Referral: </label>
            <input type="text" id="new_referral_text" class="form-control form-control-lg border-info"
              placeholder="Referral" value="{{ referral.referral }}" />
          </div>
          <div class="row no-gutters">
            <div class="col-md-12 ml-auto text-right">
              <button
                id="js-login-btn"
                type="button"
                (click)="copyText()"
                class="btn btn-success mt-3"
              >
                COPY REFERRAL
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
