<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <div class="col-sm-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          Transactions <span class="fw-300"><i>Overview</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <!-- datatable start -->
          <div class="table-responsive">
            <app-loading *ngIf="loading"></app-loading>

            <table
              id="dt-basic-example"
              class="table table-bordered table-hover table-striped w-100"
            >
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Account</th>
                  <th>Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of transactions">
                  <td>{{ transaction.date }}</td>
                  <td>Main</td>
                  <td>
                    <span class="{{ typeClass(transaction) }}">{{
                      transaction.type
                    }}</span>
                  </td>
                  <td>{{ transaction.amount | currency }}</td>
                </tr>
                <tr *ngIf="!transactions.length">
                  <td colspan="4">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>
