<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fal fa-credit-card mr-1"></i>Perfect Money </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-3"><i
                class="fab fa-bitcoin mr-1"></i>Crypto Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i
                class="fal fa-money-bill-alt mr-1"></i>Wire Transfer</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                      <div *ngIf="hasErrors">
                        <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                      </div>
                      <form ngNoForm action="https://perfectmoney.com/api/step1.asp" method="POST"
                        id="perfectmoney_step_1" novalidate>
                        <input type="hidden" name="PAYEE_ACCOUNT" value="U17502503">
                        <input type="hidden" name="PAYEE_NAME" value="Investo">
                        <input type="hidden" id="form_payment_id" name="PAYMENT_ID" value=""><BR>
                        <input type="hidden" id="form_payment_amount" name="PAYMENT_AMOUNT" value=""><BR>
                        <input type="hidden" name="PAYMENT_UNITS" value="USD">
                        <input type="hidden" name="STATUS_URL" value="">
                        <input type="hidden" name="PAYMENT_URL" id="payment_url" value="">
                        <input type="hidden" name="PAYMENT_URL_METHOD" value="GET">
                        <input type="hidden" name="NOPAYMENT_URL" id="no_payment_url" value="">
                        <input type="hidden" name="NOPAYMENT_URL_METHOD" value="GET">
                        <input type="hidden" name="SUGGESTED_MEMO" value="">
                        <input type="hidden" name="BAGGAGE_FIELDS" value="">
                        <input type="hidden" name="PAYMENT_METHOD" value="Pay Now!">
                      </form>
                      <form [formGroup]="perfectMoneyForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['first_name']"
                            [controlName]="'First Name'">
                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" id="first_name" class="form-control" placeholder="First Name"
                              formControlName="first_name" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['last_name']"
                            [controlName]="'Last Name'">
                            <label class="form-label" for="last_name">Last Name</label>
                            <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                              formControlName="last_name" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['email']"
                            [controlName]="'Email'">
                            <label class="form-label" for="email">Email</label>
                            <input type="text" id="wire_email" class="form-control" placeholder="Email"
                              formControlName="email" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="perfectMoneyForm.controls['payment_amount']"
                            [controlName]="'Amount'">
                            <label class="form-label" for="payment_amount">Amount <small class="text-success">(Minimum
                                ${{this.package.min_amount}})</small></label>
                            <input type="number" id="payment_amount" class="form-control" placeholder="Amount"
                              formControlName="payment_amount" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button type="submit" class="btn btn-block btn-danger btn-lg mt-3"
                              (click)="createPerfectMoneyRequest()" [disabled]="!perfectMoneyForm.valid">
                              Deposit Now
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-3" role="tabpanel">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div *ngIf="hasErrors">
                        <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                    </div>
                    <form [formGroup]="cryptoDepositForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="cryptoDepositForm.controls['transaction_date']"
                            [controlName]="'Transaction Date'">
                            <label class="form-label" for="transaction_date">Transaction Date</label>
                            <input type="date" id="transaction_date" class="form-control" placeholder="Transaction Date"
                              formControlName="transaction_date" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="cryptoDepositForm.controls['amount']"
                            [controlName]="'Amount'">
                            <label class="form-label" for="amount">Amount</label>
                            <input type="number" id="amount" class="form-control" placeholder="Amount"
                              formControlName="amount" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                            <app-form-error-wrapper [control]="cryptoDepositForm.controls['transaction_id']"
                              [controlName]="'Transaction ID'">
                              <label class="form-label" for="transaction_id">Transaction ID</label>
                              <textarea id="transaction_id" class="form-control" placeholder="Transaction ID"
                                formControlName="transaction_id"></textarea>
                            </app-form-error-wrapper>
                          </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button type="submit" class="btn btn-block btn-success btn-md mt-3"
                              (click)="createCryptoDepositRequest()" [disabled]="!cryptoDepositForm.valid || requestInProgress">
                              Create Request
                            </button>
                          </div>
                        </div>
                      </form>
                </div>
              <div class="col-sm-12 col-md-6">
                <div id="panel-1" class="panel">
                  <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#tab-tether" role="tab">TETHER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tab-second" role="tab">DAI</a>
                    </li>
                  </ul>
                  <div class="tab-content p-3">
                    <div class="tab-pane fade show active" id="tab-tether">
                      <div class="panel-content">
                        <div class="alert alert-success">
                          <div class="d-flex align-items-center">
                            <div class="alert-icon">
                              <span class="icon-stack icon-stack-sm">
                                <i class="fab fa-bitcoin text-default"></i>
                              </span>
                            </div>
                            <div class="flex-1">
                              <span class="h5">Important!</span>
                              <ul>
                                <li>Coins will be deposited after 12 network confirmations.</li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="text-center">
                                  <p class="text-muted">TRC20 Address</p>
                                  <img src='https://chart.googleapis.com/chart?cht=qr&chl=TTPdW2T1UdVG4Pi64kYKwTMxqHQDBJxf5U&chs=180x180&choe=UTF-8&chld=L|2' alt='Tether TRC 20 Wallet Address'>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <p class="fw-700 pb-0 mb-0 mt-3">TRC20 Address: </p>
                                <p class="fs-lg my-2">TTPdW2T1UdVG4Pi64kYKwTMxqHQDBJxf5U</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 push-md-3">
                                <p class="fw-700 pb-0 mb-0 mt-3">Send only USDT to this deposit address.</p>
                                <p>Sending coin or token other than USDT to this address may result in the loss of your
                                  deposit.</p>
                              </div>
                              <div class="col-md-3 pull-md-9">
                                <div class="text-right pr-5">
                                  <img src="./assets/theme/img/tether-usdt-logo.png" width="50">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade show" id="tab-second">
                      <div class="panel-content">
                        <div class="alert alert-success">
                          <div class="d-flex align-items-center">
                            <div class="alert-icon">
                              <span class="icon-stack icon-stack-sm">
                                <i class="fab fa-bitcoin text-default"></i>
                              </span>
                            </div>
                            <div class="flex-1">
                              <span class="h5">Important!</span>
                              <ul>
                                <li>Coins will be deposited after 12 network confirmations.</li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="text-center">
                                  <p class="text-muted">DAI (BEP20) Address</p>
                                  <img src="./assets/theme/img/dai_qrcode.jpeg" width="200" height="200">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <p class="fw-700 pb-0 mb-0 mt-3">DAI Address: </p>
                                <p class="fs-lg my-2">0xbd99758f184772E34830eA956b24f46c51AC0295</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9 push-md-3">
                                <p class="fw-700 pb-0 mb-0 mt-3">Send only DAI to this deposit address.</p>
                                <p>Sending coin or token other than DAI to this address may result in the loss of your
                                  deposit.</p>
                              </div>
                              <div class="col-md-3 pull-md-9">
                                <div class="text-right pr-5">
                                  <img src="./assets/theme/img/multi-collateral-dai-dai-logo.png" width="50">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
            <div class="row">
              <div class="col-xl-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                      <div class="row">
                        <div class="col">
                          <p class="fw-700 pb-0 mb-0 mt-3">Wire Details: </p>
                          <p class="fs-xl my-2">ACCOUNT NAME: ABDUISAIAM BIN TAHIR INVESTMENT</p>
                          <p class="fs-xl my-2">BANK NAME: COMMERCIAL BANK OF DUBAI</p>
                          <p class="fs-xl my-2">
                            IBAN(AED):<br>
                            AE800230000001002368817<br>
                            IBAN(USD):<br>
                            AE580230000001002368825<br>
                            IBAN(EUR):<br>
                            AE360230000001002368833<br>
                          </p>
                        </div>
                      </div>
                      <form [formGroup]="wireTransferForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="wireTransferForm.controls['amount']"
                            [controlName]="'Amount'">
                            <label class="form-label" for="wire_amount">Amount</label>
                            <input type="text" id="wire_amount" class="form-control" placeholder="Amount"
                              formControlName="amount" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="wireTransferForm.controls['bank']" [controlName]="'Bank'">
                            <label class="form-label" for="bank">Bank</label>
                            <input type="text" id="bank" class="form-control" placeholder="Bank"
                              formControlName="bank" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="wireTransferForm.controls['country']"
                            [controlName]="'Country'">
                            <label class="form-label" for="country">Country</label>
                            <input type="text" id="country" class="form-control" placeholder="Country"
                              formControlName="country" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="wireTransferForm.controls['city']" [controlName]="'City'">
                            <label class="form-label" for="city">City</label>
                            <input type="text" id="city" class="form-control" placeholder="City"
                              formControlName="city" />
                          </app-form-error-wrapper>
                        </div>

                        <div class="form-group">
                          <app-form-error-wrapper [control]="wireTransferForm.controls['wire_date']"
                            [controlName]="'Deposit Date'">
                            <label class="form-label" for="wire_date">Deposit Date</label>
                            <input type="date" id="wire_date" class="form-control" placeholder="Deposit Date"
                              formControlName="wire_date" />
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group mb-0">
                          <label class="form-label">File (Browser)</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                          </div>
                        </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3"
                              [disabled]="!wireTransferForm.valid" (click)="saveWireDetailsAsync()">
                              Save Transfer Details
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
