<app-binary-sub-header [title]="pageTitle" [icon]="pageIcon"></app-binary-sub-header>
<div class="row">
  <div class="col-sm-12">
      <div id="panel-1" class="panel">
          <div class="panel-hdr">
              <h2>
                  Trades History <span class="fw-300"><i>Overview</i></span>
              </h2>
              <div class="panel-toolbar">
                  <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                  <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
              </div>
          </div>
          <div class="panel-container show">
              <div class="panel-content">
                  <!-- datatable start -->
                  <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                      <thead>
                          <tr>
                              <th>Opened at</th>
                              <th>Asset</th>
                              <th>Position</th>
                              <th>Amount</th>
                              <th>Profit</th>
                              <th>Closed at</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let trade of trades">
                              <td>{{trade.open_time | date}}</td>
                              <td>{{trade.asset}}</td>
                              <td>{{trade.position}}</td>
                              <td>{{trade.trade_amount | currency}}</td>
                              <td><span class="{{tradeProfitClass(trade)}}">
                                {{(trade.closeing_time === null)? '--': trade.profit | currency}}</span></td>
                              <td>{{(trade.closeing_time === null)? '--': trade.closeing_time | date}}</td>
                          </tr>
                          <tr *ngIf="!trades?.length">
                            <td colspan="6">
                                <div class="text-center">No records</div>
                            </td>
                         </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Opened at</th>
                            <th>Asset</th>
                            <th>Position</th>
                            <th>Amount</th>
                            <th>Profit</th>
                            <th>Closed at</th>
                          </tr>
                      </tfoot>
                  </table>
                  <!-- datatable end -->
              </div>
          </div>
      </div>
  </div>
</div>
