<form action="/upload" class="dropzone needsclick" id="{{dropzone_id}}" style="min-height: 7rem;">
    <div class="dz-message needsclick">
        <i class="fal fa-cloud-upload text-muted mb-3"></i> <br>
        <span class="text-uppercase">Drop files here or click to upload.</span>
    </div>
</form>