.spacer {
    margin-top: 20px;
}

.card{
    height: 200px;
}

.social a {
    height: 50px;
}

.btnContact {
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 1rem;
    background: #dc3545;
    color: #fff;
}