<div *ngIf="paymentStatus" class="row">
  <div class="col-sm-12">
    <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
      <h1 class="page-error color-fusion-600">
        PAYMENT <span class="text-gradient">SUCCESSFUL</span>
        <small class="fw-500 text-success">
          Your account has been deposited with <u>{{perfectMoneyRequest?.payment_amount | currency}}</u>.
        </small>
      </h1>
      <h3 class="fw-500">
        We have also sent you an email confirmation for this payment.
      </h3>
      <h4>
        If you have any trouble seeing this transaction on your account, or any other queries <br>please reach out to us at support@optionslegion.com
	  </h4>
    <a href="/portal/investments" class="btn btn-lg btn-outline-success waves-effect waves-themed mt-3">
      <span class="fal fa-dollar-sign mr-1"></span>
      View All Transaction
    </a>
	</div>
  </div>
</div>

<div *ngIf="!paymentStatus" class="row">
  <div class="col-sm-12">
    <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
      <h1 class="page-error">
        PAYMENT <span class="text-gradient">FAILED</span>
        <small class="fw-500 text-danger">
         Your last payment was not successful, please try again.
        </small>
      </h1>
      <h4>
        If you have any trouble with this transaction, or any other queries <br>please reach out to us at support@optionslegion.com
	  </h4>
    <a href="/portal/add_funds" class="btn btn-lg btn-outline-success waves-effect waves-themed mt-3">
      <span class="fal fa-sync mr-1"></span>
      Try Again
    </a>
	</div>
  </div>
</div>
