<header class="page-header" role="banner">
  <div class="page-logo">
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal"
      data-target="#modal-shortcut">
      <img src="http://optionslegion.com/assets/theme/img/logo.svg" aria-roledescription="logo" style="height: 50px"/>
      <span class="page-logo-text mr-1">Options Legion</span>
      <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
      <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
    </a>
  </div>
  <div class="hidden-md-down dropdown-icon-menu position-relative">
    <a href="javascript:;" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
      <i class="ni ni-menu"></i>
    </a>
    <ul>
      <li>
        <a href="javascript:;" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify"
          title="Minify Navigation">
          <i class="ni ni-minify-nav"></i>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed"
          title="Lock Navigation">
          <i class="ni ni-lock-nav"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- DOC: mobile button appears during mobile width -->
  <div class="hidden-lg-up">
    <a href="javascript:;" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
      <i class="ni ni-menu"></i>
    </a>
  </div>
  <div class="ml-auto d-flex">
    <!-- activate app search icon (mobile) -->
    <button (click)="checkAcademyRecord()" class="btn btn-sm btn-outline-info waves-effect waves-themed mr-2" style="height: 40px; margin-top: 12px;">Academy</button>
    <button *ngIf="is_Admin" (click)="showClientDashboard()" class="btn btn-sm btn-outline-primary waves-effect waves-themed mr-2" style="height: 40px; margin-top: 12px;">Client Dashboard</button>
    <button (click)="loginToBinaryPlatform()" class="btn btn-sm btn-outline-danger waves-effect waves-themed" style="height: 40px; margin-top: 12px;">Binary Options Platform</button>
    <div>
      <a href="#" data-toggle="dropdown"
        class="header-icon d-flex align-items-center justify-content-center ml-2">
        <img src="/assets/images/user-icon-black.svg" class="profile-image rounded-circle"/>
        <!-- you can also add username next to the avatar with the codes below:
        <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
        <i class="ni ni-chevron-down hidden-xs-down"></i> -->
      </a>
      <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
        <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
          <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
            <span class="mr-2">
              <img src="/assets/images/user-icon-white.svg" class="rounded-circle profile-image" />
            </span>
            <div class="info-card-text">
              <div class="fs-lg text-truncate text-truncate-lg">
                {{client?.profile?.first_name}} {{client?.profile?.last_name}}
              </div>
              <span class="text-truncate text-truncate-md opacity-80">{{client?.profile?.email}}</span>
            </div>
          </div>
        </div>
        <div class="dropdown-divider m-0"></div>
        <a href="/portal/dashboard" class="dropdown-item">
          <span data-i18n="drpdwn.reset_layout">Binary Platform</span>
        </a>
        <a href="/binary/dashboard" class="dropdown-item">
            <span data-i18n="drpdwn.reset_layout">Binary Options Trading</span>
        </a>
        <a routerLink="/portal/profile" class="dropdown-item">
          <span data-i18n="drpdwn.settings">Profile</span>
        </a>
        <a routerLink="/portal/profile" class="dropdown-item">
          <span data-i18n="drpdwn.settings">Change Password</span>
        </a>
        <div class="dropdown-divider m-0"></div>
        <a class="dropdown-item fw-500 pt-3 pb-3" href="javascript:;" (click)="logoutAsync()">Logout
          <span class="float-right fw-n">...</span>
        </a>
      </div>
    </div>
  </div>
</header>

