<div class="flex-1">
  <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body p-4 rounded position-relative">
            <div class="d-flex align-items-center mb-g">
              <h1 class="fw-300 m-0 l-h-n">
                <span class="text-contrast">
                  FAQ
                </span>
                <small class="fw-300 m-0 l-h-n">
                </small>
              </h1>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="accordion" id="accordionExample">
                  <div class="card" *ngFor="let faq of faqs; let i = index">
                    <div class="card-header" id="heading{{i}}">
                      <a attr.data-target="#collapse{{i}}" href="javascript:void(0);" class="card-title"
                        data-toggle="collapse" attr.aria-expanded="true" attr.aria-controls="collapse{{i}}">
                        {{faq.question}}
                      </a>
                    </div>
                    <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}"
                      data-parent="#accordionExample">
                      <div class="card-body" [innerHTML]="faq.answer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
