<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>

<div class="panel">
  <div class="panel-hdr">
    <h2>
      Messages
    </h2>
    <div class="panel-toolbar">
      <a class="btn btn-sm btn-success mr-5 nav-link " data-toggle="tab" href="#tab-new-message">New Message</a>
      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Collapse"></button>
      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Fullscreen"></button>
      <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Close"></button>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab-all-messages" role="tab">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-sent-messages" role="tab">Sent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-received-messages" role="tab">Received</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-new-message" role="tab">Create New Message</a>
        </li>
      </ul>
      <div class="tab-content p-3">
        <div class="tab-pane fade active show" id="tab-all-messages" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th width="10%">MESSAGE ID</th>
                  <th>SUBJECT</th>
                  <th>BODY</th>
                  <th>UPDATED AT</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of allMessages">
                  <td>{{ message.id }}</td>
                  <td>{{ message.subject }}</td>
                  <td>{{ message.body }}</td>
                  <td>
                    {{ message.updated_at | date: 'medium' }}
                  </td>
                </tr>
                <tr *ngIf="allMessages.length == 0">
                  <td colspan="5">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-sent-messages" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th width="10%">MESSAGE ID</th>
                  <th width="20%">READ AT</th>
                  <th>SUBJECT</th>
                  <th>RECEIVER</th>
                  <th>UPDATED AT</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sentMessage of sentMessages">
                  <td>{{ sentMessage.id }}</td>
                  <td>
                    {{
                      sentMessage.read_at
                        ? sentMessage.read_at
                        : ('--' | date: 'medium')
                    }}
                  </td>
                  <td>{{ sentMessage.subject }}</td>
                  <td>
                    {{ sentMessage.receiver.first_name }}
                    {{ sentMessage.receiver.last_name }}
                  </td>
                  <td>
                    {{ sentMessage.updated_at | date: 'medium' }}
                  </td>
                </tr>
                <tr *ngIf="sentMessages.length == 0">
                  <td colspan="5">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-received-messages" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th width="10%">MESSAGE ID</th>
                  <th width="20%">READ AT</th>
                  <th>SUBJECT</th>
                  <th>SENDER</th>
                  <th>UPDATED AT</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let recievedMessage of recievedMessages">
                  <td>{{ recievedMessage.id }}</td>
                  <!-- <td *ngIf="recievedMessage.read_at == null">--</td> -->
                  <td>
                    {{
                      recievedMessage.read_at
                        ? recievedMessage.read_at
                        : ('--' | date: 'medium')
                    }}
                  </td>
                  <td>{{ recievedMessage.subject }}</td>
                  <td>{{ recievedMessage.sender.first_name }}</td>
                  <td>
                    {{ recievedMessage.updated_at | date: 'medium' }}
                  </td>
                </tr>
                <tr *ngIf="recievedMessages.length == 0">
                  <td colspan="5">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-new-message" role="tabpanel" aria-labelledby="tab-home">
          <form [formGroup]="newMessageForm">
            <div class="form-group">
              <app-form-error-wrapper [control]="newMessageForm.controls['subject']" [controlName]="'Subject'">
                <label class="form-label" for="subject">Subject <span style="color: red;">*</span></label>
                <input type="text" id="subject" class="form-control" name="subject" formControlName="subject" />
              </app-form-error-wrapper>
            </div>
            <app-form-error-wrapper [control]="newMessageForm.controls['receiver_id']" [controlName]="'Receiver'">
              <label class="form-label" for="receiver_id">Receiver Name: <span style="color: red;">*</span></label>
              <select id="receiver_id" class="cfm form-control" formControlName="receiver_id">
                <option value="" selected disabled hidden>Please Select</option>
                <option value="{{ client.id }}" *ngFor="let client of clientResponse.clients.data">
                  {{ client.first_name }} {{ client.last_name }}
                </option>
              </select>
            </app-form-error-wrapper>
            <div class="form-group mt-3">
              <app-form-error-wrapper [control]="newMessageForm.controls['body']" [controlName]="'Message'">
                <label class="form-label" for="body">Your Message <span style="color: red;">*</span></label>
                <textarea class="form-control" id="body" rows="4" formControlName="body"></textarea>
              </app-form-error-wrapper>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3 ml-auto text-left">
                <button id="js-login-btn" (click)="createNewMessageAsync()" type="submit"
                  class="btn btn-block btn-primary btn-md mt-3" [disabled]="!newMessageForm.valid">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="panel-1" class="panel">
  <div class="panel-hdr">
    <h2>
      Manage Tickets
    </h2>
    <div class="panel-toolbar">
      <a class="btn btn-sm btn-success mr-5 nav-link " data-toggle="tab" href="#tab-new-ticket">NEW TICKET</a>
      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Collapse"></button>
      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Fullscreen"></button>
      <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Close"></button>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab-my-tickets" role="tab">View Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-new-ticket" role="tab">Create New Ticket</a>
        </li>
      </ul>
      <div class="tab-content p-3">
        <div class="tab-pane fade active show" id="tab-my-tickets" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th width="10%">TICKET ID</th>
                  <th width="20%">LAST UPDATED</th>
                  <th>SUBJECT</th>
                  <th>STATUS</th>
                  <th>PRIORITY</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets" (click)="openTicket(ticket)">
                  <td>{{ ticket.id }}</td>
                  <td>{{ ticket.updated_at }}</td>
                  <td>{{ ticket.subject }}</td>
                  <td>
                    <div *ngIf="ticket?.status === 'CLOSED'">
                      <span class="badge badge-danger">Closed</span>
                    </div>
                    <div *ngIf="ticket?.status === 'OPEN'">
                      <span class="badge badge-success">Open</span>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="ticket?.priority == 'LOW'">
                      <span class="badge badge-success">Low</span>
                    </div>
                    <div *ngIf="ticket?.priority === 'MEDIUM'">
                      <span class="badge badge-warning">Medium</span>
                    </div>
                    <div *ngIf="ticket?.priority === 'HIGH'">
                      <span class="badge badge-danger">High</span>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!tickets?.length">
                  <td colspan="5">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-new-ticket" role="tabpanel" aria-labelledby="tab-home">
          <div class="panel-tag">
            If you are reporting a problem, please remember to provide as much
            information that is relevant to the issue as possible.
          </div>
          <div *ngIf="hasErrors">
            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
          </div>
          <form [formGroup]="ticketForm">
            <div class="form-group">
              <app-form-error-wrapper [control]="ticketForm.controls['subject']" [controlName]="'Subject'">
                <label class="form-label" for="subject">Subject</label>
                <input type="text" id="subject" class="form-control" name="subject" formControlName="subject" />
              </app-form-error-wrapper>
            </div>
            <div class="form-group">
              <app-form-error-wrapper [control]="ticketForm.controls['email']" [controlName]="'Email'">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                  formControlName="email" />
              </app-form-error-wrapper>
            </div>
            <div class="form-group">
              <app-form-error-wrapper [control]="ticketForm.controls['priority']" [controlName]="'Priority'">
                <label class="form-label">Priority</label>
                <select class="custom-select form-control" formControlName="priority">
                  <option value="1">Low</option>
                  <option value="2">Medium</option>
                  <option value="3">High</option>
                </select>
              </app-form-error-wrapper>
            </div>
            <div class="form-group">
              <app-form-error-wrapper [control]="ticketForm.controls['note']" [controlName]="'Message'">
                <label class="form-label" for="note">Your Message</label>
                <textarea class="form-control" id="note" rows="8" formControlName="note"></textarea>
              </app-form-error-wrapper>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3 ml-auto text-left">
                <button id="js-login-btn" (click)="createTicketAsync()" type="submit"
                  class="btn btn-block btn-danger btn-lg mt-3" [disabled]="!ticketForm.valid">
                  Submit Now
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="view-ticket-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ ticket?.subject }}
          <small class="m-0 text-muted">
            <div *ngIf="ticket?.priority == 'LOW'">
              <span class="badge badge-success">Low</span>
            </div>
            <div *ngIf="ticket?.priority === 'MEDIUM'">
              <span class="badge badge-warning">Medium</span>
            </div>
            <div *ngIf="ticket?.priority === 'HIGH'">
              <span class="badge badge-danger">High</span>
            </div>
          </small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        {{ ticket?.note }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Ok
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
