<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>

<div id="dashboard-panel-2" class="panel" *ngIf="showBtn && is_Admin">
  <div class="panel-hdr">
    <h2>
      <span class="fw-300">Filters</span>
    </h2>
  </div>
  <div class="panel-container">
    <div class="panel-content">
      <form action="#" [formGroup]="messagesFilterForm">
        <div class="row">
          <div class="col">
            <app-form-error-wrapper [control]="messagesFilterForm.controls['client_id']" [controlName]="'Client ID'">
              <label class="form-label" for="id">Client ID:</label>
              <input type="text" id="client_id" class="cfm form-control" placeholder="Client ID"
                formControlName="client_id">
            </app-form-error-wrapper>
          </div>

          <div class="col">
            <app-form-error-wrapper [control]="messagesFilterForm.controls['client_name']" [controlName]="'Client Name'">
              <label class="form-label" for="client_name">Client Name:</label>
              <div class="input-group bg-white">
                <input type="text" id="client_name" class="cfm form-control bg-transparent pr-0" placeholder="Client Name"
                  formControlName="client_name">
              </div>
            </app-form-error-wrapper>
          </div>
          <div class="col">
            <app-form-error-wrapper [control]="messagesFilterForm.controls['message_status']" [controlName]="'Message Status'">
              <label class="form-label" for="message_status">Status:</label>
              <select name="message_status" id="message_status" class="form-control" formControlName="message_status">
                <option value="" selected>All</option>
                <option value="Read">Read</option>
                <option value="Unread">Unread</option>
              </select>
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-sm-12">
            <label>&nbsp;</label>
            <button type="reset" (click)="clearFilters()"
              class="shadow-0 btn float-right btn-outline-danger">Clear</button>
            <label>&nbsp;</label>
            <button type="submit" (click)="applyFilers()"
              class="shadow-0 btn float-right btn-success mx-2">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="panel" *ngIf="ready">
  <div class="panel-hdr">
    <h2>
      Messages
    </h2>
    <div class="panel-toolbar">
      <a class="btn btn-sm btn-success shadow-0 rounded-0 mr-3 nav-link" *ngIf="showBtn" data-toggle="tab" href=""(click)="markAllAsRead()">Mark All as Read</a>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab-new-message" (click)="hideButton()" role="tab">Create New Message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-sent-messages" (click)="hideButton()" role="tab">Sent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab-received-messages" (click)="showButton()" role="tab" *ngIf="ready">Received<span class="badge badge-dark ml-2" >{{messageCount?.count}}</span></a>
        </li>
      </ul>
      <div class="tab-content p-3">
        <div class="tab-pane fade" id="tab-sent-messages" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr>
                  <th>RECEIVER</th>
                  <th *ngIf = "is_Admin">EMAIL</th>
                  <th>SUBJECT</th>
                  <th width="30%">DATE & TIME</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages?.sentMessages">
                  <td [ngClass]="{'font-weight-bold': message.message_status == 'Unread'}" >{{message.receiver.first_name}} {{message.receiver.last_name}}</td>
                  <td *ngIf = "is_Admin" [ngClass]="{'font-weight-bold': message.message_status == 'Unread'}" >{{message.receiver.email}}</td>
                  <td><a href="javascript:;" (click)="openMessage(message,false)">{{ message.subject }}</a></td>
                  <td>{{ message.created_at | date: 'medium' }}</td>
                </tr>
                <tr *ngIf="messages?.sentMessages == 0">
                  <td colspan="2">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-received-messages" role="tabpanel" aria-labelledby="tab-profile">


          <div class="table-responsive">
            <table id="dt-referral" class="table table-bordered table-hover table-striped w-100">
              <thead>
                <tr *ngIf="is_Admin; else client">
                  <th>SENDER</th>
                  <th>EMAIL</th>
                  <th>SUBJECT</th>
                  <th width="30%">DATE & TIME</th>
                  <th width="30%">ACTION</th>
                </tr>
                <ng-template #client>
                  <tr>
                    <th width="30%">DATE & TIME</th>
                    <th>SUBJECT</th>
                  </tr>
                </ng-template>
              </thead>
              <tbody *ngIf="is_Admin">
                <tr *ngFor="let message of messages?.recievedMessages; let i = index;">
                  <td [ngClass]="{'font-weight-bold': message.message_status == 'Unread'}">{{message.sender.first_name}} {{message.sender.last_name}}</td>
                  <td [ngClass]="{'font-weight-bold': message.message_status == 'Unread'}">{{message.sender.email}}</td>
                  <td><a href="javascript:;" (click)="openMessage(message)">{{ message.subject }}</a></td>
                  <td>{{ message.created_at | date: 'medium' }}</td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1-{{i}}"  [checked]="message.message_status == 'Read'" (change)="checked($event, message.id)">
                      <label class="custom-control-label" for="customSwitch1-{{i}}">{{message.message_status}}</label>
                    </div>
                  </td>
                </tr>

                <tr *ngIf="messages?.recievedMessages == 0">
                  <td colspan="6">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="!is_Admin">
                <tr *ngFor="let message of messages?.recievedMessages">
                  <td>{{ message.created_at | date: 'medium' }}</td>
                  <td [ngClass]="{'font-weight-bold': message.message_status == 'Unread'}"><a href="javascript:;" (click)="openMessage(message)">{{ message.subject }}</a></td>
                </tr>
                <tr *ngIf="messages?.recievedMessages == 0">
                  <td colspan="2">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade active show" id="tab-new-message" role="tabpanel" aria-labelledby="tab-profile">
          <form [formGroup]="newMessageForm">
            <div class="form-group">
              <app-form-error-wrapper [control]="newMessageForm.controls['subject']" [controlName]="'Subject'">
                <label class="form-label" for="subject">Subject <span style="color: red;">*</span></label>
                <input type="text" id="subject" class="form-control" name="subject" formControlName="subject" />
              </app-form-error-wrapper>
            </div>

            <div class="form-group mt-3">
              <app-form-error-wrapper [control]="newMessageForm.controls['body']" [controlName]="'Message'">
                <label class="form-label" for="body">Your Message <span style="color: red;">*</span></label>
                <textarea class="form-control" id="body" rows="4" formControlName="body"></textarea>
              </app-form-error-wrapper>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3 ml-auto text-left">
                <button id="js-login-btn" (click)="createNewMessageAsync()" type="submit"
                  class="btn btn-block btn-primary rounded-0 shadow-0 btn-md mt-3"
                  [disabled]="!newMessageForm.valid || isLoading">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="view-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ message?.subject }}
          <small class="m-0 text-muted">
            <div *ngIf="ticket?.priority == 'LOW'">
              <span class="badge badge-success">Low</span>
            </div>
            <div *ngIf="ticket?.priority === 'MEDIUM'">
              <span class="badge badge-warning">Medium</span>
            </div>
            <div *ngIf="ticket?.priority === 'HIGH'">
              <span class="badge badge-danger">High</span>
            </div>
          </small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollbox">
          {{ message?.body }}
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="is_Admin && hideReply" class="btn btn-primary shadow-0"
          (click)="openReplyMessage(message)">Reply</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="view-reply-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Reply Message
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="hasErrors">
          <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
        </div>
        <form [formGroup]="replyMessageForm">
          <div class="form-group">
            <app-form-error-wrapper [control]="replyMessageForm.controls['subject']" [controlName]="'Subject'">
              <label class="form-label" for="subject">Subject <span style="color: red;">*</span></label>
              <input type="text" id="subject" class="form-control" name="subject" formControlName="subject" />
            </app-form-error-wrapper>
          </div>
          <div class="row">
            <div class="col">
              <div class="card p-2 shadow-0 bg-gray-100">
                <label class="form-label">Message:</label>
                <div class="text-italics">{{ message?.body }}</div>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <app-form-error-wrapper [control]="replyMessageForm.controls['body']" [controlName]="'Message'">
              <label class="form-label" for="body">Reply <span style="color: red;">*</span></label>
              <textarea class="form-control" id="body" rows="4" formControlName="body"></textarea>
            </app-form-error-wrapper>
          </div>
          <div class="row no-gutters">
            <div class="col-md-3 ml-auto text-left">
              <button id="js-login-btn" (click)="replyMessage()" type="submit"
                class="btn btn-block btn-primary rounded-0 shadow-0 btn-md mt-3" [disabled]="isLoading || !replyMessageForm.valid">
                Send Reply
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
