<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>

<div id="dashboard-panel-2" class="panel">
  <div class="panel-hdr">
    <h2>
      <span class="fw-300">Filters</span>
    </h2>
  </div>
  <div class="panel-container">
    <div class="panel-content">
      <form action="#" [formGroup]="clientFilterForm">
        <div class="row">
          <div class="col">
            <app-form-error-wrapper [control]="clientFilterForm.controls['client_id']" [controlName]="'Client ID'">
              <label class="form-label" for="id">Client ID:</label>
              <input type="text" id="client_id" class="cfm form-control" placeholder="Client ID"
                formControlName="client_id">
            </app-form-error-wrapper>
          </div>

          <div class="col">
            <app-form-error-wrapper [control]="clientFilterForm.controls['name']" [controlName]="'Name'">
              <label class="form-label" for="name">Client Name:</label>
              <div class="input-group bg-white">
                <input type="text" id="name" class="cfm form-control bg-transparent pr-0" placeholder="Client Name"
                  formControlName="name">
              </div>
            </app-form-error-wrapper>
          </div>
          <div class="col">
            <app-form-error-wrapper [control]="clientFilterForm.controls['email']" [controlName]="'Email'">
              <label class="form-label" for="email">Client Email:</label>
              <input type="text" id="email" class="cfm form-control" placeholder="Email" formControlName="email">
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-sm-12">
            <label>&nbsp;</label>
            <button type="reset" (click)="clearFilters()"
              class="shadow-0 btn float-right btn-outline-danger">Clear</button>
            <label>&nbsp;</label>
            <button type="submit" (click)="applyFilers()"
              class="shadow-0 btn float-right btn-success mx-2">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="panel-1" class="panel">
  <div class="panel-hdr">
    <h2>
      Manage Clients
    </h2>
    <div class="panel-toolbar">
      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Collapse"></button>
      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Fullscreen"></button>
      <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
        data-original-title="Close"></button>
    </div>
  </div>
  <div class="panel-container show">
    <div class="panel-content">
      <div class="tab-content p-3">
        <div class="tab-pane fade active show" id="clients-tab" role="tabpanel" aria-labelledby="tab-profile">
          <div class="table-responsive">
            <div *ngIf="loading">
              <app-loading></app-loading>
            </div>
            <table *ngIf="!loading" id="dt-clients" class="table table-bordered table-hover table-striped w-100" style="min-height: 500px;">
              <thead>
                <tr>
                  <th width="10%">ID</th>
                  <th width="20%">CLIENT</th>
                  <th>BALANCE</th>
                  <th>DEPOSITS</th>
                  <th>WITHDRAWALS</th>
                  <th>REFERRAL INCOME</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clientResponse.clients.data">
                  <td>
                    <p class="pt-3">
                      <a [routerLink]="['/portal/client-dashboard/summary', client.id]">OPL- {{ client.id }}</a></p>
                  </td>
                  <td>
                    {{ client.first_name }} {{ client.last_name }}
                    <img *ngIf="client?.kyc_verified === 1" src="../../../assets/images/green-tick.svg" alt="Green Tick" srcset="">
                    <img *ngIf="client?.kyc_verified === 0" src="../../../assets/images/grey-tick.svg" alt="Grey Tick" srcset="">
                    <div class="mt-2">
                      <em>{{ client.email }}</em>
                    </div>
                    <div class="mt-2 badge badge-pill badge-primary">
                      <b>Left:</b>  {{changeValue(client.left_balance)}}
                    </div>
                    <div class="ml-1 mt-2 badge badge-pill badge-success">
                      <b>Right:</b>  {{changeValue(client.right_balance)}}
                    </div>
                  </td>
                  <td>
                    <p class="pt-3">{{ client.balance | currency }}</p>
                  </td>
                  <td>
                    <p class="pt-3 text-success">
                      {{ client.total_deposits | currency }}
                    </p>
                  </td>
                  <td>
                    <p class="pt-3 text-danger">
                      {{ client.total_withdrawals | currency }}
                    </p>
                  </td>
                  <td>
                    <p class="pt-3 text-info">
                      {{ client.referral_income | currency }}
                    </p>
                  </td>
                  <td class="text-right">
                    <div class="btn-group mt-2">
                      <button type="button" class="btn btn-default">
                        Action
                      </button>
                      <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;" (click)="allocateRoi(client)">Allocate ROI</a>
                        <a class="dropdown-item" href="javascript:;" (click)="addAward(client,'Awarded')">Add Award</a>
                        <a class="dropdown-item" href="javascript:;" (click)="addAward(client,'Rewarded')">Add Reward</a>
                        <a class="dropdown-item" href="javascript:;" (click)="addbothBadges(client,'All')">Add Both Badges</a>
                        <a class="dropdown-item" href="javascript:;" (click)="markAsFeePaid(client)">Signup Fee Paid</a>
                        <a class="dropdown-item" href="javascript:;" (click)="resetPassword(client)">Reset Password</a>
                        <a class="dropdown-item" href="javascript:;" (click)="openUpdateProfile(client)">Update Client</a>
                        <a class="dropdown-item" href="javascript:;" (click)="openDisable2FA(client)">Disable 2FA</a>
                        <a class="dropdown-item" href="javascript:;" (click)="openDepositForm(client)">Add Deposit</a>
                        <a class="dropdown-item" href="javascript:;" (click)="viewKYCDocuments(client)">KYC</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!clientResponse.clients.data?.length">
                  <td colspan="8">
                    <div class="text-center">No records</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row pager">
              <div class="col-12 text-right">
                <ul class="pagination pagination-sm">
                  <li class="page-item" *ngFor="let page of pages">
                    <a (click)="gotoPage(page)" class="page-link" href="javascript:;">{{page}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="client-deposit-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Add Deposit
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" *ngIf="depositFormReady">
        <form [formGroup]="depositForm">
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['first_name']" [controlName]="'First Name'">
              <label class="form-label" for="first_name">First Name</label>
              <input type="text" id="first_name" class="form-control" placeholder="First Name"
                formControlName="first_name" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['last_name']" [controlName]="'Last Name'">
              <label class="form-label" for="last_name">Last Name</label>
              <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                formControlName="last_name" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group">
            <app-form-error-wrapper [control]="depositForm.controls['email']" [controlName]="'Email'">
              <label class="form-label" for="email">Email</label>
              <input type="text" id="wire_email" class="form-control" placeholder="Email" formControlName="email" />
            </app-form-error-wrapper>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['type']" [controlName]="'Type'">
                <label class="form-label" for="type">Deposit Type</label>
                <select formControlName="type" class="form-control">
                  <option value="INVESTMENT">Investment</option>
                  <option value="SUBSCRIPTION_FEE">Subscription Fee</option>
                </select>
              </app-form-error-wrapper>
            </div>
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['method_id']" [controlName]="'Method'">
                <label class="form-label" for="method">Method</label>
                <select formControlName="method_id" class="form-control">
                  <option value="WIRE_TRANSFER">Wire Transfer</option>
                  <option value="PERFECT_MONEY">Perfect Money</option>
                  <option value="CRYPTO">Crypto Tether</option>
                </select>
              </app-form-error-wrapper>
            </div>
            <div class="col-4">
              <app-form-error-wrapper [control]="depositForm.controls['amount']" [controlName]="'Amount'">
                <label class="form-label" for="amount">Amount</label>
                <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount" />
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label>Transaction Details: </label>
              <textarea formControlName="details" class="form-control" name="details"></textarea>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-4 ml-auto text-left">
              <button type="submit" (click)="saveDeposit()" class="btn btn-block btn-success btn-md mt-2"
                [disabled]="!depositForm.valid">
                Deposit Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="update-client-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Update Client
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="profileReady">
          <form [formGroup]="profileForm" id="js-login" novalidate="" (ngSubmit)="updateProfile()">
            <div class="form-group row">
              <label class="col-xl-12 form-label" for="fname">First Name</label>
              <div class="col-6 pr-1">
                <app-form-error-wrapper [control]="profileForm.controls['first_name']" [controlName]="'First Name'">
                  <input type="text" id="first_name" class="form-control" placeholder="First Name"
                    formControlName="first_name" />
                </app-form-error-wrapper>
              </div>
              <div class="col-6 pl-1">
                <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Last Name'">
                  <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                    formControlName="last_name" />
                </app-form-error-wrapper>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="emailverify">Email</label>
              <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Email'">
                <input type="email" id="email" class="form-control" placeholder="Email for verification"
                  formControlName="email" />
              </app-form-error-wrapper>
            </div>
            <div class="form-group mt-3">
              <label class="form-label">Address: </label>
              <textarea class="form-control" formControlName="address"></textarea>
            </div>
            <div class="form-group row my-2">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Mobile: </label>
                  <app-form-error-wrapper [control]="profileForm.controls['mobile']" [controlName]="'Mobile'">
                    <input type="text" class="form-control" formControlName="mobile" />
                  </app-form-error-wrapper>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Phone: </label>
                  <input type="text" class="form-control" formControlName="phone" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Award Amount: </label>
                  <app-form-error-wrapper [control]="profileForm.controls['award_amount']" [controlName]="'Award Amount'">
                    <input type="number" class="form-control" formControlName="award_amount" />
                  </app-form-error-wrapper>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Reward Amount: </label>
                  <app-form-error-wrapper [control]="profileForm.controls['reward_amount']" [controlName]="'Reward Amount'">
                  <input type="number" class="form-control" formControlName="reward_amount" />
                  </app-form-error-wrapper>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">City: </label>
                  <input type="text" class="form-control" formControlName="city" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Country: </label>
                  <input type="text" class="form-control" formControlName="country" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">ROI Wallet: </label>
                  <input type="number" class="form-control" formControlName="roi_wallet" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Binary Wallet: </label>
                  <input type="number" class="form-control" formControlName="binary_wallet" />
                </div>
              </div>
            </div>
            <div class="form-group row my-2">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Balance: </label>
                  <input type="number" class="form-control" formControlName="balance" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Daily ROI: </label>
                  <input type="number" class="form-control" formControlName="daily_roi" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Total Withdrawals: </label>
                  <input type="number" class="form-control" formControlName="total_withdrawals" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Total Deposits: </label>
                  <input type="number" class="form-control" formControlName="total_deposits" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Last Deposit: </label>
                  <input type="number" class="form-control" formControlName="last_deposit_amount" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Last Withdrawal: </label>
                  <input type="number" class="form-control" formControlName="daily_roi" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Referral Income: </label>
                  <input type="number" class="form-control" formControlName="referral_income" />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label class="form-label">Last Balanced Node Profit: </label>
                  <input type="number" class="form-control" formControlName="profit_from_last_balanced_node" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <label>
                  <input type="checkbox" value="Yes" formControlName="is_signup_fee_paid"
                    [checked]="activeProfile.is_signup_fee_paid == 'Yes'" />
                  $10 Signup Fee Paid
                </label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3 ml-auto text-right">
                <button id="js-login-btn" type="submit" class="btn btn-block btn-success btn-md mt-2"
                  [disabled]="!profileForm.valid">
                  Save Changes
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="client-kyc-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Client KYC Documents
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col text-right">
            <button class="btn btn-danger shadow-0 mr-3" (click)="changeKYCStatus(activeProfile, 'Failed')">
              <i class="fal fa-times"></i> Disapprove KYC
            </button>
            <button class="btn btn-success shadow-0" (click)="changeKYCStatus(activeProfile, 'Approved')">
              <i class="fal fa-check"></i> Approve KYC
            </button>
          </div>
        </div>
        <table id="dt-client-kyc" class=" my-4 table table-bordered table-hover table-striped w-100">
          <thead>
            <tr>
              <th>Document Type</th>
              <th>File</th>
              <th>Submitted On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doc of KYCDocuments">
              <td>{{ doc.document_type }}</td>
              <td>
                <a href="https://server.optionslegion.com/ClientsDocuments/{{
                    doc.document_file
                  }}" target="_blank">View</a>
              </td>
              <td>{{ doc.created_at | date: 'medium' }}</td>
            </tr>
            <tr *ngIf="KYCDocuments.length === 0">
              <td colspan="3" class="text-center">No documents</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="disable-2fa-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Disable Two Factor Authentication
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div *ngIf="alreadyDisabled">
          <p class="text-danger">Email 2fa is already disabled</p>
        </div>
        <div *ngIf="alreadyGoogleDisabled">
          <p class="text-danger">Google 2fa is already disabled</p>
        </div>
        <div class="row text-center">
          <div class="col">
            <button class="btn btn-danger shadow-0 mr-3" (click)="disableEmail2FA(activeProfile)">
              <i class="fal fa-times"></i> Disable Email 2FA
            </button>
            <button class="btn btn-danger shadow-0" (click)="disableGoogle2FA(activeProfile)">
              <i class="fal fa-times"></i> Disable Google 2FA
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
