<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let faq of faqs; let i = index">
        <div class="card-header" id="heading{{i}}">
            <a attr.data-target="#collapse{{i}}" href="javascript:void(0);" class="card-title" data-toggle="collapse" attr.aria-expanded="true" attr.aria-controls="collapse{{i}}">
                {{faq.question}}
            </a>
        </div>
        <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}" data-parent="#accordionExample">
            <div class="card-body" [innerHTML]="faq.answer"></div>
        </div>
    </div>
</div>
