.signIn {
    margin-bottom: 15px;
    display: block;
    font-size: 19px;
    font-weight: 400;
  }

  .login-register .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .login-register .form-horizontal label {
    margin-left: 5px;
  }

  .login-register .btn-info {
    margin-top: 20px;
  }

  .page-logo {
      padding: 7px 0 0 0;
  }

  .page-logo img {
      width: 110px;
  }

  .packages-table {
      margin-top: 100px;
      margin-bottom: 100px;
  }
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 15px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 40px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }



    .wrapper {
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        /* border: 1px solid red; */
        border-radius: 20px;
        width: 225px;
        height: 400px;
        background-size: 225px, 400px;
        background-repeat: no-repeat;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0), 0px 10px 13px -7px #000000;
    }

    .box_bronze {
        background-image: url('assets/theme/img/bronze-updated.png');
    }

    .box_silver {
        background-image: url('assets/theme/img/silver-updated.png');
    }

    .box_gold {
        background-image: url('assets/theme/img/gold-updated.png');
    }

    .box_diamond {
        background-image: url('assets/theme/img/diamond-updated.png');
    }

    .mt {
        width: 80%;
        padding-top: 210px;
        margin: auto;
    }

    .btn {
        border-radius: 50px;
    }

    ul {
        list-style: none;
        padding: 0;
        color: white;
    }
    li{
        font-size: 12px;
    }
