<div class="container wrapper">
    <div class="box box_bronze my-5">
        <div class="mt">
            <ul class="m-0">
                <li class="text-left">Monthly Income %5-6</li>
                <li class="text-left">Duration 24 months</li>
                <li class="text-left">Referral Income +10K %2</li>
                <li class="text-left">Binary Income %10</li>
                <li class="text-left">Brockrage %4 share with 40 levels</li>
                <li class="text-center"><a href="javascript:;" (click)="selectPackage(1)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
            </ul>

        </div>
    </div>
    <div class="box box_silver my-5">
        <div class="mt">
            <ul class="m-0">
              <li class="text-left">Monthly Income %6-7</li>
              <li class="text-left">Duration 24 months</li>
              <li class="text-left">Referral Income +10K %2</li>
              <li class="text-left">Binary Income %10</li>
              <li class="text-left">Brockrage %4 share with 40 levels</li>
                <li class="text-center"><a href="javascript:;" (click)="selectPackage(2)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
            </ul>
        </div>
    </div>
    <div class="box box_gold my-5">
        <div class="mt">
            <ul class="m-0">
              <li class="text-left">Monthly Income %7-8</li>
              <li class="text-left">Duration 24 months</li>
              <li class="text-left">Referral Income +10K %2</li>
              <li class="text-left">Binary Income %10</li>
              <li class="text-left">Brockrage %4 share with 40 levels</li>
                <li class="text-center"><a href="javascript:;" (click)="selectPackage(3)" class="btn btn-light w-75 my-3 ">SELECT PLAN</a></li>
            </ul>
        </div>
    </div>
    <div class="box box_diamond my-5">
        <div class="mt">
            <ul class="m-0">
              <li class="text-left">Monthly Income %8-9</li>
              <li class="text-left">Duration 24 months</li>
              <li class="text-left">Referral Income +10K %2</li>
              <li class="text-left">Binary Income %10</li>
              <li class="text-left">Brockrage %4 share with 40 levels</li>
                <li class=" text-center"><a href="javascript:;" (click)="selectPackage(4)" class="btn btn-light w-75 my-3">SELECT PLAN</a></li>
            </ul>
        </div>
    </div>
</div>
