<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorCode > 0">
  <strong>Oh snap!</strong>
  <!--Validation Errors-->
  <div *ngIf="errorCode == 422">
    <div *ngFor="let item of httpError.error | keyvalue">
      <p *ngFor="let error of item.value">{{ error }}</p>
    </div>
  </div>

  <!--Other Error-->
  <div *ngIf="errorCode != 422">
    <p>{{ httpError.error.error }}</p>
  </div>
</div>
