<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>


<div class="row">
    <div class="col-sm-12">
        <div id="panel-1" class="panel accounts-panel">
            <div class="panel-hdr">
                <h2 class="generics-title">
                    {{pageTitle}} <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="table-responsive my-3">
                        <table *ngIf="!loading" id="dt-clients" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                              <tr>
                                <th width="10%">ID</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th width="30%">EMAIL</th>
                                <th>REG.DATE</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let client of clients">
                                <td>
                                  <p class="pt-3">{{client.id}}</p>
                                </td>
                                <td>{{client.first_name}}</td>
                                <td>{{client.last_name}}</td>
                                <td>
                                  <div>
                                    <em>{{client.email}}</em>
                                  </div>
                                </td>
                                <td>{{client.created_at | date: 'medium'}}</td>
                                <td class="text-right">
                                  <div class="btn-group mt-2">
                                    <button type="button" class="btn btn-default"> Action </button>
                                    <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="javascript:;" (click)="markAsFeePaid(client)">Signup Fee Paid</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr *ngIf="!clients?.length">
                                <td colspan="5">
                                  <div class="text-center">No records</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>