<div class="row">
  <div class="col-sm-12 col-lg-12 col-xl-12 bg-white">
    <div class="jumbotron bg-danger text-white">
      <header class="p-5 ml-5">
        What is the difference Forex trading and<br />
        Binary Options trading?
      </header>
    </div>

    <div class="text-dark justify-content-center p-5">
      <p class="p-5 ml-5">
        New traders typically face a choice of whether they will trade forex or
        Binary Options. They may also consider stocks or futures, but since
        these endeavours are some capital intensive, forex and binary options
        are the most accessible to the average person. Although you can use the
        same charts for forex and binary trading, there are several difference
        between the two and these differences will likely appeal to different
        traders. Before trading either market with real money it is importance
        to have a plan for trading a reliable trading method and sound postion
        management.
      </p>
    </div>
    <div class="jumbotron bg-dark text-white ml-5 mr-5">
      <div class="row">
        <div class="col-md-7 justify-content-center">
          <h3 class="dispaly-2 ml-5" style="text-decoration: underline;
                text-underline-position: under;  text-decoration-color: red;">
            SIMILARTIES
          </h3>
          <h5 class="ml-5 pt-3">
            Before looking at how forex trading options trading differ, let's
            first address some general ways in which they similar.
          </h5>
          <div class="ml-5 mr-5">
            <p>
              <span style="color: red;">&#9642;</span> Both are tradable online
              and typically anytime the underlying asset market is open. For the
              forex market and binary forex options (usually) this means trading
              takes place around the clock during the week.
            </p>
            <p>
              <span style="color: red;">&#9642;</span> You can begin trading
              either market with a small amount of capital, usually around $100,
              sometimes less. Since you don't want to risk alot on each
              individual trades (See Determining Binary Options Position Size)
              likely you will want to start out with more trading capital than
              $100 through.
            </p>
            <p>
              <span style="color: red;">&#9642;</span> Both allow you make or
              lose money based on which way the asset moves currency or
              otherwise.
            </p>
            <p>
              <span style="color: red;">&#9642;</span> Both are tradable on
              short-term time frames, although with forex trading you can also
              take long term postions.
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <!-- <img src="./assets/images/mobile.jpeg" class="ml-3"> -->
          <div class="rounded position-relative">
            <img src="./assets/images/device-mt4-iphone.png" style="width: 250px;
            height: 300; margin-top: -130px;" />
          </div>
        </div>
      </div>
    </div>

    <div class="text-dark justify-content-center ml-5 mr-5">
      <div class="row">
        <h5 class="ml-5 p-5 pb-3">
          Binary options are short term financial instruments based on a simple
          yes or no question. It is cornprised of three elements;
        </h5>
        <div class="col-md-6 justify-content-center">
          <h3 class="dispaly-2 ml-5" style="text-decoration: underline;
                text-underline-position: under;  text-decoration-color: red;">
            DIFFERENCES
          </h3>
          <div class="ml-5 mr-5 mt-2">
            <p>
              <span style="color: red;">&#9642;</span> One major difference is
              that with binary options the risk and profit potential are both
              fixed at the outset of the trade. For example if a binary options
              pays out 80% to wining traders, then you that if you place $10 on
              a trade, you will either lose your$10 or make $8 (and of course
              you keep your initial $10 as well).
            </p>
            <p>
              <span style="color: red;">&#9642;</span> Forex trading is more
              variable. This can be good or bad depending on how the trader
              trades. A stop loss can be used to control risk, but market
              conditions may prevent the order from being executed at the
              expected price resulting in a larger then expexted loss. if a stop
              loss is not used, then the risk of the trade is unknown. A profit
              target can also be used to take profits at a certain price or
              percentage level, but there is no guarantee that price will be
              hit.
            </p>
            <p>
              <span style="color: red;">&#9642;</span> Binary options trading is
              simpler then forex trading because there is no variability, you
              know your risk and profit potential and when the options expires
              you either loss or gain the pre-determine amount. With forex
              trading you don't know your ultimate risk and profit untill you
              close the trade. But this can also be advantage depending on your
              trading level as afixed risk and profit of binary options offers
              little flexability in customizing risk relative to reward.
            </p>
            <p>
              <span style="color: red;">&#9642;</span> The risk and reward
              profiles for forex trading and binary options are also drastically
              different. With the firex market you can customise the potential
              reward relativity to risk. For example, you can place a trade and
              place a stop loss order which exposes you to a $100 loss, and at
              the same time placce a profit target at a price which will give
              you a $300 profit. The trade stays open untill one of the orders
              is hit, resulting in a $100 loss or $300 profit (or close to it).
            </p>
            <p>
              <span style="color: red;">&#9642;</span> With binary options
              trading on the other hand your risk is almost always more than
              your rewared. Binary options typically pay out 60% to 80%, but if
              you lose usually 100% of the money you place on the trade is gone
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="justify-content-center">
            <div class="ml-5 mr-5">
              <p>
                <span style="color: red;">&#9642;</span> With biaary options you
                will need a greater then 50% wining percentage on trade to
                breakeven (about 55% or higher depending on the payouts) and/or
                make a profit. With forex trading you can actually lose more
                trades than you win, but since you can customize your reward
                related to risk you could end up still making a profit.
              </p>
              <p>
                <span style="color: red;">&#9642;</span> Certaib trades will
                like the flexbility of forex trading, while others will
                appreciate the simple transparency of binary options's fixed
                risk and payouts.
              </p>
              <p>
                <span style="color: red;">&#9642;</span> Magnitude of price
                moves is another difference. When the underlying asset is barely
                moving a binary option will still pay out 60 to 80%, but forex
                traders are likely to be sidelined because there isn't enough
                volatility to make a decent profit.
              </p>
              <p>
                <span style="color: red;">&#9642;</span> When trading forex the
                magnitude of price moves matter. You not only need to pick which
                direction you think the market will move but also need to assess
                how far it may go-both for and against you.
              </p>
              <p>
                <span style="color: red;">&#9642;</span> With binary options the
                magnitude of the price move doesn't matter. If you buy a EUR/USD
                call option thinking the price will rise in the next 15 minutes,
                it doesn't matter if the price goes up 1 pip or 100, you still
                get the full payout and are exposed to a known risk (the amount
                you placed on the trade) if it drops 1 or 150 pips instead.
              </p>

              <p>
                <span style="color: red;">&#9642;</span> Another difference is
                the time frames available for trading. With forex trading you
                can take trades that last from 1 second to many months, and
                every conceivable time frame in between because you open and
                close the trade when you feel like it. With binary options you
                must trade on the time frame of the options provided to you.
              </p>

              <p>
                <span style="color: red;">&#9642;</span> Knowing definitively
                when your trade begins and ends will appeal to many traders, in
                which case they will likely be drawn to binaries. Others will
                prefer the flexibility of forex trading on any time frame they
                want, opening and closing positions at a time and price they
                determine.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron text-dark">
      <h3 class="ml-5 mr-5" style="text-decoration: underline;
        text-underline-position: under;  text-decoration-color: red;">
        BUT CAN YOU REALLY WIN?
      </h3>
      <p class="ml-5 p-0">
        This is not a definitive list of the similarities and differences
        between forex and Binary Options trading, but will likely help you on
        your way to making a choice.<br />
        Both the forex market and Binary Options provide profit potential.
        Binary Options are simpler and you always know your risk, profit
        potential and how long the trade will last. Forex trading is much more
        variable and there are more things to consider, such as when you will
        get in, when you will get out and how you will manage the trade in the
        mean time. This variability of forex and the simplicity of binaries both
        have advantages and disadvantages. Based on the differences assess which
        you prefer, or try a demo account with a forex broker and Binary Options
        broker to see which you like better and ultimately in which market you
        perform the best.
      </p>
    </div>

    <footer class="jumbotron bg-dark text-white p-3">
      <div class="row ml-5 mr-5">
        <div class="col-sm-4">
          <img style="margin-left:30px; width:50px; height:50px;
                margin-right: auto; display: block;" src="./assets/theme/img/logo.png" />
          <p>
            We provide trading solutions to our worldwide customers to trade in
            foreign exchange, crypto coins and bullion metals like gold and
            silver.
          </p>
        </div>

        <div class="col-sm-2">
          <ul class="list-unstyled">
            <h5>Quick Links</h5>
            <li>Home</li>
            <li>About</li>
            <li>News</li>
            <li>Foundation</li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul class="list-unstyled">
            <li>Webinars</li>
            <li>Contact</li>
            <li>Terms of use</li>
          </ul>
        </div>

        <div class="col-sm-4">
          <h4>Follow Us</h4>
          <a href="#">
            <img src="./assets/theme/img/icons/Facebook-color.svg" target="_blank" width="30" class="px-2" />
          </a>
          <a href="https://twitter.com/LegionOptions?s=08">
            <img src="./assets/theme/img/icons/Twitter-color.svg" target="_blank" width="30" class="px-2" />
          </a>
          <a href="https://www.instagram.com/optionslegion/?igshid=1f209jwb75d1m">
            <img src="./assets/theme/img/icons/Instagram-color.svg" target="_blank" width="30" class="px-2" />
          </a>
          <a href="https://www.linkedin.com/in/options-legion-561a8b1a7">
            <img src="./assets/theme/img/icons/LinkedIn-color.svg" target="_blank" width="30" class="px-2" /> </a><br />
          &copy; Copyright 2018 - Company Name. All rights reserved.
        </div>
      </div>
    </footer>
  </div>
</div>
