<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
  <div class="row">
    <div class="col-md-12" *ngIf="accountActivated">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <div class="d-flex align-items-center">
          <div class="alert-icon">
            <span class="icon-stack icon-stack-md">
              <i class="base-2 icon-stack-3x color-info-400"></i>
              <i class="base-10 text-white icon-stack-1x"></i>
              <i class="ni md-profile color-info-800 icon-stack-2x"></i>
            </span>
          </div>
          <div class="d-block ml-1">
            <span class="h4">Payment Successful</span>
            <br />
            Thank you for your payment, your account has been activated.
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-lg-7 hidden-sm-down">
      <h2 class="fs-xxl fw-500 mt-4 text-default">
        What is Options Legion?
        <small class="h3 fw-300 mt-3 mb-5 text-default opacity-60">
          Options Legion is a legal financial and investment company registered
          in Cyprus. We provide trading solutions to our worldwide customers to
          trade in foreign exchange, crypto coins and bullion metals like gold
          and silver. Our team of professionals is experienced in achieving the
          set goals and making good profits on their trades.
          <br />
          <br />
          We are made up of several expert, educated, experienced and skilled
          teams in market analysis. The expansiveness of markets, our large
          volume of capital and expertise helps us to secure and guaranty the
          return of our investors at the lowest possible risk. Not only it is
          experienced, it is well ahead of their competitors in gaining insight
          into new technological innovations and predicting the future course of
          the trading market.
        </small>
      </h2>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
      <h1 class="text-default fw-300 mb-3 d-sm-block d-md-none">
        Secure login
      </h1>
      <div class="card p-4 rounded-0">
        <div *ngIf="hasErrors">
          <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
        </div>
        <form ngNoForm action="https://perfectmoney.com/api/step1.asp" method="POST" id="perfectmoney_step_1"
          novalidate>
          <input type="hidden" name="PAYEE_ACCOUNT" value="U17502503" />
          <input type="hidden" name="PAYEE_NAME" value="OptionsLegion" />
          <input type="hidden" id="form_payment_id" name="PAYMENT_ID" value="" /><BR />
          <input type="hidden" id="form_payment_amount" name="PAYMENT_AMOUNT" value="10" /><BR />
          <input type="hidden" name="PAYMENT_UNITS" value="USD" />
          <input type="hidden" name="STATUS_URL" value="" />
          <input type="hidden" name="PAYMENT_URL" id="payment_url" value="" />
          <input type="hidden" name="PAYMENT_URL_METHOD" value="GET" />
          <input type="hidden" name="NOPAYMENT_URL" id="no_payment_url" value="" />
          <input type="hidden" name="NOPAYMENT_URL_METHOD" value="GET" />
          <input type="hidden" id="memo" name="SUGGESTED_MEMO" value="" />
          <input type="hidden" name="BAGGAGE_FIELDS" value="" />
          <input type="hidden" name="PAYMENT_METHOD" value="Pay Now!" />
        </form>
        <form id="js-login" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <div class="form-group">
            <label class="form-label" for="username">Email Address</label>
            <app-form-error-wrapper [control]="loginForm.controls['email']" [controlName]="'Email'">
              <input class="form-control" type="text" formControlName="email" placeholder="Email"/>
            </app-form-error-wrapper>
            <div class="help-block">Your unique email to app</div>
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <app-form-error-wrapper [control]="loginForm.controls['password']" [controlName]="'Password'">
              <input class="form-control" id="password" type="password" formControlName="password"
                placeholder="Password"/>
              <span toggle="#password" class="fal fa-fw fa-eye field-icon toggle-password"></span>
            </app-form-error-wrapper>
            <div class="help-block">Your password</div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-12 pr-lg-1 my-2">
              <button type="submit" [disabled]="isLoading" class="btn btn-success btn-block btn-lg shadow-0 rounded-0">
                SIGN IN NOW
              </button>
            </div>
          </div>
          <p class="text-center mt-1">OR</p>
          <div class="row no-gutters">
            <div class="col-lg-12 pr-lg-1">
              <a [routerLink]="['/register']" class="btn btn-default btn-block btn-lg shadow-0 rounded-0" >CREATE
                ACCOUNT</a>
            </div>
          </div>
          <div class="form-group text-left mt-3">
            <a [routerLink]="['/forgot-password']">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="payment-required" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <div class="alert-icon">
            <span class="icon-stack icon-stack-md">
              <i class="base-2 icon-stack-3x color-info-400"></i>
              <i class="base-10 text-white icon-stack-1x"></i>
              <i class="ni md-profile color-info-800 icon-stack-2x"></i>
            </span>
          </div>
          <div class="d-block ml-1">
            <span class="h4">Payment Required</span>
            <br />
            In order to continue please proceed to pay subscription fee. You can
            choose your preferred payment method below.
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="mt-2">
              <button class="btn btn-warning btn-block shadow-0" (click)="createDAIDepositForm()">
                DAI
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="mt-2">
              <button class="btn btn-success btn-block shadow-0" (click)="createCryptoDepositForm()">
                Tether
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
            <div class="mt-2">
              <button class="btn btn-danger btn-block shadow-0" (click)="initPerfectMoneyRequest()">
                Perfect Money
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showTetherForm">
          <div class="row my-5">
            <div class="col-12">
              <h1 class="text-cenetr">Tether Deposit</h1>
              <p>
                You can use the following Tether Wallet to send your coins, once
                you make the transaction please provide below the transaction
                details. Do not forget to provide your Transaction ID
              </p>
            </div>

            <div class="col-12">
              <div class="alert alert-info">
                <p>
                  Dear valued user,<br />
                  Please be aware that once you deposit the $10 subscription
                  fee, you have 48 hours to proceed with an investment. If you
                  fail to complete this within the 48 hour time period, your
                  account will be automatically blocked and a $20 penalty will
                  be issued.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div *ngIf="hasErrors">
                <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form [formGroup]="cryptoDepositForm">
                <div class="form-group">
                  <app-form-error-wrapper [control]="cryptoDepositForm.controls['email']" [controlName]="'Email'">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="cryptoDepositForm.controls['transaction_date']"
                    [controlName]="'Transaction Date'">
                    <label class="form-label" for="transaction_date">Transaction Date</label>
                    <input type="date" id="transaction_date" class="form-control" placeholder="Transaction Date"
                      formControlName="transaction_date" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="cryptoDepositForm.controls['amount']" [controlName]="'Amount'">
                    <label class="form-label" for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" placeholder="Amount"
                      formControlName="amount" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="cryptoDepositForm.controls['transaction_id']"
                    [controlName]="'Transaction ID'">
                    <label class="form-label" for="transaction_id">Transaction ID</label>
                    <textarea id="transaction_id" class="form-control" placeholder="Transaction ID"
                      formControlName="transaction_id"></textarea>
                  </app-form-error-wrapper>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6  ml-auto text-left">
                    <button type="submit" class="btn btn-block btn-success btn-md mt-3"
                      (click)="createCryptoDepositRequest()" [disabled]="!cryptoDepositForm.valid || requestInProgress">
                      Create Request
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="panel-1" class="panel">
                <div class="panel-container show">
                  <div class="panel-content">
                    <div class="alert alert-success">
                      <div class="d-flex align-items-center">
                        <div class="alert-icon">
                          <span class="icon-stack icon-stack-sm">
                            <i class="fab fa-bitcoin text-default"></i>
                          </span>
                        </div>
                        <div class="flex-1">
                          <span class="h5">Important!</span>
                          <ul>
                            <li>
                              Coins will be deposited after 12 network
                              confirmations.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="text-center">
                              <p class="text-muted">TRC20 Address</p>
                              <img src='https://chart.googleapis.com/chart?cht=qr&chl=0x3b95880b44bC84CAdf07605F7F8e0584d4DA4A64&chs=180x180&choe=UTF-8&chld=L|2' alt='Tether TRC 20 Wallet Address'>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p class="fw-700 pb-0 mb-0 mt-3">TRC20 Address:</p>
                            <p class="fs-lg my-2">
                              TAYZAfmaEWtphHKh1JN1khxGC4QrUwvKX1
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9 push-md-3">
                            <p class="fw-700 pb-0 mb-0 mt-3">
                              Send only USDT to this deposit address.
                            </p>
                            <p>
                              Sending coin or token other than USDT to this
                              address may result in the loss of your deposit.
                            </p>
                          </div>
                          <div class="col-md-3 pull-md-9">
                            <div class="text-right pr-5">
                              <img src="./assets/theme/img/tether-usdt-logo.png" width="50" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showDAIForm">
          <div class="row my-5">
            <div class="col-12">
              <h1 class="text-cenetr">DAI Deposit</h1>
              <p>
                You can use the following DAI Wallet to send your coins, once
                you make the transaction please provide below the transaction
                details. Do not forget to provide your Transaction ID
              </p>
            </div>

            <div class="col-12">
              <div class="alert alert-info">
                <p>
                  Dear valued user,<br />
                  Please be aware that once you deposit the $10 subscription
                  fee, you have 48 hours to proceed with an investment. If you
                  fail to complete this within the 48 hour time period, your
                  account will be automatically blocked and a $20 penalty will
                  be issued.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div *ngIf="hasErrors">
                <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form [formGroup]="DAIDepositForm">
                <div class="form-group">
                  <app-form-error-wrapper [control]="DAIDepositForm.controls['email']" [controlName]="'Email'">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="DAIDepositForm.controls['transaction_date']"
                    [controlName]="'Transaction Date'">
                    <label class="form-label" for="transaction_date">Transaction Date</label>
                    <input type="date" id="transaction_date" class="form-control" placeholder="Transaction Date"
                      formControlName="transaction_date" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="DAIDepositForm.controls['amount']" [controlName]="'Amount'">
                    <label class="form-label" for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" placeholder="Amount"
                      formControlName="amount" />
                  </app-form-error-wrapper>
                </div>
                <div class="form-group">
                  <app-form-error-wrapper [control]="DAIDepositForm.controls['transaction_id']"
                    [controlName]="'Transaction ID'">
                    <label class="form-label" for="transaction_id">Transaction ID</label>
                    <textarea id="transaction_id" class="form-control" placeholder="Transaction ID"
                      formControlName="transaction_id"></textarea>
                  </app-form-error-wrapper>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6  ml-auto text-left">
                    <button type="submit" class="btn btn-block btn-success btn-md mt-3"
                      (click)="createDAIDepositRequest()" [disabled]="!DAIDepositForm.valid || requestInProgress">
                      Create Request
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="panel-1" class="panel">
                <div class="panel-container show">
                  <div class="panel-content">
                    <div class="alert alert-success">
                      <div class="d-flex align-items-center">
                        <div class="alert-icon">
                          <span class="icon-stack icon-stack-sm">
                            <i class="fab fa-bitcoin text-default"></i>
                          </span>
                        </div>
                        <div class="flex-1">
                          <span class="h5">Important!</span>
                          <ul>
                            <li>
                              Coins will be deposited after 12 network
                              confirmations.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="text-center">
                              <p class="text-muted">DAI (BEP20) Address</p>
                              <img wit src="./assets/theme/img/dai_qrcode.jpeg" width="200" height="200"/>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p class="fw-700 pb-0 mb-0 mt-3">DAI Address:</p>
                            <p class="fs-lg my-2">
                              0xbd99758f184772E34830eA956b24f46c51AC0295
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9 push-md-3">
                            <p class="fw-700 pb-0 mb-0 mt-3">
                              Send only DAI to this deposit address.
                            </p>
                            <p>
                              Sending coin or token other than DAI to this
                              address may result in the loss of your deposit.
                            </p>
                          </div>
                          <div class="col-md-3 pull-md-9">
                            <div class="text-right pr-5">
                              <img src="./assets/theme/img/multi-collateral-dai-dai-logo.png" width="50" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="alert-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          {{ alert?.title }}
          <small class="m-0 text-muted" [innerHTML]="alert?.sub_title"></small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body" [innerHTML]="alert?.body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ alert?.close_text }}
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ alert?.ok_text }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="2fa-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Two Factor Authentication
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body">
            <app-two-fa [email]="loginFormData?.email" [password]="loginFormData?.password"></app-two-fa>
        </div>
      </div>
    </div>
  </div>
