<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="row">
  <app-client-dashboard-items [dashboardItem]="dashboardItem" class="col-sm-4 col-xl-4" *ngFor="let dashboardItem of dashboardItems"></app-client-dashboard-items>
</div>

<div id="signle-panel" class="panel">
  <div class="panel-hdr">
      <h2>
          Options Legion <span class="fw-300">Overview</span>
      </h2>
      <div class="panel-toolbar">
          <select class="custom-select custom-select-sm">
              <option selected="">This Month</option>
              <option value="1">This Week</option>
              <option value="2">Last Month</option>
              <option value="3">Last Week</option>
          </select>
      </div>
  </div>
  <div class="panel-container show">
      <div class="panel-content">
          <div class="row">
              <div class="col-md-6 col-xs-12">
                  <app-deposits-by-days-chart></app-deposits-by-days-chart>
              </div>
              <div class="col-md-6 col-xs-12">
                  <top-client-deposits-chart *ngIf="analysisReady" [topClientDeposits]="analysis?.top_client_deposits"></top-client-deposits-chart>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <app-deposit-widget class="dashboard-widget col-sm-12"></app-deposit-widget>
  <app-withdrawal-requests-widget class="dashboard-widget col-sm-12"></app-withdrawal-requests-widget>
</div>
