<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>

<div id="dashboard-panel-2" class="panel" *ngIf="isAdmin()">
  <div class="panel-hdr">
    <h2>
      <span class="fw-300">Filters</span>
    </h2>
  </div>
  <div class="panel-container" *ngIf="ready">
    <div class="panel-content">
      <form action="#" [formGroup]="withdrawalFilterForm" >
        <div class="row">
          <div class="col">
            <app-form-error-wrapper [control]="withdrawalFilterForm.controls['client_id']" [controlName]="'Filter'">
              <label class="form-label" for="id">Filter:</label>
              <input type="text" id="client_id" class="cfm form-control" placeholder="Filter"
                formControlName="client_id">
            </app-form-error-wrapper>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-sm-12">
            <label>&nbsp;</label>
            <button type="reset" (click)="clearFilters()"
              class="shadow-0 btn float-right btn-outline-danger">Clear</button>
            <label>&nbsp;</label>
            <button type="submit" (click)="applyFilers()"
              class="shadow-0 btn float-right btn-success mx-2">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fal fa-credit-card mr-1"></i>My Withdrawals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" routerLink="/portal/withdraw"><i
                class="fal fa-money-bill-alt mr-1"></i>Request a withdrawal</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
              <div class="col-sm-12">
                <div id="panel-1" class="panel">
                  <div class="panel-hdr">
                    <h2>
                      Investment History <span class="fw-300"><i>Overview</i></span>
                    </h2>
                    <div class="panel-toolbar">
                      <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Collapse"></button>
                      <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                  </div>
                  <div class="panel-container show">
                    <div class="panel-content">
                      <!-- datatable start -->
                      <div class="table-responsive">
                        <app-loading *ngIf="loading"></app-loading>
                        <!-- ADMIN TABLE START -->
                        <table id="tbl-investments" class="table table-bordered table-hover table-striped w-100"
                          *ngIf="isAdmin() && !loading">
                          <thead>
                            <tr>
                              <th>WD.ID</th>
                              <th>Date</th>
                              <th>Client</th>
                              <th>Method</th>
                              <th>Amount</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let withdrawal of withdrawals">
                              <td>{{withdrawal.id}}</td>
                              <td>{{withdrawal.date}}</td>
                              <td>{{withdrawal.first_name}} {{withdrawal.last_name}}
                                <div><small>Client ID: {{withdrawal.client_id}}</small></div>
                              </td>
                              <td>{{withdrawal.method.replace("_"," ")}}
                                <div>
                                  <small>{{withdrawal.wallet_address}}</small>
                                </div>
                                <div>
                                  <span class="{{getWalletClass(withdrawal)}}">{{withdrawal.wallet}} Wallet</span>
                                </div>
                              </td>
                              <td>${{withdrawal.amount}}</td>
                              <td><span class="{{typeClass(withdrawal)}}">{{withdrawal.status}}</span></td>
                              <td>
                                <div class="text-right">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-danger shadow-0">Action</button>
                                    <button type="button" class="btn btn-danger  shadow-0 dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" *ngIf="canBeCompleted(withdrawal)" href="javascript:;"
                                        (click)="processTransactionAsync(withdrawal, 'Complete')">Complete</a>
                                      <a class="dropdown-item" *ngIf="canBeCancelled(withdrawal)" href="javascript:;"
                                        (click)="processTransactionAsync(withdrawal, 'Cancel')">Cancel</a>
                                      <a class="dropdown-item"
                                        *ngIf="!canBeCancelled(withdrawal) && !canBeCompleted(withdrawal)"
                                        href="javascript:;">No Action</a>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr *ngIf="!withdrawals?.length">
                              <td colspan="7">
                                <div class="text-center">No records</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div *ngIf="isAdmin()" class="row pager my-3">
                          <div class="col-1"><label>Go To Page:
                              <select name="page" class="form-control" (change)="gotoPageByDropdown($event)">
                                <option *ngFor="let page of pages">
                                  {{page}}
                                </option>
                              </select>
                            </label>
                          </div>
                        </div>
                        <!-- ADMIN TABLE END -->

                        <table id="tbl-investments" class="table table-bordered table-hover table-striped w-100"
                          *ngIf="!isAdmin()">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Method</th>
                              <th>Amount</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let withdrawal of withdrawals">
                              <td>{{withdrawal.date}}</td>
                              <td>{{withdrawal.method.replace("_"," ")}}</td>
                              <td>${{withdrawal.amount}}</td>
                              <td><span class="{{typeClass(withdrawal)}}">{{withdrawal.status}}</span></td>
                            </tr>
                            <tr *ngIf="!withdrawals?.length">
                              <td colspan="4">
                                <div class="text-center">No records</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div *ngIf="!isAdmin()" class="row pager">
                          <div class="col-12 text-right">
                            <ul class="pagination pagination-sm">
                              <li class="page-item" *ngFor="let page of pages">
                                <a (click)="gotoPage(page)" class="page-link" href="javascript:;">{{page}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
