.profile-intro {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    .profile-name {
        color: #000;
        font-size: 16px;
        margin-top: 20px;
    }
}

.primary-nav {
background: none !important;
}

@media only screen and (max-width: 992px) {
    .primary-nav {
        height: 600px !important;
    }
}