<!-- BEGIN PRIMARY NAVIGATION -->
<nav id="js-primary-nav" class="primary-nav" role="navigation">
  <div class="profile-intro">
    <div><img src="/assets/images/user-icon-black.svg" class="profile-image rounded-circle"></div>
    <div class="profile-name">
        {{client?.profile?.first_name}} {{client?.profile?.last_name}}
        <p>OPL-{{client?.profile.id}}</p>
    </div>
    <a
      href="#"
      onclick="return false;"
      class="pull-trigger-btn"
      data-action="toggle"
      data-class="list-filter-active"
      data-target=".page-sidebar"
      data-focus="nav_filter_input"
    >
      <i class="fal fa-angle-down"></i>
    </a>
  </div>
  <ul id="js-nav-menu" class="nav-menu responsive-sidebar scroll">
    <li *ngFor="let navbarItem of NavbarItems" [ngClass]="{'nav-title': navbarItem.type === navType.NavTitle}"  [attr.data-module-id]="navbarItem.id">
      <a href="javascript:;" (click)="gotoPage(navbarItem)" *ngIf="navbarItem.type === navType.Menu">
        <i class="{{ navbarItem.icon }}"></i>
        <span class="nav-link-text d-flex justify-content-between"><span>{{ navbarItem.title }}</span> <span class="badge badge-pill badge-light" *ngIf="navbarItem.hasBadge && ready">{{messageCount?.count}}</span></span>
      </a>
      <ul *ngIf="navbarItem.type === navType.Menu && navbarItem.subMenu" >
        <li *ngFor="let subNavbarItem of navbarItem.subMenu" >
            <a href="javascript:;"  (click)="gotoPage(subNavbarItem)">
              <i class="{{ subNavbarItem.icon }}"></i>
                <span class="nav-link-text">{{ subNavbarItem.title }}</span>
            </a>
            <ul *ngIf="subNavbarItem.subMenu" >
                <li *ngFor="let subNavbarItem1 of subNavbarItem.subMenu" [attr.data-module-id]="subNavbarItem1.id">
                    <a href="javascript:;"(click)="gotoPage(subNavbarItem1)">
                        <span class="nav-link-text">{{ subNavbarItem1.title }}</span>
                    </a>
                </li>
            </ul>
        </li>
      </ul>
      <span *ngIf="navbarItem.type === navType.NavTitle">{{ navbarItem.title }}</span>
    </li>
  </ul>
  <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
<!-- END PRIMARY NAVIGATION -->
