<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>


<div class="row">
    <div class="col-sm-12">
        <div id="panel-1" class="panel accounts-panel">
            <div class="panel-hdr">
                <h2 class="generics-title">
                    {{pageTitle}} <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="table-responsive my-3">
                        <table *ngIf="!loading" id="dt-clients" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>MIN AMOUNT</th>
                                <th>MAX AMOUNT</th>
                                <th>MONTHLY INCOME</th>
                                <th>DURATION</th>
                                <th>REFERAL INCOME</th>
                                <th>BINARY INCOME</th>
                                <th>WITHDRAWAL FEE</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let package of packages">
                                <td>
                                  <p class="pt-3">{{package.id}}</p>
                                </td>
                                <td (click)="setPackage(package.id)" ><a href="javascript:void(0);" data-toggle="modal" data-target="#update-package-modal"
                                  class="btn-link font-weight-bold">{{package.name}}</a></td>
                                <td>{{package.min_amount | currency}}</td>
                                <td>{{package.max_amount | currency}}</td>
                                <td>
                                  <div>
                                    {{package.monthly_income | currency}}
                                  </div>
                                </td>
                                <td>{{package.duration}}</td>
                                <td>{{package.referral_income | currency}}</td>
                                <td>{{package.binary_income | currency}}</td>
                                <td>{{package.withdrawal_fee | currency}}</td>
                              </tr>
                              <tr *ngIf="!packages?.length">
                                <td colspan="10">
                                  <div class="text-center">No records</div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="update-package-modal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="ready">
  <div class="modal-dialog modal-lg" role="update-package">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Package</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="packageForm" id="update-package-form" (ngSubmit)="updatePackage()">
          <div *ngIf="hasErrors">
            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
          </div>
          <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Package Name: </label>
              <app-form-error-wrapper [control]="packageForm.controls['name']"
                [controlName]="'name'">
                <input type="text" id="name" class="form-control"
                  formControlName="name"/>
              </app-form-error-wrapper>
            </div>
            <div class="col-6">
              <label class="form-label">Duration: </label>
              <app-form-error-wrapper [control]="packageForm.controls['duration']"
                [controlName]="'duration'">
                <input type="number" id="duration" class="form-control"
                  formControlName="duration"/>
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Minimum Amount: </label>
              <app-form-error-wrapper [control]="packageForm.controls['min_amount']"
                [controlName]="'min_amount'">
                <input type="number" id="min_amount" class="form-control"
                  formControlName="min_amount"/>
              </app-form-error-wrapper>
            </div>
            <div class="col-6">
              <label class="form-label">Maximum Amount: </label>
              <app-form-error-wrapper [control]="packageForm.controls['max_amount']"
                [controlName]="'max_amount'">
                <input type="number" id="max_amount" class="form-control"
                  formControlName="max_amount"/>
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Referral Income: </label>
              <app-form-error-wrapper [control]="packageForm.controls['referral_income']"
                [controlName]="'referral_income'">
                <input type="number" id="referral_income" class="form-control"
                  formControlName="referral_income"/>
              </app-form-error-wrapper>
            </div>
            <div class="col-6">
              <label class="form-label">Binary Income: </label>
              <app-form-error-wrapper [control]="packageForm.controls['binary_income']"
                [controlName]="'binary_income'">
                <input type="number" id="binary_income" class="form-control"
                  formControlName="binary_income"/>
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Withdrawal Fee: </label>
              <app-form-error-wrapper [control]="packageForm.controls['withdrawal_fee']"
                [controlName]="'withdrawal_fee'">
                <input type="number" id="withdrawal_fee" class="form-control"
                  formControlName="withdrawal_fee"/>
              </app-form-error-wrapper>
            </div>
            <div class="col-6">
              <label class="form-label">Monthly Income: </label>
              <app-form-error-wrapper [control]="packageForm.controls['monthly_income']"
                [controlName]="'monthly_income'">
                <input type="number" id="monthly_income" class="form-control"
                  formControlName="monthly_income"/>
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-12 ml-auto text-right">
              <button id="js-login-btn-1" type="submit" class="btn btn-block btn-success btn-lg mt-3"
                [disabled]="!packageForm.valid">
                Update Package
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
