<div class="row">
  <div class="col-12" *ngIf="ready">
    <h1 class="subheader-title text-center">
        <span class="fw-300">{{tradeFeed.name}}</span>
    </h1>
    <h2 class="subheader-title text-center">
        <span class="fw-600">{{tradeFeed.price | currency}}</span>
    </h2>
    <form [formGroup]="tradeForm" *ngIf="ready">
        <input type="hidden" name="asset" id="asset" formControlName="asset" value="{{tradeFeed.name}}">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <app-form-error-wrapper [control]="tradeForm.controls['trade_type']"
                    [controlName]="'Select a trade type'">
                    <label class="form-label" for="trade_type">Type</label>
                    <select class="custom-select form-control form-control-lg rounded-0" formControlName="trade_type">
                        <option selected="" [ngValue]="null">Select Trade Type</option>
                        <option value="1">1 Minute</option>
                        <option value="5">5 Minutes</option>
                        <option value="10">10 Minutes</option>
                        <option value="15">15 Minutes</option>
                        <option value="30">30 Minutes</option>
                    </select>
                    </app-form-error-wrapper>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <app-form-error-wrapper [control]="tradeForm.controls['trade_amount']"
                    [controlName]="'Enter trade amount'">
                    <label class="form-label" for="trade_amount">Amount</label>
                    <input type="number" id="trade_amount" class="form-control" placeholder="Amount"
                        formControlName="trade_amount" />
                    </app-form-error-wrapper>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-6 ml-auto text-left" style="padding-right: 5px">
                <button type="submit" class="btn btn-block btn-success btn-lg mt-3"
                    (click)="createTrade('BUY')" [disabled]="!tradeForm.valid">
                    BUY
                </button>
            </div>
            <div class="col-md-6 ml-auto text-left" style="padding-left: 5px">
                <button type="submit" class="btn btn-block btn-danger btn-lg mt-3"
                    (click)="createTrade('SELL')" [disabled]="!tradeForm.valid">
                    SELL
                </button>
            </div>
        </div>
    </form>
  </div>
</div>
