.dashboard-item {
  padding: 10px 7px;
  border-radius: 10px;
  background-color: #fff;

  h5 {
      font-size: 18px;
      font-family: 'Poppins';
      margin: 0px;
      letter-spacing: 0px;
  }

  p {
      font-size: 16px;
      margin: 0px;
      font-weight: bold;
      margin-top: 5px;
  }
}
