<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="mb-2 row" *ngIf="ready">
  <div class="col-sm-6">
    <div class="p-3 bg-fusion-100 rounded overflow-hidden position-relative text-white mb-g">
        <div class="">
            <h3 class="display-4 d-block l-h-n m-0 fw-500" style="margin-left: 100px">
                {{client.profile?.binary_wallet || '0' | currency}}
                <small class="m-0 l-h-n">Binary Wallet</small>
            </h3>
            <a class="btn btn-sm btn-success my-2 shadow-0" (click)="reinvestFromWallet('binary')">Reinvest</a>
        </div>
        <i class="fal fa-users position-absolute pos-right pos-top" style="font-size:3rem; padding-right: 20px; margin-top: 20px;"></i>
        <div class="progress">
          <div class="progress-bar bg-danger-300 bg-warning-gradient" role="progressbar" [ngStyle]="{'width': binaryWalletProgressPercentage +'%'}" role="progressbar" [attr.aria-valuenow]="binaryWalletProgressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="p-3 bg-fusion-300 rounded overflow-hidden position-relative text-white mb-g">
        <div class="">
            <h3 class="display-4 d-block l-h-n m-0 fw-500" style="margin-left: 100px">
              {{client.profile?.roi_wallet || '0' | currency}}
                <small class="m-0 l-h-n">ROI Wallet</small>
            </h3>
            <a class="btn btn-sm btn-success my-2 shadow-0" (click)="reinvestFromWallet('roi')">Reinvest</a>
        </div>
        <i class="fal fa-database position-absolute pos-right pos-top" style="font-size:3rem; padding-right: 20px; margin-top: 20px;"></i>
        <div class="progress">
          <div class="progress-bar bg-danger-300 bg-warning-gradient" [ngStyle]="{'width': roiWalletProgressPercentage +'%'}" role="progressbar" [attr.aria-valuenow]="roiWalletProgressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
  </div>
</div>
<div class="alert alert-success">
    <div class="d-flex align-items-center">
    <div class="alert-icon">
        <span class="icon-stack icon-stack-sm">
        <i class="fab fa-bitcoin text-default"></i>
        </span>
    </div>
    <div class="flex-1">
        <span class="h5">Important!</span>
        <p>Dear Valued User,</p>

        <p>You can only send withdrawal requests on the 1st, 2nd and 3rd of each month. As for your binary wallet, you can send withdrawal requests every Monday.

        <br>
        Please note that it takes up to 12 business days for such requests to process. </p>

          <p>Kind regards,
          <br>
          Support Team</p>
    </div>
    </div>
</div>
  <div class="qr-code my-3" *ngIf="emailCode || emailCodeCrypto || emailCodeDAI">
    <div class="card shadow-0">
      <div class="card-body">
        <h5 class="card-title fw-500">
          Two-Factor Authentication
        </h5>
        <p class="text-muted">In order to proceed with your deposit please verify your two factor authentication. If you have enabled 2FA using Google Authenticator, please check Google Authenticator application for OTP. Otherwise you will receive an OTP on your email.
      </div>
      <div class="row my-5" *ngIf="emailCode">
        <div class="offset-sm-4 col-12 col-sm-4 text-center">
          <form [formGroup]="withdrawalWithPerfectMoney" novalidate="" (ngSubmit)="withdrawWithPerfectMoneyAsync()">
            <div *ngIf="showVerify">
              <div class="alert alert-danger">{{ httpError.error.error }}</div>
            </div>
            <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['code']" [controlName]="'code'">
              <input type="text" id="code" class="form-control form-control-lg" placeholder="Code"
                formControlName="code" />
            </app-form-error-wrapper>

            <input type="submit" class="validatePerfectMoney" [disabled]="submitted || !withdrawalWithPerfectMoney.valid"
              class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
          </form>
        </div>
      </div>
      <div class="row my-5" *ngIf="emailCodeCrypto">
        <div class="offset-sm-4 col-12 col-sm-4 text-center">
          <form [formGroup]="withdrawalWithCrypto" novalidate="" (ngSubmit)="withdrawWithCryptoAsync()">
            <div *ngIf="showVerifyCrypto">
              <div class="alert alert-danger">{{ httpError.error.error }}</div>
            </div>
            <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['code']" [controlName]="'code'">
              <input type="text" id="code" class="form-control form-control-lg" placeholder="Code"
                formControlName="code" />
            </app-form-error-wrapper>

            <input type="submit" id="validateCrypto" [disabled]="submitted || !withdrawalWithCrypto.valid"
              class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
          </form>
        </div>
      </div>
      <div class="row my-5" *ngIf="emailCodeDAI">
        <div class="offset-sm-4 col-12 col-sm-4 text-center">
          <form [formGroup]="withdrawalWithDAI" novalidate="" (ngSubmit)="withdrawWithDAIAsync()">
            <div *ngIf="showVerifyDAI">
              <div class="alert alert-danger">{{ httpError.error.error }}</div>
            </div>
            <app-form-error-wrapper [control]="withdrawalWithDAI.controls['code']" [controlName]="'code'">
              <input type="text" id="code" class="form-control form-control-lg" placeholder="Code"
                formControlName="code" />
            </app-form-error-wrapper>

            <input type="submit" id="validateDAI" [disabled]="submitted || !withdrawalWithDAI.valid"
              class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
          </form>
        </div>
      </div>
      <div class="row my-5" *ngIf="emailCodeWireTransfer">
        <div class="offset-sm-4 col-12 col-sm-4 text-center">
          <form [formGroup]="withdrawalWithWireTransferForm" novalidate="" (ngSubmit)="saveWitdrawalWithWireTransferAsync()">
            <div *ngIf="showVerifyWireTransfer">
              <div class="alert alert-danger">{{ httpError.error.error }}</div>
            </div>
            <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['code']" [controlName]="'code'">
              <input type="text" id="code" class="form-control form-control-lg" placeholder="Code"
                formControlName="code" />
            </app-form-error-wrapper>

            <input type="submit" id="validateWireTransfer" [disabled]="!withdrawalWithWireTransferForm.valid"
              class="my-2 shadow-0 btn btn-md btn-block btn-primary" value="Validate Code" />
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="panel-container col-12">
    <div class="panel-content">
      <div class="border px-3 pt-3 pb-0 rounded">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#js_pill_border_icon-1"><i
                class="fal fa-credit-card mr-1"></i>Withdraw With Perfect Money</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-3"><i
                class="fab fa-bitcoin mr-1"></i>Withdraw with Crypto Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-4"><i
                class="fab fa-bitcoin mr-1"></i>Withdraw with DAI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#js_pill_border_icon-2"><i
                class="fal fa-money-bill-alt mr-1"></i>Wire Transfer</a>
          </li>
        </ul>
        <div class="tab-content py-3">
          <div class="tab-pane fade show active" id="js_pill_border_icon-1" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                      <div *ngIf="hasErrors">
                        <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                      </div>
                      <div *ngIf="showVerifyMessage">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>Please Verify the OTP Code below!</strong>
                        </div>
                      </div>
                      <form [formGroup]="withdrawalWithPerfectMoney" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['wallet']" [controlName]="'Wallet'">
                            <label class="form-label" for="first_name">Wallet</label>
                            <select (change)="walletChanged($event, 'PerfectMoney')" class="form-control" formControlName="wallet">
                              <option value="">Select wallet to withdraw from</option>
                              <option value="{{wallet.type}}" *ngFor="let wallet of wallets">{{wallet.description}}</option>
                          </select>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                            <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['first_name']" [controlName]="'First Name'">
                              <label class="form-label" for="first_name">First Name</label>
                              <input type="text" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name"/>
                            </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                            <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['last_name']" [controlName]="'Last Name'">
                              <label class="form-label" for="last_name">Last Name</label>
                              <input type="text" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name"/>
                            </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['perfect_money_account']" [controlName]="'Account ID'">
                            <label class="form-label" for="perfect_money_account">Perfect Money Account#</label>
                            <input type="text" id="perfect_money_account" class="form-control" placeholder="Account ID" formControlName="perfect_money_account"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['amount']" [controlName]="'Amount'">
                            <label class="form-label" for="amount">Amount</label>
                            <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount" (input)="checkBalance($event.target.value, 'PerfectMoney')"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button type="submit" class="shadow-0 btn btn-block btn-danger btn-lg mt-3" (click)="withdrawWithPerfectMoneyAsync()" [disabled]="submitted || !withdrawalWithPerfectMoney.valid">
                              Submit Now
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="js_pill_border_icon-2" role="tabpanel">
            <div class="row">
              <div class="col-xl-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                        <div *ngIf="hasErrors">
                            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                        </div>
                        <div *ngIf="showVerifyMessage">
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Please Verify the OTP Code below!</strong>
                          </div>
                        </div>
                      <form [formGroup]="withdrawalWithWireTransferForm" *ngIf="ready">
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['wallet']" [controlName]="'Wallet'">
                            <label class="form-label" for="first_name">Wallet</label>
                            <select class="form-control" formControlName="wallet">
                              <option value="">Select wallet to withdraw from</option>
                              <option value="{{wallet.type}}" *ngFor="let wallet of wallets">{{wallet.description}}</option>
                          </select>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['amount']" [controlName]="'Amount'">
                            <label class="form-label" for="wire_amount">Amount</label>
                            <input type="number" id="wire_amount" class="form-control" placeholder="Amount" formControlName="amount" (input)="checkBalance($event.target.value, 'WireTransfer')"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['bank_name']" [controlName]="'Bank'">
                            <label class="form-label" for="bank_name">Bank Name</label>
                            <input type="text" id="bank_name" class="form-control" placeholder="Bank Name" formControlName="bank_name"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['bank_country']" [controlName]="'Bank Country'">
                            <label class="form-label" for="bank_country">Bank Country</label>
                            <input type="text" id="bank_country" class="form-control" placeholder="Country" formControlName="bank_country"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['bank_address']" [controlName]="'Bank Address'">
                            <label class="form-label" for="bank_address">Bank Address</label>
                            <input type="text" id="bank_address" class="form-control" placeholder="Bank Address" formControlName="bank_address"/>
                          </app-form-error-wrapper>
                        </div>

                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['iban']" [controlName]="'IBAN'">
                            <label class="form-label" for="iban">Account Number / IBAN</label>
                            <input type="text" id="iban" class="form-control" placeholder="Account Number / IBAN" formControlName="iban"/>
                          </app-form-error-wrapper>
                        </div>

                        <div class="form-group">
                          <app-form-error-wrapper [control]="withdrawalWithWireTransferForm.controls['swift']" [controlName]="'swift'">
                            <label class="form-label" for="swift">Swift Code / BIC</label>
                            <input type="text" id="swift" class="form-control" placeholder="Swift Code / BIC" formControlName="swift"/>
                          </app-form-error-wrapper>
                        </div>
                        <div class="row no-gutters">
                          <div class="col-md-4 ml-auto text-left">
                            <button id="js-login-btn" type="submit" class="shadow-0 btn btn-block btn-danger btn-lg mt-3" [disabled]="submitted || !withdrawalWithWireTransferForm.valid" (click)="saveWitdrawalWithWireTransferAsync()">
                              Submit Now
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Wire End--->

          <!--Crypto Start--->
          <div class="tab-pane fade" id="js_pill_border_icon-3" role="tabpanel">
            <div class="row">
              <div class="col-xl-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                        <div *ngIf="hasErrors">
                            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                         </div>
                         <div *ngIf="showVerifyMessage">
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Please Verify the OTP Code below!</strong>
                          </div>
                        </div>
                        <form [formGroup]="withdrawalWithCrypto" *ngIf="ready">
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['wallet']" [controlName]="'Wallet'">
                                <label class="form-label" for="first_name">Wallet</label>
                                <select class="form-control" formControlName="wallet">
                                  <option value="">Select wallet to withdraw from</option>
                                  <option value="{{wallet.type}}" *ngFor="let wallet of wallets">{{wallet.description}}</option>
                              </select>
                              </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['first_name']" [controlName]="'First Name'">
                                  <label class="form-label" for="first_name">First Name</label>
                                  <input type="text" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['last_name']" [controlName]="'Last Name'">
                                  <label class="form-label" for="last_name">Last Name</label>
                                  <input type="text" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['wallet_address']" [controlName]="'Wallet address'">
                                <label class="form-label" for="wallet_address">Tether Wallet Address</label>
                                <input type="text" id="wallet_address" class="form-control" placeholder="Tether Wallet address" formControlName="wallet_address"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithCrypto.controls['amount']" [controlName]="'Amount'">
                                <label class="form-label" for="amount">Amount</label>
                                <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount" (input)="checkBalance($event.target.value, 'Crypto')"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="row no-gutters">
                              <div class="col-md-4 ml-auto text-left">
                                <button type="submit" class="shadow-0 btn btn-block btn-danger btn-lg mt-3" (click)="withdrawWithCryptoAsync()" [disabled]="submitted || !withdrawalWithCrypto.valid">
                                  Submit Now
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Crypto End-->
           <!--DAI Start--->
           <div class="tab-pane fade" id="js_pill_border_icon-4" role="tabpanel">
            <div class="row">
              <div class="col-xl-12">
                <div id="panel-1" class="panel">
                  <div class="panel-container show">
                    <div class="panel-content">
                        <div *ngIf="hasErrors">
                            <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
                         </div>
                         <div *ngIf="showVerifyMessage">
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Please Verify the OTP Code below!</strong>
                          </div>
                        </div>
                        <form [formGroup]="withdrawalWithDAI" *ngIf="ready">
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithPerfectMoney.controls['wallet']" [controlName]="'Wallet'">
                                <label class="form-label" for="first_name">Wallet</label>
                                <select class="form-control" formControlName="wallet">
                                  <option value="">Select wallet to withdraw from</option>
                                  <option value="{{wallet.type}}" *ngFor="let wallet of wallets">{{wallet.description}}</option>
                              </select>
                              </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithDAI.controls['first_name']" [controlName]="'First Name'">
                                  <label class="form-label" for="first_name">First Name</label>
                                  <input type="text" id="first_name" class="form-control" placeholder="First Name" formControlName="first_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                                <app-form-error-wrapper [control]="withdrawalWithDAI.controls['last_name']" [controlName]="'Last Name'">
                                  <label class="form-label" for="last_name">Last Name</label>
                                  <input type="text" id="last_name" class="form-control" placeholder="Last Name" formControlName="last_name"/>
                                </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithDAI.controls['wallet_address']" [controlName]="'Wallet address'">
                                <label class="form-label" for="wallet_address">DAI Wallet Address</label>
                                <input type="text" id="wallet_address" class="form-control" placeholder="DAI Wallet address" formControlName="wallet_address"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="form-group">
                              <app-form-error-wrapper [control]="withdrawalWithDAI.controls['amount']" [controlName]="'Amount'">
                                <label class="form-label" for="amount">Amount</label>
                                <input type="number" id="amount" class="form-control" placeholder="Amount" formControlName="amount" (input)="checkBalance($event.target.value, 'DAI')"/>
                              </app-form-error-wrapper>
                            </div>
                            <div class="row no-gutters">
                              <div class="col-md-4 ml-auto text-left">
                                <button type="submit" class="shadow-0 btn btn-block btn-danger btn-lg mt-3" (click)="withdrawWithDAIAsync()" [disabled]="submitted || !withdrawalWithDAI.valid">
                                  Submit Now
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--DAI End-->
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="reinvest-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Are you sure?
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-muted">Are you sure you want to reinvest ${{reinvestAmount}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg shadow-0" [disabled]="loading" (click)="confirmReinvestmentFromWallet()">
          <span *ngIf="!loading">Yes, I am sure</span>
          <span *ngIf="loading">Processing, please wait...</span>
        </button>
        <button type="button" class="btn btn-default btn-lg shadow-0" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
