<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>


<div class="row">
    <div class="col-sm-12">
        <div id="panel-1" class="panel accounts-panel">
            <div class="panel-hdr">
                <h2 class="generics-title">
                    {{pageTitle}} <span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="table-responsive my-3">
                        <table *ngIf="!loading" id="dt-clients" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>CLIENT</th>
                                <th>DOCUMENT FILE</th>
                                <th>DOCUMENT TYPE</th>
                                <th>DOCUMENT STATUS</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let doc of KYCDocuments; let i = index">
                                <td><a [routerLink]="['/portal/client-dashboard/summary',doc.client?.id]" href="">OPL-
                                  {{doc.client?.id}}</a></td>
                                <td>{{ doc.client?.first_name + ' ' + doc.client?.last_name }}</td>
                                <td>
                                  <a href="https://server.optionslegion.com/ClientsDocuments/{{
                                      doc.document_file
                                    }}" target="_blank">View</a>
                                </td>
                                <td>{{ doc.document_type }}</td>
                                <td><span class="badge  badge-pill" [ngClass]="(doc.client?.kyc_verified === 1) ? 'badge-success' : 'badge-danger'">
                                  {{(doc.client?.kyc_verified === 1) ? 'KYC Verified': 'KYC Not Verified'}}</span></td>
                              </tr>
                              <tr *ngIf="KYCDocuments.length === 0">
                                <td colspan="5" class="text-center">No documents</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
