<h3 class="fw-300 text-uppercase">Top Client Deposits</h3>
<div class="row ">
    <div class="col-md-12 d-flex align-items-center">
        <div id="flotPie" class="w-100" style="height:250px"></div>
    </div>
</div>
