<article class="error-box text-center my-5">
  <h1>We&rsquo;ll be back soon!</h1>
  <div>
      <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. If you need to you can always <a href="mailto:#">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
      <p>&mdash; The Options Legion Team</p>
  </div>
</article>
