.icon {
    height: 56px;
    width: 56px;
    background-size: 100%;
}

.commissions {
    background-image: url("assets/images/commission-icon.png");
}

.daily-income {
    background-image: url("assets/images/daily-income-icon.png");
}

.left-referrals {
    background-image: url("assets/images/left-referral-icon.png");
}

.right-referrals {
    background-image: url("assets/images/right-referral-icon.png");
}

.withdrawals {
    background-image: url("assets/images/total-withdrawals-icon.png");
}

.deposits {
    background-image: url("assets/images/total-deposit-icon.png");
}

.bg-2 {
    background-image: url("assets/theme/img/card-backgrounds/2.jpg");
    border: 1px solid #d1d0d0;
}

.bg-3 {
    background-image: url("assets/theme/img/card-backgrounds/3.jpg");
    border: 1px solid #d1d0d0;
}

.bg-4 {
    background-image: url("assets/theme/img/card-backgrounds/4.jpg");
    border: 1px solid #d1d0d0;
}

.bg-5 {
    background-image: url("assets/theme/img/card-backgrounds/5.jpg");
    border: 1px solid #d1d0d0;
}

.bg-6 {
    background-image: url("assets/theme/img/card-backgrounds/6.jpg");
    border: 1px solid #d1d0d0;
}

.dashboard-item {
    padding: 10px 7px;
    border-radius: 10px;
    background-color: #fff;

    h5 {
        font-size: 18px;
        font-family: 'Poppins';
        margin: 0px;
        letter-spacing: 0px;
    }

    p {
        font-size: 16px;
        margin: 0px;
        font-weight: bold;
        margin-top: 5px;
    }
}