<!-- <div class="p-3 rounded overflow-hidden position-relative text-white mb-g p-3 {{dashboardItem.background_class}}">
  <h3 class="d-block l-h-n m-0 fw-500" style="font-size:1.5rem">
    {{ dashboardItem.value }}
    <small class="m-0 l-h-n"style="font-size:1.5rem">{{ dashboardItem.name }}</small>
  </h3>
  <i class="fal {{dashboardItem.icon}} position-absolute pos-right pos-top opacity-10 mb-n1 mr-n1" style="font-size:6.5rem"></i>
</div> -->

<div class="dashboard-item">
    <div class="float-left">
        <h5>{{ dashboardItem.name }}</h5>
        <p>{{ dashboardItem.value }}</p>
    </div>
    <div class="float-right icon" [ngStyle]="{'background-image': 'url(' + dashboardItem.icon + ')'}"></div>
    <div class="clearfix">&nbsp;</div>
</div>