/* You can add global styles to this file, and also import other style files */

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .panel-fixed-height {
    height: 650px;
  }

    .btn-lg {
        padding: 0.50rem .75rem;
    }
}

@media (min-width: 320px) {
    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    .ml-xs-4 {
        margin-left: 2rem;
    }
}

@media (min-width: 450px) {
    .mobile-show {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .ml-xs-4 {
        margin-left: 0rem;
    }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .panel-fixed-height {
    height: 590px;
  }

  .btn-lg {
    padding: 0.75rem 1.5rem;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

.field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
