<app-sub-header [title]="pageTitle" [icon]="pageIcon"></app-sub-header>
<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- profile summary -->
      <div class="card mb-g rounded-top">
        <div class="row no-gutters row-grid">
          <div class="col-12">
            <div class="d-flex flex-column align-items-center justify-content-center p-4">
              <img src="/assets/images/user-icon-black.svg"
                class="rounded-circle shadow-2 img-thumbnail" alt="" />
              <h5 class="mb-0 fw-700 text-center mt-3">
                {{client?.profile.first_name}} {{client?.profile.last_name}}
                <small class="text-muted mb-0">{{client?.profile.city}}, {{client?.profile.country}}</small>
              </h5>
              <div class="mt-4 text-center demo">
                <a href="javascript:void(0);" class="fs-xl" style="color:#3b5998">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#38A1F3">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="javascript:void(0);" class="fs-xl" style="color:#0077B5">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center py-3">
              <h5 class="mb-0 fw-700">
                $0
                <small class="text-muted mb-0">Total Profit</small>
              </h5>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center py-3">
              <h5 class="mb-0 fw-700">
                {{client?.profile.balance | currency}}
                <small class="text-muted mb-0">Available Balance</small>
              </h5>
            </div>
          </div>
          <div class="col-12">
            <div class="p-3 text-center">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#password_model" class="btn-link font-weight-bold">Change Password</a>
            </div>
          </div>
        </div>
      </div>
      <!-- contacts -->
      <div class="card mb-g">
        <div class="row row-grid no-gutters">
          <div class="col-12">
            <div class="p-3">
              <h2 class="mb-0 fs-xl">
                My Network
              </h2>
            </div>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-b.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Oliver Kopyov</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-c.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Sesha Gray</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-a.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Preny Amdaney</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-e.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Dr. John Cook PhD</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-h.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Sarah McBrook</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-i.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Jimmy Fellan</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-j.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Arica Grace</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-k.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Jim Ketty</span>
            </a>
          </div>
          <div class="col-4">
            <a href="javascript:void(0);" class="text-center p-3 d-flex flex-column hover-highlight">
              <span class="profile-image rounded-circle d-block m-auto"
                style="background-image:url('assets/theme/img/demo/avatars/avatar-g.png'); background-size: cover;"></span>
              <span class="d-block text-truncate text-muted fs-xs mt-1">Ali Grey</span>
            </a>
          </div>
          <div class="col-12">
            <div class="p-3 text-center">
              <a href="javascript:void(0);" class="btn-link font-weight-bold">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card p-4 rounded-plus bg-faded" *ngIf="ready">
        <div *ngIf="hasErrors">
          <app-request-error-alert [httpError]="httpError"></app-request-error-alert>
        </div>
        <form [formGroup]="profileForm" id="js-login" novalidate="" (ngSubmit)="updateProfile()">
          <div class="form-group row">
            <label class="col-xl-12 form-label" for="fname">Your first and last name</label>
            <div class="col-6 pr-1">
              <app-form-error-wrapper [control]="profileForm.controls['first_name']" [controlName]="'First Name'">
                <input type="text" id="first_name" class="form-control" placeholder="First Name"
                  formControlName="first_name" />
              </app-form-error-wrapper>
            </div>
            <div class="col-6 pl-1">
              <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Last Name'">
                <input type="text" id="last_name" class="form-control" placeholder="Last Name"
                  formControlName="last_name" />
              </app-form-error-wrapper>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="emailverify">Email</label>
            <app-form-error-wrapper [control]="profileForm.controls['last_name']" [controlName]="'Email'">
              <input type="email" id="email" class="form-control" placeholder="Email for verification"
                formControlName="email" />
            </app-form-error-wrapper>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">Mobile: </label>
                <app-form-error-wrapper [control]="profileForm.controls['first_name']" [controlName]="'Mobile'">
                  <input type="text" class="form-control" formControlName="mobile" />
                </app-form-error-wrapper>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">Phone: </label>
                <input type="text" class="form-control" formControlName="phone" />
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="form-label">Address: </label>
            <textarea class="form-control" formControlName="address"></textarea>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">City: </label>
                <input type="text" class="form-control" formControlName="city" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">Country: </label>
                <input type="text" class="form-control" formControlName="country" />
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-6 ml-auto text-right">
              <button id="js-login-btn" type="submit" class="btn btn-block btn-success btn-lg mt-3" [disabled]="!profileForm.valid">
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="password_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
          </div>
          <div class="modal-body">
              <form id="js-login" novalidate="">
                  <div class="form-group">
                      <label class="form-label">Password: </label>
                      <input type="password" class="form-control" placeholder="minimm 8 characters" required>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Confirm Password: </label>
                      <input type="password" class="form-control" placeholder="minimm 8 characters" required>
                  </div>
                  <div class="row no-gutters">
                      <div class="col-md-4 ml-auto text-right">
                          <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">Save</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
