<div class="page-wrapper">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
          <div
            class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
              <img src="./assets/theme/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
              <span class="page-logo-text text-default mr-1" style="color: #333333">Options Legion</span>
            </a>
          </div>
          <span class="text-default opacity-60 ml-auto mr-2 hidden-sm-down">
            Dont have an account yet?
          </span>
          <a [routerLink]="['/client/register']" class="btn-link text-success ml-auto ml-sm-0">
            Create Account
          </a>
        </div>
      </div>
      <div class="flex-1">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12 ml-auto">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="d-flex align-items-center">
                        <div class="alert-icon">
                            <span class="icon-stack icon-stack-md">
                                <i class="base-2 icon-stack-3x color-info-400"></i>
                                <i class="base-10 text-white icon-stack-1x"></i>
                                <i class="ni md-profile color-info-800 icon-stack-2x"></i>
                            </span>
                        </div>
                        <div class="flex-1">
                            <span class="h4">OptionsLegion Webinars</span>
                            <br>
                            We will announce the timing of the Webinars as soon as possible.
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
